#include "i_sparam_const.inc"

LANGUAGE 0,0

IDD_SPARAM DIALOGEX 0, 0, 168, 31, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE  WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
//  PUSHBUTTON "open/close"  , IDC_CLOSE  ,  1, 116, 166, 14
  RTEXT      "wParam type", IDC_STAT_PAR,  1,  1,  63, 14, SS_CENTERIMAGE
  COMBOBOX                  IDC_FLAG_PAR, 66,  1, 102, 56, CBS_DROPDOWNLIST | WS_VSCROLL
//  RTEXT      "wParam"     , -1,             1, 116, 160,  8
  COMBOBOX                  IDC_EDIT_PAR,  1, 16, 166, 76, CBS_DROPDOWN | WS_VSCROLL | CBS_AUTOHSCROLL
  PUSHBUTTON "Structure"  , IDC_STRUCT  ,  1, 16, 166, 14
}

IDD_SRESULT DIALOGEX 0, 0, 168, 53, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE  WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  GROUPBOX     "Result"        , IDC_RES_GROUP  , 1,  0, 166, 50, WS_GROUP
  RTEXT        "Result type"   , IDC_RES_STAT   , 4,  9, 159, 11
  COMBOBOX                       IDC_RES_TYPE   , 4, 20, 159, 76, CBS_DROPDOWN | WS_VSCROLL | CBS_AUTOHSCROLL
  AUTOCHECKBOX "Free memory"   , IDC_RES_FREEMEM, 4, 36, 159, 11
}
