#define APSTUDIO_READONLY_SYMBOLS 0
#define IDB_BACK 1
#define IDB_CHAT 2
#define IDB_CLIST 3
#define IDB_DOWN 4
#define IDB_EDIT 5
#define IDB_HISTORY 6
#define IDB_MINUS 7
#define IDB_OPEN 8
#define IDB_PLUS 9
#define IDB_PREV 10
#define IDB_REPLY 11
#define IDB_SEND 12
#define IDB_UP 13
#define IDI_NOTICK 14
#define IDI_TICK 15
#define IDB_NEXT 16
#define IDB_STATUS_OFFLINE 17
#define IDB_STATUS_ONLINE 18
#define IDB_STATUS_AWAY 19
#define IDB_STATUS_NA 20
#define IDB_STATUS_OCCUPIED 21
#define IDB_STATUS_DND 22
#define IDB_STATUS_INVISIBLE 23
#define IDB_STATUS_FFC 24
#define IDB_EVENT_INFO 25
#define IDB_EVENT_CON 26
#define IDB_EVENT_USER 27
#define IDB_EVENT_MSG 28
#define IDB_EVENT_INFO_LARGE 29
#define IDB_EVENT_CON_LARGE 30
#define IDB_EVENT_USER_LARGE 31
#define IDB_EVENT_MSG_LARGE 32
#define IDD_FONTS 102
#define IDC_STATIC11 3000
#define IDC_STATIC12 3002
#define IDC_GRP3 3024
#define IDC_SHOW_LABELS 3001
#define IDC_STATIC13 3003
#define IDC_SAMPLE1 3004
#define IDC_CHOOSEFONT1 3005
#define IDC_STATIC15 3006
#define IDC_SAMPLE2 3007
#define IDC_CHOOSEFONT2 3008
#define IDC_STATIC17 3009
#define IDC_SAMPLE3 3010
#define IDC_CHOOSEFONT3 3011
#define IDC_STATIC14 3012
#define IDC_SAMPLE4 3013
#define IDC_CHOOSEFONT4 3014
#define IDC_STATIC16 3015
#define IDC_SAMPLE5 3016
#define IDC_CHOOSEFONT5 3017
#define IDC_CONTROL_BACKLIGHTS 3018
#define IDC_STC2 3019
#define IDC_HOOK_VOLUMEWHEEL 3020
#define IDC_TIMESTAMP_SECONDS 3021
#define IDC_TRANSITIONS 3022
#define IDC_CREDITS 3023
#define IDC_STC6 3025
#define IDC_STC7 3026
#define IDC_STC8 3027
#define IDC_STC9 3028
#define IDC_STC10 3029
#define IDC_DEVICE 3151
#define IDC_DEVICE_STATIC 3150
#define IDC_STC14 103
#define IDC_SCREENSAVER_LOCK 3998
#define IDC_SKIP_DRIVER_ERROR 3040
#define IDD_NOTIFICATIONS 103
#define IDC_STATIC18 4000
#define IDC_STATIC19 4007
#define IDC_NOTIFY_TITLEHIDE 4008
#define IDC_NOTIFY_TITLENAME 4009
#define IDC_NOTIFY_TITLEINFO 4010
#define IDC_STATIC20 4001
#define IDC_STATIC22 4004
#define IDC_NOTIFY_LOGSIZE 4002
#define IDC_NOTIFY_DURATION 4005
#define IDC_STATIC21 4003
#define IDC_STATIC23 4006
#define IDC_STATIC24 4011
#define IDC_NOTIFY_MESSAGES 4014
#define IDC_NOTIFY_SIGNOFF 4016
#define IDC_NOTIFY_STATUS 4017
#define IDC_NOTIFY_URL 4023
#define IDC_NOTIFY_CONTACTS 4018
#define IDC_NOTIFY_FILE 4019
#define IDC_NOTIFY_PROTO_SIGNOFF 4020
#define IDC_NOTIFY_PROTO_SIGNON 4021
#define IDC_NOTIFY_PROTO_STATUS 4022
#define IDC_STATIC25 4012
#define IDC_NOTIFY_SIGNON 4015
#define IDC_PROTOCOLS 4013
#define IDC_NOTIFY_SKIP_MESSAGES 4024
#define IDC_STC3 4030
#define IDC_NOTIFY_SKIP_STATUS 4025
#define IDC_GRP1 4026
#define IDC_NOTIFY_SKIP_SIGNON 4027
#define IDC_NOTIFY_SKIP_SIGNOFF 4028
#define IDC_NOTIFY_TIMESTAMPS 4029
#define IDC_NOTIFY_IRC_MESSAGES 4031
#define IDC_NOTIFY_IRC_USERS 4032
#define IDC_NOTIFY_IRC_EMOTES 4033
#define IDC_NOTIFY_IRC_STATUS 4034
#define IDC_STC4 4035
#define IDC_NOTIFY_IRC_NOTICES 4036
#define IDC_NOTIFY_IRC_CHANNEL 4037
#define IDC_NOTIFY_NICKCUTOFF 4038
#define IDC_NOTIFY_NICKCUTOFF_OFFSET 4039
#define IDC_STC11 4040
#define IDC_NOTIFY_SHOWPROTO 4045
#define IDC_NOTIFY_NO_SKIP_REPLY 4041
#define IDC_STC12 4042
#define IDC_STC13 104
#define IDC_NOTIFY_CHANNELCUTOFF 105
#define IDC_NOTIFY_CHANNELCUTOFF_OFFSET 106
#define IDD_CLIST 1001
#define IDC_STATIC9 2000
#define IDC_CLIST_SHOWPROTO 2001
#define IDC_CLIST_HIDEOFFLINE 2002
#define IDC_CLIST_USEIGNORE 2003
#define IDC_CLIST_USEGROUPS 2004
#define IDC_STATIC10 2005
#define IDC_CLIST_DRAWLINES 2006
#define IDC_CLIST_COUNTERS 2007
#define IDC_CLIST_POSITION 2008
#define IDC_STC1 2009
#define IDC_CLIST_GA_NONE 2010
#define IDC_CLIST_GA_COLLAPSE 2011
#define IDC_STC5 2014
#define IDC_CLIST_PROTOFILTER 2013
#define IDC_GRP2 2015
#define IDC_CLIST_GA_EXPAND 2012
#define IDC_CLIST_COLUMNS 2016
#define IDC_CLIST_SELECTION 2999
#define IDD_CHAT 100
#define IDC_STATIC1 1000
#define IDC_SESSION_SHOWTYPING 1001
#define IDC_SESSION_SENDTYPING 1002
#define IDC_STATIC2 1003
#define IDC_STATIC3 1004
#define IDC_MAXIMIZED_TITLE 1005
#define IDC_MAXIMIZED_LABELS 1006
#define IDC_STATIC4 1007
#define IDC_SESSION_LOADDB 1008
#define IDC_SESSION_MARKREAD 1009
#define IDC_SESSION_SCROLL_MAXIMIZED 1010
#define IDC_STATIC6 1011
#define IDC_SESSION_LOGSIZE 1012
#define IDC_STATIC5 1013
#define IDC_STATIC8 1014
#define IDC_SESSION_SCROLLNONE 1015
#define IDC_SESSION_SCROLLFIRST 1016
#define IDC_SESSION_SCROLLLAST 1017
#define IDC_STATIC7 1018
#define IDC_SESSION_SYMBOLS 1019
#define IDC_SESSION_SENDRETURN 1020
#define IDC_SESSION_REPLY_MAXIMIZED 1021
#define IDC_SESSION_TIMESTAMPS 1022
#define IDC_SESSION_CLOSE 1051
#define IDC_SESSION_CLOSETIMER 1052
#define IDC_STC16 1053
#define IDC_GRP4 1050
#include "..\src\resource.h"
IDB_BACK BITMAP DISCARDABLE "res/back.bmp"
IDB_CHAT BITMAP DISCARDABLE "res/chat.bmp"
IDB_CLIST BITMAP DISCARDABLE "res/clist.bmp"
IDB_DOWN BITMAP DISCARDABLE "res/down.bmp"
IDB_EDIT BITMAP DISCARDABLE "res/edit.bmp"
IDB_HISTORY BITMAP DISCARDABLE "res/hist.bmp"
IDB_MINUS BITMAP DISCARDABLE "res/minus.bmp"
IDB_OPEN BITMAP DISCARDABLE "res/open.bmp"
IDB_PLUS BITMAP DISCARDABLE "res/plus.bmp"
IDB_PREV BITMAP DISCARDABLE "res/prev.bmp"
IDB_REPLY BITMAP DISCARDABLE "res/reply.bmp"
IDB_SEND BITMAP DISCARDABLE "res/send.bmp"
IDB_UP BITMAP DISCARDABLE "res/up.bmp"
IDI_NOTICK ICON DISCARDABLE "res/notick.ico"
IDI_TICK ICON DISCARDABLE "res/tick.ico"
IDB_NEXT BITMAP DISCARDABLE "res/next.bmp"
IDB_STATUS_OFFLINE BITMAP DISCARDABLE "res/status/off.bmp"
IDB_STATUS_ONLINE BITMAP DISCARDABLE "res/status/on.bmp"
IDB_STATUS_AWAY BITMAP DISCARDABLE "res/status/away.bmp"
IDB_STATUS_NA BITMAP DISCARDABLE "res/status/na.bmp"
IDB_STATUS_OCCUPIED BITMAP DISCARDABLE "res/status/occ.bmp"
IDB_STATUS_DND BITMAP DISCARDABLE "res/status/dnd.bmp"
IDB_STATUS_INVISIBLE BITMAP DISCARDABLE "res/status/invis.bmp"
IDB_STATUS_FFC BITMAP DISCARDABLE "res/status/ffc.bmp"
IDB_EVENT_INFO BITMAP DISCARDABLE "res/events/info.bmp"
IDB_EVENT_CON BITMAP DISCARDABLE "res/events/conn.bmp"
IDB_EVENT_USER BITMAP DISCARDABLE "res/events/user.bmp"
IDB_EVENT_MSG BITMAP DISCARDABLE "res/events/msg.bmp"
IDB_EVENT_INFO_LARGE BITMAP DISCARDABLE "res/events/info_large.bmp"
IDB_EVENT_CON_LARGE BITMAP DISCARDABLE "res/events/conn_large.bmp"
IDB_EVENT_USER_LARGE BITMAP DISCARDABLE "res/events/user_large.bmp"
IDB_EVENT_MSG_LARGE BITMAP DISCARDABLE "res/events/msg_large.bmp"
IDD_FONTS DIALOGEX 0,0,302,244
CAPTION "Fonts"
FONT 8,"MS Shell Dlg",400,0,1
STYLE 0x80C00048
BEGIN
  CONTROL "General settings",IDC_STATIC11,"Button",0x50000007,0,0,300,111
  CONTROL "Show softkey labels",IDC_SHOW_LABELS,"Button",0x50010003,6,22,118,13
  CONTROL "Fonts",IDC_STATIC12,"Button",0x50000007,0,112,300,85
  CONTROL "Event log:",IDC_STATIC13,"Static",0x50020000,10,121,72,9
  CONTROL "Sample",IDC_SAMPLE1,"Static",0x50820201,10,131,72,13
  CONTROL "...",IDC_CHOOSEFONT1,"Button",0x50010000,88,131,18,13
  CONTROL "Message log:",IDC_STATIC15,"Static",0x50020000,10,147,72,9
  CONTROL "Sample",IDC_SAMPLE2,"Static",0x50820201,10,156,72,13
  CONTROL "...",IDC_CHOOSEFONT2,"Button",0x50010000,88,156,18,13
  CONTROL "Contact list:",IDC_STATIC17,"Static",0x50020000,10,171,72,9
  CONTROL "Sample",IDC_SAMPLE3,"Static",0x50820201,10,180,72,13
  CONTROL "...",IDC_CHOOSEFONT3,"Button",0x50010000,88,180,18,13
  CONTROL "Titles:",IDC_STATIC14,"Static",0x50020000,130,121,72,9
  CONTROL "Sample",IDC_SAMPLE4,"Static",0x50820201,130,131,72,13
  CONTROL "...",IDC_CHOOSEFONT4,"Button",0x50010000,208,131,18,13
  CONTROL "Notifications:",IDC_STATIC16,"Static",0x50020000,130,147,72,9
  CONTROL "Sample",IDC_SAMPLE5,"Static",0x50820201,130,156,72,13
  CONTROL "...",IDC_CHOOSEFONT5,"Button",0x50010000,208,156,18,13
  CONTROL "Turn off backlights",IDC_CONTROL_BACKLIGHTS,"Button",0x50010003,14,60,126,9
  CONTROL "If the applet is active:",IDC_STC2,"Static",0x50000000,6,79,124,9
  CONTROL "Use the VolumeWheel to scroll up and down (might affect system performance)",IDC_HOOK_VOLUMEWHEEL,"Button",0x50010003,14,88,266,9
  CONTROL "Show seconds in timestamps",IDC_TIMESTAMP_SECONDS,"Button",0x50010003,6,33,124,9
  CONTROL "Use transition effects when changing screens",IDC_TRANSITIONS,"Button",0x50010003,14,97,164,9
  CONTROL "Credits",IDC_CREDITS,"Button",0x50010000,110,230,90,11
  CONTROL "About",IDC_GRP3,"Button",0x50000007,0,199,300,44
  CONTROL "Mirandag15 + TrillianG15",IDC_STC6,"Static",0x50000201,80,204,136,8
  CONTROL "For updates and news check the thread on http://www.g15forums.com",IDC_STC7,"Static",0x50000001,2,212,292,9
  CONTROL "Or visit http://www.mkleinhans.de",IDC_STC8,"Static",0x50000001,2,221,290,8
  CONTROL "mail@mkleinhans.de",IDC_STC9,"Static",0x50000000,232,232,66,9
  CONTROL "© 2006 by Martin Kleinhans",IDC_STC10,"Static",0x50000000,2,232,90,9
  CONTROL "",IDC_DEVICE,"ComboBox",0x50010003,42,9,80,11
  CONTROL "Device:",IDC_DEVICE_STATIC,"Static",0x50000000,8,11,32,9
  CONTROL "If the screensaver is active:",IDC_STC14,"Static",0x50000000,6,51,124,9
  CONTROL "Lock the screen",IDC_SCREENSAVER_LOCK,"Button",0x50010003,14,70,126,9
  CONTROL "Skip driver missing notification",IDC_SKIP_DRIVER_ERROR,"Button",0x50010003,6,42,112,9
END
IDD_NOTIFICATIONS DIALOGEX 0,0,304,240
CAPTION "Notifications"
FONT 8,"MS Shell Dlg",400,0,1
STYLE 0x80C80048
BEGIN
  CONTROL "General settings",IDC_STATIC18,"Button",0x50000007,0,0,160,80
  CONTROL "Notification screen title",IDC_STATIC19,"Button",0x50000007,0,81,160,43
  CONTROL "Hide it",IDC_NOTIFY_TITLEHIDE,"Button",0x50010009,12,88,114,13
  CONTROL "Show the plugin name",IDC_NOTIFY_TITLENAME,"Button",0x50010009,12,99,114,11
  CONTROL "Show a short event summary",IDC_NOTIFY_TITLEINFO,"Button",0x50010009,12,110,114,11
  CONTROL "Size of the log",IDC_STATIC20,"Static",0x50020000,6,22,84,9
  CONTROL "Notification duration",IDC_STATIC22,"Static",0x50020000,6,33,86,11
  CONTROL "",IDC_NOTIFY_LOGSIZE,"Edit",0x50012080,102,20,22,11,0x00000200
  CONTROL "",IDC_NOTIFY_DURATION,"Edit",0x50012080,102,33,22,11,0x00000200
  CONTROL "events",IDC_STATIC21,"Static",0x50020000,126,22,24,13
  CONTROL "seconds",IDC_STATIC23,"Static",0x50020000,126,35,30,11
  CONTROL "Notification types",IDC_STATIC24,"Button",0x50000007,0,125,300,113
  CONTROL "Incoming messages",IDC_NOTIFY_MESSAGES,"Button",0x50010003,94,138,94,13
  CONTROL "Contact signs off",IDC_NOTIFY_SIGNOFF,"Button",0x50010003,194,166,100,13
  CONTROL "Contact changes status",IDC_NOTIFY_STATUS,"Button",0x50010003,194,177,100,13
  CONTROL "Incoming URL",IDC_NOTIFY_URL,"Button",0x50010003,194,132,100,13
  CONTROL "Contact list events",IDC_NOTIFY_CONTACTS,"Button",0x50010003,194,188,100,13
  CONTROL "Incoming file transfers",IDC_NOTIFY_FILE,"Button",0x50010003,194,144,100,13
  CONTROL "Protocol disconnected",IDC_NOTIFY_PROTO_SIGNOFF,"Button",0x50010003,194,199,102,13
  CONTROL "Protocol connected",IDC_NOTIFY_PROTO_SIGNON,"Button",0x50010003,194,210,102,13
  CONTROL "Protocol status changes",IDC_NOTIFY_PROTO_STATUS,"Button",0x50010003,194,221,102,11
  CONTROL "Show only events from the following protocols:",IDC_STATIC25,"Static",0x50020000,6,134,86,28
  CONTROL "Contact signs on",IDC_NOTIFY_SIGNON,"Button",0x50010003,194,155,98,13
  CONTROL "",IDC_PROTOCOLS,"SysTreeView32",0x50810001,6,162,84,70
  CONTROL "Incoming messages",IDC_NOTIFY_SKIP_MESSAGES,"Button",0x50010003,174,38,122,9
  CONTROL "When a chat session is active, skip the following notifications for that contact:",IDC_STC3,"Static",0x50000000,168,9,128,28
  CONTROL "Contact changes status",IDC_NOTIFY_SKIP_STATUS,"Button",0x50010003,174,48,122,9
  CONTROL "Chat session specific",IDC_GRP1,"Button",0x50000007,164,0,136,124
  CONTROL "Contact signs on",IDC_NOTIFY_SKIP_SIGNON,"Button",0x50010003,174,59,102,9
  CONTROL "Contact signs off",IDC_NOTIFY_SKIP_SIGNOFF,"Button",0x50010003,174,70,102,9
  CONTROL "Show timestamps",IDC_NOTIFY_TIMESTAMPS,"Button",0x50010003,6,9,102,9
  CONTROL "Messages",IDC_NOTIFY_IRC_MESSAGES,"Button",0x50010003,110,162,74,9
  CONTROL "User events",IDC_NOTIFY_IRC_USERS,"Button",0x50010003,110,184,76,9
  CONTROL "Emotes",IDC_NOTIFY_IRC_EMOTES,"Button",0x50010003,110,195,76,9
  CONTROL "Status changes",IDC_NOTIFY_IRC_STATUS,"Button",0x50010003,110,206,76,9
  CONTROL "Special IRC events:",IDC_STC4,"Static",0x50000000,110,151,64,9
  CONTROL "Notices",IDC_NOTIFY_IRC_NOTICES,"Button",0x50010003,110,173,74,9
  CONTROL "Channel events",IDC_NOTIFY_IRC_CHANNEL,"Button",0x50010003,110,217,76,9
  CONTROL "Cut off nicknames after",IDC_NOTIFY_NICKCUTOFF,"Button",0x50010003,4,46,90,9
  CONTROL "",IDC_NOTIFY_NICKCUTOFF_OFFSET,"Edit",0x50012080,102,46,22,11,0x00000200
  CONTROL "chars",IDC_STC11,"Static",0x50020000,126,48,30,9
  CONTROL "Show protocol labels",IDC_NOTIFY_SHOWPROTO,"Button",0x50010003,4,68,92,9
  CONTROL "Don't skip when replying",IDC_NOTIFY_NO_SKIP_REPLY,"Button",0x50010003,174,99,122,11
  CONTROL "Exceptions:",IDC_STC12,"Static",0x50000000,170,88,88,9
  CONTROL "chars",IDC_STC13,"Static",0x50020000,126,59,30,9
  CONTROL "Cut off channel names after",IDC_NOTIFY_CHANNELCUTOFF,"Button",0x50010003,4,57,90,9
  CONTROL "",IDC_NOTIFY_CHANNELCUTOFF_OFFSET,"Edit",0x50012080,102,57,22,11,0x00000200
END
IDD_CLIST DIALOGEX 0,0,304,179
CAPTION "Contact list"
FONT 8,"MS Shell Dlg",400,0,1
STYLE 0x80C80048
BEGIN
  CONTROL "General settings",IDC_STATIC9,"Button",0x50000007,0,0,174,135
  CONTROL "Show the contacts protocols",IDC_CLIST_SHOWPROTO,"Button",0x50010003,6,11,154,13
  CONTROL "Hide offline users",IDC_CLIST_HIDEOFFLINE,"Button",0x50010003,6,22,156,13
  CONTROL "Use ignore settings",IDC_CLIST_USEIGNORE,"Button",0x50010003,6,33,160,13
  CONTROL "Use groups/subgroups",IDC_CLIST_USEGROUPS,"Button",0x50010003,6,44,158,13
  CONTROL "Grouped mode",IDC_STATIC10,"Button",0x50000007,0,136,300,39
  CONTROL "Draw tree lines",IDC_CLIST_DRAWLINES,"Button",0x50010003,4,145,162,13
  CONTROL "Show counters behind group names",IDC_CLIST_COUNTERS,"Button",0x50010003,4,158,168,13
  CONTROL "Reset selection",IDC_CLIST_POSITION,"Button",0x50010003,14,90,146,11
  CONTROL "When opening the contact list screen:",IDC_STC1,"Static",0x50000000,6,81,156,9
  CONTROL "Don't change group states",IDC_CLIST_GA_NONE,"Button",0x50010009,14,101,146,9
  CONTROL "Collapse all groups",IDC_CLIST_GA_COLLAPSE,"Button",0x50010009,14,112,152,9
  CONTROL "Show only contacts from the following protocols:",IDC_STC5,"Static",0x50020000,192,9,94,24
  CONTROL "",IDC_CLIST_PROTOFILTER,"SysTreeView32",0x50810001,192,35,94,91
  CONTROL "Protocol filter",IDC_GRP2,"Button",0x50000007,176,0,122,135
  CONTROL "Expand all groups",IDC_CLIST_GA_EXPAND,"Button",0x50010009,14,123,136,9
  CONTROL "Use two columns",IDC_CLIST_COLUMNS,"Button",0x50010003,6,55,160,13
  CONTROL "Fade out selection rectangle",IDC_CLIST_SELECTION,"Button",0x50010003,6,66,160,13
END
IDD_CHAT DIALOGEX 0,0,302,193
CAPTION "Chat"
FONT 8,"MS Shell Dlg",400,0,1
STYLE 0x80C80048
BEGIN
  CONTROL "Typing notifications",IDC_STATIC1,"Button",0x50000007,160,105,140,33
  CONTROL "Show typing notifications",IDC_SESSION_SHOWTYPING,"Button",0x50010003,168,114,126,11
  CONTROL "Send typing notifications",IDC_SESSION_SENDTYPING,"Button",0x50010003,168,125,128,11
  CONTROL "Maximizing",IDC_STATIC2,"Button",0x50000007,0,105,156,33
  CONTROL "When maximized:",IDC_STATIC3,"Static",0x50020000,4,116,66,9
  CONTROL "Hide title",IDC_MAXIMIZED_TITLE,"Button",0x50010003,62,114,70,13
  CONTROL "Hide labels",IDC_MAXIMIZED_LABELS,"Button",0x50010003,62,125,68,11
  CONTROL "General settings",IDC_STATIC4,"Button",0x50000007,0,1,300,67
  CONTROL "Show only new messages",IDC_SESSION_LOADDB,"Button",0x50010003,6,9,144,13
  CONTROL "Mark incoming messages as read",IDC_SESSION_MARKREAD,"Button",0x50010003,6,20,148,13
  CONTROL "Maximized scrolling",IDC_SESSION_SCROLL_MAXIMIZED,"Button",0x50010003,6,42,148,11
  CONTROL "Size of the log:",IDC_STATIC6,"Static",0x50020000,6,55,84,9
  CONTROL "",IDC_SESSION_LOGSIZE,"Edit",0x50012080,96,53,30,11,0x00000200
  CONTROL "events",IDC_STATIC5,"Static",0x50020000,132,55,24,9
  CONTROL "On incoming messages:",IDC_STATIC8,"Static",0x50020000,156,11,132,11
  CONTROL "Do nothing",IDC_SESSION_SCROLLNONE,"Button",0x50010009,168,20,90,13
  CONTROL "Scroll to the first line",IDC_SESSION_SCROLLFIRST,"Button",0x50010009,168,31,108,13
  CONTROL "Scroll to the last line",IDC_SESSION_SCROLLLAST,"Button",0x50010009,168,42,90,13
  CONTROL "Replying",IDC_STATIC7,"Button",0x50000007,0,142,300,48
  CONTROL "Show line break indicators",IDC_SESSION_SYMBOLS,"Button",0x50010003,6,151,264,13
  CONTROL "Send messages with Enter, insert line breaks with Ctrl+Enter",IDC_SESSION_SENDRETURN,"Button",0x50010003,6,162,284,13
  CONTROL "Maximized replying",IDC_SESSION_REPLY_MAXIMIZED,"Button",0x50010003,6,173,274,13
  CONTROL "Show timestamps",IDC_SESSION_TIMESTAMPS,"Button",0x50010003,6,31,148,11
  CONTROL "Close chat after",IDC_SESSION_CLOSE,"Button",0x50010003,8,84,98,8
  CONTROL "",IDC_SESSION_CLOSETIMER,"Edit",0x50010000,112,83,30,11,0x00000200
  CONTROL "seconds",IDC_STC16,"Static",0x50000000,146,84,30,8
  CONTROL "When in background",IDC_GRP4,"Button",0x50000007,0,72,300,30
END
