#include "i_tconst.inc"

LANGUAGE 0,0

IDD_TASKS DIALOGEX 0, 0, 304, 226, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE  WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  CONTROL  "", IDC_TASK_NAME, "SysListView32",
           WS_BORDER | WS_TABSTOP |
           LVS_NOCOLUMNHEADER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_EDITLABELS,// | LVS_SINGLESEL,
           2, 2, 130, 174, WS_EX_CONTROLPARENT

  CTEXT    "Action",-1    , 140,  2, 160,  12, SS_CENTERIMAGE
  COMBOBOX IDC_TASK_ACTION, 140, 14, 160, 128, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL

  GROUPBOX "Start" , -1, 138, 30, 164, 54

  COMBOBOX IDC_TASK_ABSOLUTE, 142, 40, 156, 60, CBS_DROPDOWNLIST | WS_VSCROLL

  CTEXT    "Date", IDC_TASK_DATET, 140, 54, 76, 12, SS_CENTERIMAGE
  CONTROL  "Date", IDC_TASK_DATEV, "SysDateTimePick32", WS_TABSTOP, 150, 66, 56, 14

  CTEXT    "Days", IDC_TASK_DAYST, 140, 54, 76, 12, SS_CENTERIMAGE
  EDITTEXT         IDC_TASK_DAYSV, 162, 66, 32, 14

  CTEXT    "Time", IDC_TASK_TIMET, 220, 54, 76, 12, SS_CENTERIMAGE
  CONTROL  "Time", IDC_TASK_TIMEV, "SysDateTimePick32", WS_TABSTOP|$09, 230, 66, 56, 14
  
  GROUPBOX "Repeat" , -1, 138, 88, 164, 88

  CTEXT    "Repeat, times", -1, 140, 98, 70, 14, SS_CENTERIMAGE
  EDITTEXT IDC_TASK_REPEAT, 155, 114, 40, 14

  CTEXT    "Interval", -1, 212, 98, 84, 14, SS_CENTERIMAGE
  EDITTEXT IDC_TASK_INTDAYS, 212, 114, 24, 14
  CONTROL  "Interval", IDC_TASK_INTERVAL, "SysDateTimePick32", WS_TABSTOP|$09, 240, 114, 56, 14

  AUTOCHECKBOX "Break on non-zero result", IDC_TASK_BREAK, 142, 132, 156, 14
  AUTOCHECKBOX "Send event on start time", IDC_TASK_EVENT, 142, 146, 156, 14
  AUTOCHECKBOX "Send event just once"    , IDC_TASK_ONCE , 142, 160, 156, 14

  CONTROL  "New"   ,IDC_TASK_NEW   ,"MButtonClass",WS_TABSTOP, 2,178,16,16,$18000000
  CONTROL  "Delete",IDC_TASK_DELETE,"MButtonClass",WS_TABSTOP,22,178,16,16,$18000000
//  CONTROL  "Help"  ,IDC_EVENT_HELP ,"MButtonClass",WS_TABSTOP,42,164,16,16,$18000000
}
