af	ICON	"af_ZA.ico"
af_ZA	ICON	"af_ZA.ico"
ar	ICON	"ar_AR.ico"
ar_AR	ICON	"ar_AR.ico"
az	ICON	"az_AZ.ico"
az_AZ	ICON	"az_AZ.ico"
bg	ICON	"bg_BG.ico"
bg_BG	ICON	"bg_BG.ico"
bn_IN	ICON	"bn_IN.ico"
ca_ES	ICON	"ca_ES.ico"
cs	ICON	"cs_CZ.ico"
cs_CZ	ICON	"cs_CZ.ico"
csb_PO	ICON	"csb_PO.ico"
cy	ICON	"cy_GB.ico"
cy_GB	ICON	"cy_GB.ico"
da_DK	ICON	"da_DK.ico"
de	ICON	"de_DE.ico"
de_AT	ICON	"de_AT.ico"
de_CH	ICON	"de_CH.ico"
de_DE	ICON	"de_DE.ico"
el	ICON	"el_GR.ico"
el_GR	ICON	"el_GR.ico"
em_ET	ICON	"em_ET.ico"
en_AU	ICON	"en_AU.ico"
en_CA	ICON	"en_CA.ico"
en_GB	ICON	"en_GB.ico"
en_UK	ICON	"en_GB.ico"
en_NZ	ICON	"en_NZ.ico"
en_US	ICON	"en_US.ico"
en_ZA	ICON	"en_ZA.ico"
es	ICON	"es_ES.ico"
es_ES	ICON	"es_ES.ico"
es_MX	ICON	"es_MX.ico"
et_EE	ICON	"et_EE.ico"
fa_IR	ICON	"fa_IR.ico"
fi	ICON	"fi_FI.ico"
fi_FI	ICON	"fi_FI.ico"
fj	ICON	"fj_FJ.ico"
fj_FJ	ICON	"fj_FJ.ico"
fo	ICON	"fo_FO.ico"
fo_FO	ICON	"fo_FO.ico"
fr	ICON	"fr_FR.ico"
fr_BE	ICON	"fr_BE.ico"
fr_FR	ICON	"fr_FR.ico"
ga_IE	ICON	"ga_IE.ico"
gd_GB	ICON	"gd_GB.ico"
gl_ES	ICON	"gl_ES.ico"
he_IL	ICON	"he_IL.ico"
hi	ICON	"hi_IN.ico"
hi_IN	ICON	"hi_IN.ico"
hr	ICON	"hr_Hr.ico"
hr_Hr	ICON	"hr_Hr.ico"
hu	ICON	"hu_HU.ico"
hu_HU	ICON	"hu_HU.ico"
id	ICON	"id_ID.ico"
id_ID	ICON	"id_ID.ico"
is	ICON	"is_IS.ico"
is_IS	ICON	"is_IS.ico"
it	ICON	"it_IT.ico"
it_IT	ICON	"it_IT.ico"
km_KH	ICON	"km_KH.ico"
ku_TR	ICON	"ku_TR.ico"
lt	ICON	"lt_LT.ico"
lt_LT	ICON	"lt_LT.ico"
lu	ICON	"lu_LU.ico"
lu_LU	ICON	"lu_LU.ico"
lv	ICON	"lv_LV.ico"
lv_LV	ICON	"lv_LV.ico"
mg	ICON	"mg_MG.ico"
mg_MG	ICON	"mg_MG.ico"
mi_NZ	ICON	"mi_NZ.ico"
mn	ICON	"mn_MN.ico"
mn_MN	ICON	"mn_MN.ico"
mo_BF	ICON	"mo_BF.ico"
mr_IN	ICON	"mr_IN.ico"
ms_MY	ICON	"ms_MY.ico"
nb	ICON	"nb_NO.ico"
nb_NO	ICON	"nb_NO.ico"
ne_NP	ICON	"ne_NP.ico"
nl	ICON	"nl_NL.ico"
nl_NL	ICON	"nl_NL.ico"
nn_NO	ICON	"nn_NO.ico"
no	ICON	"nb_NO.ico"
nr_ZA	ICON	"nr_ZA.ico"
ns_ZA	ICON	"ns_ZA.ico"
or_IN	ICON	"or_IN.ico"
pl	ICON	"pl_PL.ico"
pl_PL	ICON	"pl_PL.ico"
pt	ICON	"pt_PT.ico"
pt_BR	ICON	"pt_BR.ico"
pt_PT	ICON	"pt_PT.ico"
qu_BO	ICON	"qu_BO.ico"
ro	ICON	"ro_RO.ico"
ro_RO	ICON	"ro_RO.ico"
ru	ICON	"ru_RU.ico"
ru_RU	ICON	"ru_RU.ico"
rw	ICON	"rw_RW.ico"
rw_RW	ICON	"rw_RW.ico"
sk	ICON	"sk_SK.ico"
sk_SK	ICON	"sk_SK.ico"
sl_SI	ICON	"sl_SI.ico"
ss_ZA	ICON	"ss_ZA.ico"
st_ZA	ICON	"st_ZA.ico"
sv	ICON	"sv_SE.ico"
sv_SE	ICON	"sv_SE.ico"
ta_IN	ICON	"ta_IN.ico"
tet_ID	ICON	"tet_ID.ico"
tl_PH	ICON	"tl_PH.ico"
tn_ZA	ICON	"tn_ZA.ico"
ts_ZA	ICON	"ts_ZA.ico"
uk_UA	ICON	"uk_UA.ico"
uz	ICON	"uz_UZ.ico"
uz_UZ	ICON	"uz_UZ.ico"
ve_ZA	ICON	"ve_ZA.ico"
vi	ICON	"vi_VI.ico"
vi_VI	ICON	"vi_VI.ico"
xh_ZA	ICON	"xh_ZA.ico"
zu_ZA	ICON	"zu_ZA.ico"
