#include "i_hconst.inc"

LANGUAGE 0,0

IDD_HOOKS DIALOGEX 0, 0, 304, 226, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE  WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  CONTROL  "", IDC_HOOKLIST, "SysListView32",
           WS_BORDER | WS_TABSTOP |
           LVS_SHOWSELALWAYS| LVS_REPORT | LVS_EDITLABELS,// | LVS_SINGLESEL 
           0, 2, 280, 160, WS_EX_CONTROLPARENT

  CONTROL  "Help"  ,IDC_EVENT_HELP ,"MButtonClass",WS_TABSTOP,284,  2,16,16,$18000000
  CONTROL  "Delete",IDC_HOOK_DELETE,"MButtonClass",WS_TABSTOP,284, 96,16,16,$18000000

  CONTROL  "New"   ,IDC_HOOK_NEW   ,"MButtonClass",WS_TABSTOP,284,126,16,16,$18000000
  CONTROL  "Apply" ,IDC_HOOK_APPLY ,"MButtonClass",WS_TABSTOP,284,146,16,16,$18000000

  CONTROL  "Help"  ,IDC_EVENT_CHELP,"MButtonClass",WS_TABSTOP,2  ,162,16,16,$18000000
  CTEXT    "Event"  ,-1  ,18, 165, 121,  11, SS_CENTERIMAGE
  COMBOBOX IDC_EVENTLIST , 0, 178, 157, 128, CBS_DROPDOWN | CBS_SORT | WS_VSCROLL
  CTEXT    "Action",-1   , 0, 195, 157,  11, SS_CENTERIMAGE
  COMBOBOX IDC_ACTIONLIST, 0, 208, 157, 128, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL

  LTEXT    "",IDC_DESCR, 160, 165, 138, 57
}
