101 DIALOGEX 0, 0, 264, 220
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Import history to "
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON      "Start",1001,2,204,50,14
    PUSHBUTTON      "Close",IDCLOSE,211,204,50,14
    LTEXT           "Choose a file...",1002,3,3,240,11,SS_SUNKEN
    PUSHBUTTON      "...",1003,244,3,17,11
    COMBOBOX        1004,3,16,258,80,CBS_DROPDOWNLIST | CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    LISTBOX         1005,3,42,258,150,LBS_NOINTEGRALHEIGHT | LBS_NOSEL | WS_VSCROLL | WS_TABSTOP
    CONTROL         "",1006,"msctls_progress32",0x1,3,194,258,8
	CHECKBOX        "Check for duplicates", 1007, 3, 29, 105, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
	CHECKBOX        "Show duplicates", 1008, 140, 29, 86, 12, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
END

110  ICON "ico\def_ico.ico"