// Microsoft Visual C++ generated resource script.
//
#ifdef APSTUDIO_INVOKED
#error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED

#include "..\..\include\m_version.h"
/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
#pragma code_page(1252)
#endif //_WIN32

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,0,1,12
 PRODUCTVERSION MIRANDA_VERSION_COREVERSION
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
				VALUE "CompanyName", "Miranda Open Source Project"
				VALUE "FileDescription", "ImportTXT plugin for Miranda NG"
				VALUE "FileVersion", "0.0.1.12"
				VALUE "InternalName", "importtxt"
				VALUE "LegalCopyright", "© 2008 Abyss"
				VALUE "LegalTrademarks", "Gnu General Public License V2"
				VALUE "OriginalFilename", "importtxt.dll"
				VALUE "ProductName", "Import TXT Module"
				VALUE "ProductVersion", "0.0.1.12"
				VALUE "Comments", "Imports history saved in TXT files from other clients"        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////
