// Microsoft Visual C++ generated resource script.
//
#ifdef APSTUDIO_INVOKED
#error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED

#include "afxres.h"
#include "..\src\version.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION __FILEVERSION_STRING
 PRODUCTVERSION __FILEVERSION_STRING
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "FileDescription", __DESCRIPTION
            VALUE "InternalName", __PLUGIN_NAME
            VALUE "LegalCopyright", __COPYRIGHT
            VALUE "OriginalFilename", __FILENAME
            VALUE "ProductName", __PLUGIN_NAME
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
