*.dll
*.exp
*.lib
*.pdb
*.ilk
.*.swp
*.user
/BuildLog.htm
*.o
*.so
.*.swo
.DS_Store
/luaffi.xcodeproj
*.ncb
*.sln
*.suo
*.dSYM
*.vcproj
/luaffi
/test_includes/
*.swp
*.dylib
/tmp
