#define IDC_STATIC -1
#define IDC_STC16 1001
#define IDC_INSTALLTYPE 1002

#include "resource.h"
#include "windows.h"

ID_OP ICON DISCARDABLE "x_fire16x16.ico"
IDI_TM ICON DISCARDABLE "d_xfire.ico"
IDI_ONLINE ICON DISCARDABLE "xfire online.ico"
IDI_OFFLINE ICON DISCARDABLE "xfire offline.ico"
IDI_AWAY ICON DISCARDABLE "xfire away.ico"

IDD_OPT DIALOGEX 0,0,304,218
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_CHILD|WS_VISIBLE|DS_FIXEDSYS
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
  CONTROL "",IDC_LOGIN,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,58,9,100,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_PASSWORD,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL|ES_PASSWORD,58,24,100,13,WS_EX_CLIENTEDGE
  CONTROL "Password:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|SS_RIGHT,4,25,52,9
  CONTROL "Loginname:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|SS_RIGHT,4,11,52,9
  CONTROL "XFire",IDC_GROUPMAIN,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|BS_GROUPBOX,2,1,160,54
  CONTROL "Nick:",IDC_STC1,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|SS_RIGHT,4,40,52,9
  CONTROL "",IDC_NICK,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,58,38,100,13,WS_EX_CLIENTEDGE
  CONTROL "Options",IDC_GRP1,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,57,300,100
  CONTROL "Disable Avatars",IDC_NOAV,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,8,66,266,9
  CONTROL "No Ip/Port in StatusMsg",IDC_NOIPPORT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,8,77,266,9
  CONTROL "Switch to Online instead of AFK on non supported Globalstatuses",IDC_ONINAFK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,8,88,268,9
  CONTROL "Icon Options *",IDC_GRP5,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,158,300,28
  CONTROL "Gameicon:",IDC_STC6,"Static",WS_CHILD|WS_VISIBLE,8,171,36,9
  CONTROL "",IDC_CBGICO,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,46,169,106,9
  CONTROL "Voiceicon:",IDC_STC8,"Static",WS_CHILD|WS_VISIBLE,154,171,36,9
  CONTROL "",IDC_CBVICO,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,192,169,106,9
  CONTROL "* requires Miranda restart",IDC_STC9,"Static",WS_CHILD|WS_VISIBLE,2,208,300,9
  CONTROL "Dont create automatically Clangroups",IDC_NOCLANGROUP,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,8,99,268,9
  CONTROL "Scan for games on every Miranda start",IDC_SCANALWAYS,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,8,110,268,9
  CONTROL "Files",IDC_GRP6,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,164,1,138,35
  CONTROL "xfire_games.ini",IDC_CHKG,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,170,12,118,9
  CONTROL "icons.dll",IDC_CHKI,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,170,24,128,9
  CONTROL "?",IDC_FINDFILES,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,290,7,10,9
  CONTROL "GameServerQuery support",IDC_GSQP,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,8,121,268,9
  CONTROL "Display Error and Infomessage:",IDC_STC12,"Static",WS_CHILD|WS_VISIBLE,128,144,170,9
  CONTROL "",IDC_NOMSG,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,230,142,66,9
  CONTROL "Setup your Games...",IDC_SETUPGAMES,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,210,188,94,19
  CONTROL "No custom away message",IDC_NOCUSTOMAWAY,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,8,132,110,9
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,1,3,11
PRODUCTVERSION 0,1,3,11
FILEOS 0x00040004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF04B0"
    BEGIN
      VALUE "About Miranda", "Miranda IM is a new generation IM client, extensible with numerous plugins. Get Miranda IM at http://www.miranda-im.org\0"
      VALUE "ProductName", "Plugin for Miranda IM\0"
      VALUE "OriginalFilename", "XFire.dll\0"
      VALUE "FileVersion", "0.1.3.11\0"
      VALUE "ProductVersion", "0.1.3.11\0"
      VALUE "FileDescription", "Miranda XFire Protocol plugin\0"
      VALUE "LegalCopyright", "Copyright © 2008 dufte\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x04B0
  END
END

IDD_UD DIALOGEX 0,0,223,159
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_CHILD|WS_VISIBLE|DS_FIXEDSYS
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
  CONTROL "Username:",IDC_STC2,"Static",WS_CHILD|WS_VISIBLE,8,18,36,9
  CONTROL "Nick:",IDC_STC3,"Static",WS_CHILD|WS_VISIBLE,8,9,32,9
  CONTROL "Game",IDC_GRP2,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,44,220,32
  CONTROL "Voicechat",IDC_GRP3,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,77,220,33
  CONTROL "Name:",IDC_STC4,"Static",WS_CHILD|WS_VISIBLE,30,53,36,9
  CONTROL "Unreal Tournament 2004",IDC_GAME,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,54,53,134,9
  CONTROL "IP:",IDC_STC5,"Static",WS_CHILD|WS_VISIBLE,30,64,18,9
  CONTROL "255.255.255.255",IDC_GIP,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,54,64,54,9
  CONTROL "Port:",IDC_STC7,"Static",WS_CHILD|WS_VISIBLE,134,64,16,9
  CONTROL "27770",IDC_GPORT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,150,64,70,9
  CONTROL "Unreal Tournament 2004",IDC_VNAME,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,54,88,132,9
  CONTROL "Name:",IDC_STC10,"Static",WS_CHILD|WS_VISIBLE,30,88,22,9
  CONTROL "IP:",IDC_STC11,"Static",WS_CHILD|WS_VISIBLE,30,99,18,9
  CONTROL "255.255.255.255",IDC_VIP,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,54,99,54,9
  CONTROL "Port:",IDC_STC13,"Static",WS_CHILD|WS_VISIBLE,134,99,16,9
  CONTROL "27770",IDC_VPORT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,150,99,70,9
  CONTROL "Userdetails",IDC_GRP4,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,0,112,44
  CONTROL "dufte",IDC_DNICK,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,46,9,64,9
  CONTROL "dufte",IDC_DUSERNAME,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,46,18,66,9
  CONTROL "",IDC_GAMEICO,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,6,53,22,19
  CONTROL "",IDC_VOICEICO,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,6,88,22,19
  CONTROL "Copy",IDC_COPYGAME,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,190,49,30,11
  CONTROL "Copy",IDC_COPYVOICE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,190,83,30,11
  CONTROL "",IDC_PROFILIMG,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_BITMAP,0,112,222,44
  CONTROL "",IDC_GAMEINFOLIST,"SysListView32",WS_CHILD|WS_VISIBLE|LVS_REPORT,116,1,106,43,WS_EX_CLIENTEDGE
END

IDD_GAMELIST DIALOGEX 6,5,348,223
CAPTION "Setup your Games ..."
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU
EXSTYLE WS_EX_TOPMOST
BEGIN
  CONTROL "",IDC_LST1,"SysListView32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LVS_AUTOARRANGE|LVS_SHAREIMAGELISTS|LVS_REPORT,0,0,184,222,WS_EX_CLIENTEDGE
  CONTROL "Game",IDC_GRP7,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,186,0,162,187
  CONTROL "Close",IDC_BTN1,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,304,208,44,13
  CONTROL "Never Detect",IDC_NEVERD,"Button",WS_CHILD|WS_VISIBLE|WS_DISABLED|WS_TABSTOP|BS_AUTORADIOBUTTON,192,24,150,9
  CONTROL "Automatically Detect",IDC_RBN2,"Button",WS_CHILD|WS_VISIBLE|WS_DISABLED|WS_TABSTOP|BS_AUTORADIOBUTTON,192,11,150,9
  CONTROL "Manuel Setup",IDC_MANUAL,"Button",WS_CHILD|WS_VISIBLE|WS_DISABLED|WS_TABSTOP|BS_AUTORADIOBUTTON,192,36,150,9
  CONTROL "",IDC_GAMEPATH,"Edit",WS_CHILD|WS_VISIBLE|WS_DISABLED|WS_TABSTOP,194,66,148,11,WS_EX_CLIENTEDGE
  CONTROL "DetectExe:",IDC_STC14,"Static",WS_CHILD|WS_VISIBLE,194,55,148,9
  CONTROL "Browse ...",IDC_BTN2,"Button",WS_CHILD|WS_VISIBLE|WS_DISABLED|WS_TABSTOP,280,79,62,13
  CONTROL "Apply",IDC_APPLY,"Button",WS_CHILD|WS_VISIBLE|WS_DISABLED|WS_TABSTOP,238,168,56,13
  CONTROL "Browse ...",IDC_BTN3,"Button",WS_CHILD|WS_VISIBLE|WS_DISABLED|WS_TABSTOP,280,118,62,13
  CONTROL "",IDC_LAUNCH,"Edit",WS_CHILD|WS_VISIBLE|WS_DISABLED|WS_TABSTOP,194,105,148,11,WS_EX_CLIENTEDGE
  CONTROL "LauncherExe:",IDC_STC15,"Static",WS_CHILD|WS_VISIBLE,194,94,148,9
  CONTROL "Installtype:",IDC_STC16,"Static",WS_CHILD|WS_VISIBLE|SS_RIGHT,188,190,128,9
  CONTROL "",IDC_INSTALLTYPE,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,318,188,30,13
END

