LANGUAGE 0,0

Player_1BY1                    ICON "1by1.ico"
Player_AIMP                    ICON "aimp.ico"
Player_ALSHOW                  ICON "alshow.ico"
Player_ALSONG                  ICON "alsong.ico"
Player_APOLLO                  ICON "apollo.ico"
Player_ASHAMPOO_MEDIA_PLAYER   ICON "Ashampoo Media Player.ico"
Player_AUDIOPLAYER             ICON "audio.ico"
Player_BEHOLDTV                ICON "BeholdTV.ico"
Player_BILLY                   ICON "Billy.ico"
Player_BSPLAYER                ICON "bsplayer.ico"
Player_CORE_MEDIA_PLAYER       ICON "Core Media Player.ico"
Player_COWON_JETAUDIO          ICON "JetAudio.ico"
Player_CREATIVE_MEDIA_SOURCE   ICON "cms.ico"
Player_CRYSTAL_PLAYER          ICON "Crystal Player.ico"
Player_CYBERLINK_POWERDVD      ICON "Cyberlink PowerDVD.ico"
Player_EVIL_PLAYER             ICON "Evil Player.ico"
Player_FLVPLAYER               ICON "flv.ico"
Player_FOOBAR2000              ICON "foobar2000.ico"
Player_GOMPLAYER               ICON "GOMPlayer.ico"
Player_HELIUM_MUSIC_MANAGER    ICON "Helium Music Manager.ico"
Player_ITUNES                  ICON "iTunes.ico"
Player_J_RIVER_MEDIA_CENTER    ICON "J.River Media Center.ico"
Player_KMPLAYER                ICON "KMPlayer.ico"
Player_LAST_FM                 ICON "lastfm.ico"
Player_LIGHTALLOY              ICON "LA.ico"
Player_MEDIA_COMMANDER_EXPRESS ICON "mcx.ico"
Player_MEDIAMONKEY             ICON "MediaMonkey.ico"
Player_MOREAMP                 ICON "MoreAmp.ico"
Player_MPC                     ICON "MPC.ico"
Player_MPC_BE                  ICON "MPC-BE.ico"
Player_MPLAYER                 ICON "MPlayer.ico"
Player_MUSICCUBE_ONE           ICON "mcone.ico"
Player_MUSICMATCH_JUKEBOX      ICON "mmatch.ico"
Player_MUSIKCUBE               ICON "MusikCube.ico"
Player_PLUTON                  ICON "pluton.ico"
Player_QCD                     ICON "QCDPlayer.ico"
Player_QUICKTIME_PLAYER        ICON "QuickTime Player.ico"
Player_RADLIGHT                ICON "RadLight.ico"
Player_REAL_PLAYER             ICON "Real Player.ico"
Player_SAPS                    ICON "saps.ico"
Player_SONGBIRD                ICON "SongBird.ico"
Player_SPIDER_PLAYER           ICON "Spider Player.ico"
Player_ULTRA_PLAYER            ICON "Ultra player.ico"
Player_VIDEOLAN_PLAYER         ICON "VLC.ico"
Player_VIPLAY                  ICON "vp3.ico"
Player_VUPLAYER                ICON "VUPlayer.ico"
Player_WIFIRADIO_PLAYER        ICON "wifi.ico"
Player_WINAMP                  ICON "winamp.ico"
Player_WINAMP_CLONE            ICON "wany.ico"
Player_WINDVD                  ICON "WinDVD.ico"
Player_WMP                     ICON "WMP 9.ico"
Player_XMPLAY                  ICON "XMPlay.ico"
Player_ZOOM                    ICON "Zoom Player.ico"

/*
Player_      ICON ""
Player_      ICON ""
Player_      ICON ""
Player_      ICON ""
*/
