#include "..\src\resource.h"
#include "winres.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_MAIN                ICON                    "max.ico"

IDD_ACCMGRUI DIALOGEX 0, 0, 188, 60
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Default group:",IDC_STATIC,6,10,70,10
    EDITTEXT        IDC_GROUPNAME,78,8,104,13,ES_AUTOHSCROLL
END

IDD_OPTIONSUI DIALOGEX 0, 0, 230, 68
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Default group:",IDC_STATIC,8,10,70,10
    EDITTEXT        IDC_GROUPNAME,82,8,140,13,ES_AUTOHSCROLL
    CONTROL         "Compress files on send",IDC_COMPRESS_FILES,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,8,30,214,10
END

IDD_QRLOGIN DIALOGEX 0, 0, 318, 337
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Link a device"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_QRPIC,"Static",SS_BITMAP | SS_NOTIFY | SS_CENTERIMAGE | SS_REALSIZEIMAGE | SS_SUNKEN,7,7,304,304
    CTEXT           "Open MAX application on your mobile phone, choose device linking and scan this QR code. The window closes automatically after successful login.",IDC_STATIC,8,314,302,17
END

IDD_MYPROFILE DIALOGEX 0, 0, 230, 168
STYLE DS_SETFONT | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "First name",IDC_STATIC,6,6,100,8
    EDITTEXT        IDC_FIRSTNAME,6,16,218,13,ES_AUTOHSCROLL
    LTEXT           "Last name",IDC_STATIC,6,32,100,8
    EDITTEXT        IDC_LASTNAME,6,42,218,13,ES_AUTOHSCROLL
    LTEXT           "Biography",IDC_STATIC,6,58,100,8
    EDITTEXT        IDC_BIO,6,68,218,94,ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL
END

IDD_SEARCHUI DIALOGEX 0, 0, 220, 30
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    EDITTEXT        0,6,6,208,13,ES_AUTOHSCROLL
END
