#include "..\src\resource.h"
#include "winres.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_MAIN                ICON                    "max.ico"

IDD_ACCMGRUI DIALOGEX 0, 0, 230, 52
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Login token:",IDC_STATIC,8,10,70,10
    EDITTEXT        IDC_LOGIN_TOKEN,82,8,140,13,ES_AUTOHSCROLL
    LTEXT           "Contacts group:",IDC_STATIC,8,30,70,10
    EDITTEXT        IDC_GROUPNAME,82,28,140,13,ES_AUTOHSCROLL
END
