#include "..\src\resource.h"
#include "winres.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_MAIN                ICON                    "max.ico"

IDD_ACCMGRUI DIALOGEX 0, 0, 230, 160
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Phone:",IDC_STATIC,8,10,40,10
    EDITTEXT        IDC_PHONE,52,8,96,13,ES_AUTOHSCROLL
    PUSHBUTTON      "Request SMS",IDC_BTN_REQUEST_SMS,152,7,70,14
    LTEXT           "SMS code:",IDC_STATIC,8,34,45,10
    EDITTEXT        IDC_SMSCODE,52,32,96,13,ES_AUTOHSCROLL
    PUSHBUTTON      "Confirm",IDC_BTN_VERIFY_SMS,152,31,70,14
    LTEXT           "Login token (optional):",IDC_STATIC,8,56,120,10
    EDITTEXT        IDC_LOGINTOKEN,8,68,214,13,ES_AUTOHSCROLL
    LTEXT           "",IDC_STATIC_HINT,8,88,214,62
END
