
#include <windows.h>
#include "version.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION __FILEVERSION_STRING
 PRODUCTVERSION __FILEVERSION_STRING
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "Boris Krasnovskiy, George Hazan, Richard Hughes"
            VALUE "FileDescription", "Miranda IM MSN Messenger plugin"
            VALUE "FileVersion", __VERSION_STRING
            VALUE "InternalName", "msn"
            VALUE "LegalCopyright", "Copyright (c) 2001-2009 Boris Krasnovskiy, George Hazan, Richard Hughes"
			VALUE "OriginalFilename", "msn.dll"
            VALUE "ProductName", "Miranda"
            VALUE "ProductVersion", __VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
