#include "frm_rc.inc"
#include "resource.inc"

LANGUAGE 0,0

IDD_OPT_FRAME DIALOGEX 0, 0, 304, 226, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
 AUTOCHECKBOX "Use buttons gap"    , IDC_BTNGAP         , 3, 44, 146, 14, BS_VCENTER | BS_MULTILINE | BS_NOTIFY

 LTEXT    "Frame refresh time", -1, 47, 2, 100, 14, SS_CENTERIMAGE
 EDITTEXT IDC_TIMER               ,  3, 3,  40, 12, ES_RIGHT | ES_NUMBER

 AUTOCHECKBOX "Hide when no player", IDC_HIDEFRAMEPLAYER, 3, 16, 146, 14, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 AUTOCHECKBOX "Hide when no music" , IDC_HIDEFRAMEMUSIC , 3, 30, 146, 14, BS_VCENTER | BS_MULTILINE | BS_NOTIFY

 AUTOCHECKBOX "Show info in the frame"    , IDC_SHOWTEXT , 155,  2, 144, 14, BS_VCENTER | BS_MULTILINE | BS_NOTIFY | BS_RIGHT | BS_LEFTTEXT
 AUTOCHECKBOX "Show controls in the frame", IDC_SHOWCTRLS, 155, 16, 144, 14, BS_VCENTER | BS_MULTILINE | BS_NOTIFY | BS_RIGHT | BS_LEFTTEXT
 AUTOCHECKBOX "Show volume controls"      , IDC_SHOWVOLUM, 155, 30, 144, 14, BS_VCENTER | BS_MULTILINE | BS_NOTIFY | BS_RIGHT | BS_LEFTTEXT
 AUTOCHECKBOX "Show trackbar"             , IDC_SHOWBAR  , 155, 44, 144, 14, BS_VCENTER | BS_MULTILINE | BS_NOTIFY | BS_RIGHT | BS_LEFTTEXT

 AUTOCHECKBOX "Use Picture",IDC_FRMUSEPIC,3,65,91,14,BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 EDITTEXT     IDC_FRMBKPIC, 96, 65, 185, 14
 PUSHBUTTON   "...", IDC_FRMPICBTN, 284, 65, 16, 14

 GROUPBOX     "Picture transform",  -1, 2, 82, 298, 59
 AUTOCHECKBOX "Center horizontally"   , IDC_CENTERX ,   6,  91, 96, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 AUTOCHECKBOX "Center vertically"     , IDC_CENTERY ,   6, 107, 96, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 AUTOCHECKBOX "Bottom"                , IDC_BOTTOM  ,   6, 123, 96, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 AUTOCHECKBOX "Tile horizontally"     , IDC_TILEX   , 104,  91, 96, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 AUTOCHECKBOX "Tile vertically"       , IDC_TILEY   , 104, 107, 96, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 AUTOCHECKBOX "Right"                 , IDC_RIGHT   , 104, 123, 96, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 AUTOCHECKBOX "Stretch to width"      , IDC_STRETCHX, 202,  91, 96, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 AUTOCHECKBOX "Stretch to height"     , IDC_STRETCHY, 202, 107, 96, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
 AUTOCHECKBOX "Stretch proportionally", IDC_PROP    , 202, 123, 96, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY

 CTEXT    "Cover padding", -1, 6, 152, 142, 14, SS_CENTERIMAGE
 EDITTEXT IDC_PADDING_TOP   , 64, 168, 24, 14, ES_RIGHT | ES_NUMBER
 EDITTEXT IDC_PADDING_LEFT  , 50, 184, 24, 14, ES_RIGHT | ES_NUMBER
 EDITTEXT IDC_PADDING_RIGHT , 78, 184, 24, 14, ES_RIGHT | ES_NUMBER
 EDITTEXT IDC_PADDING_BOTTOM, 64, 200, 24, 14, ES_RIGHT | ES_NUMBER

 AUTOCHECKBOX "Manual element placement", IDC_MANUALPLACE, 155,144,144,16, BS_VCENTER | BS_MULTILINE | BS_RIGHT | BS_LEFTTEXT

//                                                                    TBS_TOOLTIPS
 CONTROL      "",IDC_FRMALPHA,"msctls_trackbar32", TBS_BOTTOM|TBS_NOTICKS|$100,160,168,68,11
 LTEXT        "Alpha",-1,230,168,75,11, SS_CENTERIMAGE

 CONTROL      "",IDC_FRMCOLOR, "ColourPicker", WS_TABSTOP, 162, 181, 14, 14
 LTEXT        "Background color",-1,178,181,126,14, SS_CENTERIMAGE

 AUTOCHECKBOX "Use cover instead of picture", IDC_USECOVER, 155, 196, 142, 16, BS_VCENTER | BS_MULTILINE | BS_NOTIFY
}

IDD_OPT_FRAME2 DIALOGEX 0, 0, 304, 226, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
 PUSHBUTTON "Choose font...", IDC_FRMFONT, 84, 90, 64, 12

 GROUPBOX "Text effect",-1,154,6,142,76
 AUTORADIOBUTTON "Cut",      IDC_EFF_CUT , 158, 16, 136, 12, NOT WS_TABSTOP
 AUTORADIOBUTTON "Wrap",     IDC_EFF_WRAP, 158, 28, 136, 12, NOT WS_TABSTOP
 AUTORADIOBUTTON "Roll",     IDC_EFF_ROLL, 158, 40, 136, 12, NOT WS_TABSTOP
 AUTORADIOBUTTON "PingPong", IDC_EFF_PONG, 158, 52, 136, 12, NOT WS_TABSTOP
 AUTOCHECKBOX    "Align text to center", IDC_ALCENTER, 158, 66, 136, 12, BS_VCENTER | BS_MULTILINE | BS_NOTIFY

 GROUPBOX "Text movement", -1, 6, 6, 142, 76, WS_TABSTOP
 LTEXT    "Text rotation speed (1-20)", -1, 32, 17, 114, 12, SS_CENTERIMAGE
 LTEXT    "Scroll step"               , -1, 32, 33, 114, 12, SS_CENTERIMAGE
 LTEXT    "Scroll gap"                , -1, 32, 49, 114, 12, SS_CENTERIMAGE
// LTEXT    "Minimum scroll tail"       , -1, 32, 65, 114, 12, SS_CENTERIMAGE
 EDITTEXT IDC_TIMER   , 10, 17, 20, 12, ES_RIGHT | ES_NUMBER
 EDITTEXT IDC_ROLLSTEP, 10, 33, 20, 12, ES_RIGHT | ES_NUMBER
 EDITTEXT IDC_ROLLGAP , 10, 49, 20, 12, ES_RIGHT | ES_NUMBER
// EDITTEXT IDC_ROLLTAIL, 10, 65, 20, 12, ES_RIGHT | ES_NUMBER

 CONTROL    "M" ,IDC_MACRO_HELP ,"MButtonClass",WS_TABSTOP,284,156,16,16,$18000000
 RTEXT      "Frame Text", -1   , 4, 163, 274, 10
 EDITTEXT   IDC_FRAME_TEXT     , 4, 174, 296, 48,
            ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN
}
