#include "i_st_rc.inc"
#include "resource.inc"

LANGUAGE 0,0

IDD_OPT_COMMON DIALOGEX 0, 0, 304, 226, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
 GROUPBOX     "Options", -1, 2, 2, 188, 218, WS_TABSTOP
 AUTOCHECKBOX "Simple Template mode", IDC_SIMPLEMODE , 6, 12, 182, 14, BS_VCENTER | BS_MULTILINE// | BS_NOTIFY

 AUTOCHECKBOX "Insert in messages"  , IDC_USEMSGS    , 6, 34, 182, 14, BS_VCENTER | BS_MULTILINE// | BS_NOTIFY
 AUTOCHECKBOX "Use status messages" , IDC_USESTATUS  , 6, 50, 182, 14, BS_VCENTER | BS_MULTILINE// | BS_NOTIFY
 AUTOCHECKBOX "Use listening info"  , IDC_LISTENINGTO, 6, 66, 182, 14, BS_VCENTER | BS_MULTILINE// | BS_NOTIFY

 AUTOCHECKBOX "Use xStatus"         , IDC_EXTSTATUS ,  6,  86, 182, 14, BS_VCENTER | BS_MULTILINE// | BS_NOTIFY
 AUTOCHECKBOX "Independent xStatus"  , IDC_INDEPENDED, 14, 102, 174, 14, BS_VCENTER | BS_MULTILINE// | BS_NOTIFY
 AUTOCHECKBOX "Clear xStatus before set new one" , IDC_CLEARXSTAT, 14, 118, 174, 14, BS_VCENTER | BS_MULTILINE// | BS_NOTIFY
 AUTOCHECKBOX "Keep 'Music' xStatus"          , IDC_KEEPSTATUS, 14, 134, 174, 14, BS_VCENTER | BS_MULTILINE// | BS_NOTIFY
// AUTOCHECKBOX "Use existing xStatus"          , IDC_OLDXSTATUS, 14, 134, 174, 14, BS_VCENTER | BS_MULTILINE// | BS_NOTIFY
// AUTOCHECKBOX "Only if 'Music' status was set", IDC_ONLYMUSIC , 14, 150, 174, 14, BS_VCENTER | BS_MULTILINE// | BS_NOTIFY
 LTEXT        "Set xStatus when...", -1, 14, 150, 174, 14
 COMBOBOX IDC_SETXSTATUS, 14, 166, 174, 96, CBS_DROPDOWNLIST | WS_VSCROLL
}

IDD_OPT_TEMPLATE11 DIALOGEX 0, 0, 304, 226, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
 PUSHBUTTON      "Color",     IDC_HELP_COLOR    , 184, 1, 26, 12
 PUSHBUTTON      "Format",    IDC_HELP_FORMAT   , 213, 1, 32, 12
 PUSHBUTTON      "Variables", IDC_HELP_VARIABLES, 248, 1, 52, 12

 CTEXT           "Protocols", -1, 6, 2, 80, 10
 CONTROL         "", IDC_PROTOLIST, "SysListView32", WS_BORDER | WS_TABSTOP | LVS_NOCOLUMNHEADER | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT, 6, 12, 80, 92, WS_EX_CONTROLPARENT
 CTEXT           "Statuses", -1, 90, 2, 92, 10
 CONTROL         "", IDC_STATUSLIST, "SysListView32", WS_BORDER | WS_TABSTOP | LVS_NOCOLUMNHEADER | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT, 90, 12, 92, 92, WS_EX_CONTROLPARENT

 AUTORADIOBUTTON "User message",    IDC_IRC_USER   , 196, 51, 102, 12, NOT WS_TABSTOP | WS_GROUP
 AUTORADIOBUTTON "Channel message", IDC_IRC_CHANNEL, 196, 63, 102, 12, NOT WS_TABSTOP

 PUSHBUTTON      "Reset",   IDC_CMD_RESET  , 184, 103, 56, 12
 PUSHBUTTON      "Default", IDC_CMD_DEFAULT, 242, 103, 56, 12

 LTEXT           "Template", -1, 16, 106, 166, 10, SS_CENTERIMAGE
 EDITTEXT        IDC_EDIT_MSG    , 6, 116, 290, 44, ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL
 EDITTEXT        IDC_EDIT_CHANNEL, 6, 116, 290, 44, ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL

 AUTOCHECKBOX    "Enable Status message" , IDC_STAT_ENABLE , 6, 161, 174, 12, BS_VCENTER | BS_MULTILINE
 AUTOCHECKBOX    "Enable xStatus message", IDC_XSTAT_ENABLE, 6, 161, 174, 12, BS_VCENTER | BS_MULTILINE
 AUTOCHECKBOX    "Enable Tunes message"  , IDC_TUNES_ENABLE, 6, 161, 174, 12, BS_VCENTER | BS_MULTILINE
 COMBOBOX        IDC_CBSTATYPE,196,161,100,56,CBS_DROPDOWNLIST | WS_VSCROLL | NOT WS_TABSTOP
 EDITTEXT        IDC_STATUS_TEXT    , 6, 175, 290, 45, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL
 EDITTEXT        IDC_XSTATUS_TITLE  , 6, 175, 290, 14, ES_AUTOHSCROLL
 EDITTEXT        IDC_XSTATUS_TEXT   , 6, 192, 290, 28, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL
 EDITTEXT        IDC_LISTENING_TEXT , 6, 175, 290, 45, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL

 AUTORADIOBUTTON "Audio", IDC_XSTAT_AUDIO, 186, 75, 54, 12, NOT WS_TABSTOP | BS_RIGHT | BS_LEFTTEXT | WS_GROUP
 AUTORADIOBUTTON "Video", IDC_XSTAT_VIDEO, 244, 75, 54, 12, NOT WS_TABSTOP

 CONTROL         "", IDC_CBEX, "ComboBoxEx32",
                 WS_GROUP | WS_TABSTOP | WS_VSCROLL | CBS_AUTOHSCROLL | CBS_DROPDOWNLIST, 186, 88, 112, 100
}

IDD_OPT_TEMPLATE12 DIALOGEX 0, 0, 304, 226, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
 PUSHBUTTON      "Color",     IDC_HELP_COLOR    , 184, 4, 26, 12
 PUSHBUTTON      "Format",    IDC_HELP_FORMAT   , 213, 4, 32, 12
 PUSHBUTTON      "Variables", IDC_HELP_VARIABLES, 248, 4, 52, 12

 PUSHBUTTON      "Reset",     IDC_CMD_RESET, 6, 4, 56, 12
 LTEXT           "This is simplified version of template editor. This templates will be used with all protocols, protocol and player (media) statuses",
                 -1, 6,20,290,22

 CTEXT           "Template", -1, 6, 42, 290, 10
 EDITTEXT        IDC_EDIT_MSG, 6, 52, 290, 48, ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL
 CTEXT           "Chat Template", -1, 6, 102, 290, 10
 EDITTEXT        IDC_EDIT_CHANNEL, 6, 112, 290, 48, ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL

 CTEXT           "[x]Status Title / Text", -1, 6, 165, 290, 10
 EDITTEXT        IDC_XSTATUS_TITLE, 6, 175, 290, 14, ES_AUTOHSCROLL
 EDITTEXT        IDC_STATUS_TEXT  , 6, 192, 290, 28, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN
}
