#include "i_const.inc"
#include "resource.inc"

LANGUAGE 0,0

IDD_OPT_MYSHOWS DIALOGEX 0, 0, 304, 226, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  LTEXT "Login"      , -1, 108,  2,  70, 16, SS_CENTERIMAGE
  EDITTEXT IDC_LOGIN     ,   4,  4, 100, 12,
  LTEXT "Password"   , -1, 108, 18,  70, 16, SS_CENTERIMAGE
  EDITTEXT IDC_PASS      ,   4, 20, 100, 12, ES_PASSWORD
  LTEXT "Attempts"   , -1,  40, 34,  64, 16, SS_CENTERIMAGE
  EDITTEXT IDC_TRIES     ,   4, 36,  32, 12, ES_RIGHT | ES_NUMBER
//  LTEXT "Timeout, ms", -1,  40, 50,  64, 16, SS_CENTERIMAGE
//  EDITTEXT IDC_TIME      ,   4, 52,  32, 12, ES_RIGHT | ES_NUMBER

  CONTROL "",IDC_SCROBPOS,"msctls_trackbar32", TBS_BOTTOM|TBS_NOTICKS|$100,120,45,94,11
  CTEXT   "Scrobble at",-1,120,35,94,11, SS_CENTERIMAGE
/*
  PUSHBUTTON "Get Series Info", IDC_INFO_SERIES, 4, 206, 72, 16

  CONTROL "", IDC_DATA_PIC, "STATIC", SS_BITMAP | WS_BORDER, 220, 2, 80, 80

  RTEXT    "Show",   -1     ,  0,  86,  76, 16, SS_CENTERIMAGE
  EDITTEXT IDC_DATA_SERIES  , 80,  87, 220, 14, ES_READONLY | ES_AUTOHSCROLL
  RTEXT    "Episode",-1     ,  0, 102,  76, 16, SS_CENTERIMAGE
  EDITTEXT IDC_DATA_EPISODE , 80, 103, 220, 14, ES_READONLY | ES_AUTOHSCROLL
  RTEXT    "Genres", -1     ,  0, 118,  76, 16, SS_CENTERIMAGE
  EDITTEXT IDC_DATA_TAGS    , 80, 119, 220, 14, ES_READONLY | ES_AUTOHSCROLL
  RTEXT    "Info"  , -1     ,  0, 134,  76, 16, SS_CENTERIMAGE
  EDITTEXT IDC_DATA_INFO    , 80, 135, 220, 75,
           ES_MULTILINE | ES_READONLY | ES_AUTOVSCROLL | WS_VSCROLL

  CONTROL "Kinopoisk info page", IDC_KINOPOISK, "Hyperlink",
           WS_CHILD | WS_TABSTOP | WS_DISABLED | 0x1, 80, 212, 220, 10
*/
}

IDI_MYSHOWS ICON  "myshows.ico"
