#ifdef APSTUDIO_INVOKED
#error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED

#include <windows.h>
#include <winres.h>

#include "../include/m_version.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1250)
#endif //_WIN32

VS_VERSION_INFO VERSIONINFO
 FILEVERSION MIRANDA_VERSION_FILEVERSION
 PRODUCTVERSION MIRANDA_VERSION_FILEVERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "Licensed under the terms of the GNU General Public License\0"
            VALUE "CompanyName", "Miranda NG team\0"
            VALUE "FileDescription", "Miranda NG\0"
            VALUE "FileVersion", MIRANDA_VERSION_DISPLAY
            VALUE "InternalName", "mir_core\0"
            VALUE "LegalCopyright", "Copyright © 2000-11 Miranda IM, 2012-22 Miranda NG team. This software is released under the terms of the GNU General Public License.\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "mir_core.mir\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "Miranda NG\0"
            VALUE "ProductVersion", MIRANDA_VERSION_DISPLAY
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////
