#include "pop_rc.inc"
#include "resource.inc"

LANGUAGE 0,0

IDD_OPT_POPUP DIALOGEX 0, 0, 304, 226, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0
{
 AUTOCHECKBOX    "Show by request only", IDC_REQUEST, 156, 0, 144, 18, BS_MULTILINE

 GROUPBOX        "Colors", -1, 4, 18, 144, 74
 CTEXT           "Background", -1, 24, 64, 50, 8
 CTEXT           "Text"      , -1, 84, 64, 50, 8
 AUTORADIOBUTTON "Default colors", IDC_COLORDEF , 12, 28, 88, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Windows colors", IDC_COLORWIN , 12, 40, 88, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Custom colors" , IDC_COLORCUST, 12, 52, 88, 10, NOT WS_TABSTOP
 CONTROL         "", IDC_BACK, "ColourPicker", WS_TABSTOP, 24, 75, 50, 14
 CONTROL         "", IDC_FORE, "ColourPicker", WS_TABSTOP, 84, 75, 50, 14

 GROUPBOX        "Actions", -1, 156, 18, 144, 74
 RTEXT "Close"      , -1, 162, 40, 50, 10
 RTEXT "Info"       , -1, 162, 53, 50, 10
 RTEXT "Show player", -1, 162, 66, 50, 10
 RTEXT "Next track" , -1, 162, 79, 50, 10

 CTEXT "Left click", -1, 208, 26, 40, 16
 AUTORADIOBUTTON "", IDC_ACTLEFTCLOSE , 224, 40, 10, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "", IDC_ACTLEFTINFO  , 224, 53, 10, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "", IDC_ACTLEFTPLAYER, 224, 66, 10, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "", IDC_ACTLEFTNEXT  , 224, 79, 10, 10, NOT WS_TABSTOP
 CTEXT "Right click", -1, 248, 26, 40, 16
 AUTORADIOBUTTON "", IDC_ACTRIGHTCLOSE , 262, 40, 10, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "", IDC_ACTRIGHTINFO  , 262, 53, 10, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "", IDC_ACTRIGHTPLAYER, 262, 66, 10, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "", IDC_ACTRIGHTNEXT  , 262, 79, 10, 10, NOT WS_TABSTOP

 GROUPBOX        "Delay", -1, 4, 96, 144, 48
 EDITTEXT        IDC_DELAY, 86, 117, 36, 12, ES_AUTOHSCROLL | ES_NUMBER
 LTEXT           "sec", -1, 126, 118, 12, 8
 AUTORADIOBUTTON "Default"  , IDC_DELAYDEF , 12, 106, 128, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Custom"   , IDC_DELAYCUST, 12, 118,  72, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Permanent", IDC_DELAYPERM, 12, 130, 128, 10, NOT WS_TABSTOP

 AUTOCHECKBOX    "Show file name in info"  , IDC_SHOWFILE  , 156, 94 , 144, 17, BS_MULTILINE
 AUTOCHECKBOX    "Use popup action buttons", IDC_USEBUTTONS, 156, 111, 144, 17, BS_MULTILINE
 PUSHBUTTON      "Test", IDC_TEST, 156, 128, 48, 16

 CONTROL         "M", IDC_MACRO_HELP ,"MButtonClass",WS_TABSTOP,278,138,16,16,$18000000
 CTEXT           "Popup Title / Text", -1, 6, 146, 270, 10
 EDITTEXT        IDC_POPUP_TITLE, 6, 156, 290, 14, ES_AUTOHSCROLL
 EDITTEXT        IDC_POPUP_TEXT , 6, 174, 290, 48, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN
}

BTN_INFO    ICON "wat_info.ico"
