af	ICON	".\\Flags\\af_ZA.ico"
af_ZA	ICON	".\\Flags\\af_ZA.ico"
az	ICON	".\\Flags\\az_AZ.ico"
az_AZ	ICON	".\\Flags\\az_AZ.ico"
bg	ICON	".\\Flags\\bg_BG.ico"
bg_BG	ICON	".\\Flags\\bg_BG.ico"
bn_IN	ICON	".\\Flags\\bn_IN.ico"
cs	ICON	".\\Flags\\cs_CZ.ico"
cs_CZ	ICON	".\\Flags\\cs_CZ.ico"
cy	ICON	".\\Flags\\cy_GB.ico"
cy_GB	ICON	".\\Flags\\cy_GB.ico"
da_DK	ICON	".\\Flags\\da_DK.ico"
de	ICON	".\\Flags\\de_DE.ico"
de_AT	ICON	".\\Flags\\de_AT.ico"
de_CH	ICON	".\\Flags\\de_CH.ico"
de_DE	ICON	".\\Flags\\de_DE.ico"
el	ICON	".\\Flags\\el_GR.ico"
el_GR	ICON	".\\Flags\\el_GR.ico"
em_ET	ICON	".\\Flags\\em_ET.ico"
en_AU	ICON	".\\Flags\\en_AU.ico"
en_CA	ICON	".\\Flags\\en_CA.ico"
en_GB	ICON	".\\Flags\\en_GB.ico"
en_UK	ICON	".\\Flags\\en_GB.ico"
en_NZ	ICON	".\\Flags\\en_NZ.ico"
en_US	ICON	".\\Flags\\en_US.ico"
en_ZA	ICON	".\\Flags\\en_ZA.ico"
es	ICON	".\\Flags\\es_ES.ico"
es_ES	ICON	".\\Flags\\es_ES.ico"
es_MX	ICON	".\\Flags\\es_MX.ico"
et_EE	ICON	".\\Flags\\et_EE.ico"
fa_IR	ICON	".\\Flags\\fa_IR.ico"
fi	ICON	".\\Flags\\fi_FI.ico"
fi_FI	ICON	".\\Flags\\fi_FI.ico"
fj	ICON	".\\Flags\\fj_FJ.ico"
fj_FJ	ICON	".\\Flags\\fj_FJ.ico"
fo	ICON	".\\Flags\\fo_FO.ico"
fo_FO	ICON	".\\Flags\\fo_FO.ico"
fr	ICON	".\\Flags\\fr_FR.ico"
fr_BE	ICON	".\\Flags\\fr_BE.ico"
fr_FR	ICON	".\\Flags\\fr_FR.ico"
ga_IE	ICON	".\\Flags\\ga_IE.ico"
gd_GB	ICON	".\\Flags\\gd_GB.ico"
he_IL	ICON	".\\Flags\\he_IL.ico"
hi	ICON	".\\Flags\\hi_IN.ico"
hi_IN	ICON	".\\Flags\\hi_IN.ico"
hr	ICON	".\\Flags\\hr_HR.ico"
hr_HR	ICON	".\\Flags\\hr_HR.ico"
hu	ICON	".\\Flags\\hu_HU.ico"
hu_HU	ICON	".\\Flags\\hu_HU.ico"
id	ICON	".\\Flags\\id_ID.ico"
id_ID	ICON	".\\Flags\\id_ID.ico"
is	ICON	".\\Flags\\is_IS.ico"
is_IS	ICON	".\\Flags\\is_IS.ico"
it	ICON	".\\Flags\\it_IT.ico"
it_IT	ICON	".\\Flags\\it_IT.ico"
km_KH	ICON	".\\Flags\\km_KH.ico"
ku_TR	ICON	".\\Flags\\ku_TR.ico"
lt	ICON	".\\Flags\\lt_LT.ico"
lt_LT	ICON	".\\Flags\\lt_LT.ico"
lu	ICON	".\\Flags\\lu_LU.ico"
lu_LU	ICON	".\\Flags\\lu_LU.ico"
lv	ICON	".\\Flags\\lv_LV.ico"
lv_LV	ICON	".\\Flags\\lv_LV.ico"
mg	ICON	".\\Flags\\mg_MG.ico"
mg_MG	ICON	".\\Flags\\mg_MG.ico"
mi_NZ	ICON	".\\Flags\\mi_NZ.ico"
mn	ICON	".\\Flags\\mn_MN.ico"
mn_MN	ICON	".\\Flags\\mn_MN.ico"
mo_BF	ICON	".\\Flags\\mo_BF.ico"
mr_IN	ICON	".\\Flags\\mr_IN.ico"
ms_MY	ICON	".\\Flags\\ms_MY.ico"
nb	ICON	".\\Flags\\nb_NO.ico"
nb_NO	ICON	".\\Flags\\nb_NO.ico"
ne_NP	ICON	".\\Flags\\ne_NP.ico"
nl	ICON	".\\Flags\\nl_NL.ico"
nl_NL	ICON	".\\Flags\\nl_NL.ico"
nn_NO	ICON	".\\Flags\\nn_NO.ico"
no	ICON	".\\Flags\\nb_NO.ico"
nr_ZA	ICON	".\\Flags\\nr_ZA.ico"
ns_ZA	ICON	".\\Flags\\ns_ZA.ico"
ny_MW	ICON	".\\Flags\\ny_MW.ico"
or_IN	ICON	".\\Flags\\or_IN.ico"
pl	ICON	".\\Flags\\pl_PL.ico"
pl_PL	ICON	".\\Flags\\pl_PL.ico"
pt	ICON	".\\Flags\\pt_PT.ico"
pt_BR	ICON	".\\Flags\\pt_BR.ico"
pt_PT	ICON	".\\Flags\\pt_PT.ico"
qu_BO	ICON	".\\Flags\\qu_BO.ico"
ro	ICON	".\\Flags\\ro_RO.ico"
ro_BO	ICON	".\\Flags\\ro_BO.ico"
ro_RO	ICON	".\\Flags\\ro_RO.ico"
ru	ICON	".\\Flags\\ru_RU.ico"
ru_RU	ICON	".\\Flags\\ru_RU.ico"
rw	ICON	".\\Flags\\rw_RW.ico"
rw_RW	ICON	".\\Flags\\rw_RW.ico"
sk	ICON	".\\Flags\\sk_SK.ico"
sk_SK	ICON	".\\Flags\\sk_SK.ico"
sl_SI	ICON	".\\Flags\\sl_SI.ico"
sr_CS	ICON	".\\Flags\\sr_CS.ico"
ss_ZA	ICON	".\\Flags\\ss_ZA.ico"
st_ZA	ICON	".\\Flags\\st_ZA.ico"
sv	ICON	".\\Flags\\sv_SE.ico"
sv_SE	ICON	".\\Flags\\sv_SE.ico"
tet_ID	ICON	".\\Flags\\tet_ID.ico"
tl_PH	ICON	".\\Flags\\tl_PH.ico"
tn_ZA	ICON	".\\Flags\\tn_ZA.ico"
ts_ZA	ICON	".\\Flags\\ts_ZA.ico"
uk_UA	ICON	".\\Flags\\uk_UA.ico"
uz	ICON	".\\Flags\\uz_UZ.ico"
uz_UZ	ICON	".\\Flags\\uz_UZ.ico"
ve_ZA	ICON	".\\Flags\\ve_ZA.ico"
vi	ICON	".\\Flags\\vi_VI.ico"
vi_VI	ICON	".\\Flags\\vi_VI.ico"
xh_ZA	ICON	".\\Flags\\xh_ZA.ico"
zu_ZA	ICON	".\\Flags\\zu_ZA.ico"
mk	ICON	".\\Flags\\mk.ico"
bs	ICON	".\\Flags\\ba.ico"
zh	ICON	".\\Flags\\cn.ico"
en	ICON	".\\Flags\\en.ico"
