af	ICON	".\\Flags-Angelika\\af_ZA.ico"
af_ZA	ICON	".\\Flags-Angelika\\af_ZA.ico"
ar	ICON	".\\Flags-Angelika\\ar_AR.ico"
ar_AR	ICON	".\\Flags-Angelika\\ar_AR.ico"
az	ICON	".\\Flags-Angelika\\az_AZ.ico"
az_AZ	ICON	".\\Flags-Angelika\\az_AZ.ico"
bg	ICON	".\\Flags-Angelika\\bg_BG.ico"
bg_BG	ICON	".\\Flags-Angelika\\bg_BG.ico"
bn_IN	ICON	".\\Flags-Angelika\\bn_IN.ico"
ca_ES	ICON	".\\Flags-Angelika\\ca_ES.ico"
cs	ICON	".\\Flags-Angelika\\cs_CZ.ico"
cs_CZ	ICON	".\\Flags-Angelika\\cs_CZ.ico"
csb_PO	ICON	".\\Flags-Angelika\\csb_PO.ico"
cy	ICON	".\\Flags-Angelika\\cy_GB.ico"
cy_GB	ICON	".\\Flags-Angelika\\cy_GB.ico"
da_DK	ICON	".\\Flags-Angelika\\da_DK.ico"
de	ICON	".\\Flags-Angelika\\de_DE.ico"
de_AT	ICON	".\\Flags-Angelika\\de_AT.ico"
de_CH	ICON	".\\Flags-Angelika\\de_CH.ico"
de_DE	ICON	".\\Flags-Angelika\\de_DE.ico"
el	ICON	".\\Flags-Angelika\\el_GR.ico"
el_GR	ICON	".\\Flags-Angelika\\el_GR.ico"
em_ET	ICON	".\\Flags-Angelika\\em_ET.ico"
en_AU	ICON	".\\Flags-Angelika\\en_AU.ico"
en_CA	ICON	".\\Flags-Angelika\\en_CA.ico"
en_GB	ICON	".\\Flags-Angelika\\en_GB.ico"
en_UK	ICON	".\\Flags-Angelika\\en_GB.ico"
en_NZ	ICON	".\\Flags-Angelika\\en_NZ.ico"
en_US	ICON	".\\Flags-Angelika\\en_US.ico"
en_ZA	ICON	".\\Flags-Angelika\\en_ZA.ico"
es	ICON	".\\Flags-Angelika\\es_ES.ico"
es_ES	ICON	".\\Flags-Angelika\\es_ES.ico"
es_MX	ICON	".\\Flags-Angelika\\es_MX.ico"
et_EE	ICON	".\\Flags-Angelika\\et_EE.ico"
fa_IR	ICON	".\\Flags-Angelika\\fa_IR.ico"
fi	ICON	".\\Flags-Angelika\\fi_FI.ico"
fi_FI	ICON	".\\Flags-Angelika\\fi_FI.ico"
fj	ICON	".\\Flags-Angelika\\fj_FJ.ico"
fj_FJ	ICON	".\\Flags-Angelika\\fj_FJ.ico"
fo	ICON	".\\Flags-Angelika\\fo_FO.ico"
fo_FO	ICON	".\\Flags-Angelika\\fo_FO.ico"
fr	ICON	".\\Flags-Angelika\\fr_FR.ico"
fr_BE	ICON	".\\Flags-Angelika\\fr_BE.ico"
fr_FR	ICON	".\\Flags-Angelika\\fr_FR.ico"
ga_IE	ICON	".\\Flags-Angelika\\ga_IE.ico"
gd_GB	ICON	".\\Flags-Angelika\\gd_GB.ico"
gl_ES	ICON	".\\Flags-Angelika\\gl_ES.ico"
he_IL	ICON	".\\Flags-Angelika\\he_IL.ico"
hi	ICON	".\\Flags-Angelika\\hi_IN.ico"
hi_IN	ICON	".\\Flags-Angelika\\hi_IN.ico"
hr	ICON	".\\Flags-Angelika\\hr_Hr.ico"
hr_Hr	ICON	".\\Flags-Angelika\\hr_Hr.ico"
hu	ICON	".\\Flags-Angelika\\hu_HU.ico"
hu_HU	ICON	".\\Flags-Angelika\\hu_HU.ico"
id	ICON	".\\Flags-Angelika\\id_ID.ico"
id_ID	ICON	".\\Flags-Angelika\\id_ID.ico"
is	ICON	".\\Flags-Angelika\\is_IS.ico"
is_IS	ICON	".\\Flags-Angelika\\is_IS.ico"
it	ICON	".\\Flags-Angelika\\it_IT.ico"
it_IT	ICON	".\\Flags-Angelika\\it_IT.ico"
km_KH	ICON	".\\Flags-Angelika\\km_KH.ico"
ku_TR	ICON	".\\Flags-Angelika\\ku_TR.ico"
lt	ICON	".\\Flags-Angelika\\lt_LT.ico"
lt_LT	ICON	".\\Flags-Angelika\\lt_LT.ico"
lu	ICON	".\\Flags-Angelika\\lu_LU.ico"
lu_LU	ICON	".\\Flags-Angelika\\lu_LU.ico"
lv	ICON	".\\Flags-Angelika\\lv_LV.ico"
lv_LV	ICON	".\\Flags-Angelika\\lv_LV.ico"
mg	ICON	".\\Flags-Angelika\\mg_MG.ico"
mg_MG	ICON	".\\Flags-Angelika\\mg_MG.ico"
mi_NZ	ICON	".\\Flags-Angelika\\mi_NZ.ico"
mn	ICON	".\\Flags-Angelika\\mn_MN.ico"
mn_MN	ICON	".\\Flags-Angelika\\mn_MN.ico"
mo_BF	ICON	".\\Flags-Angelika\\mo_BF.ico"
mr_IN	ICON	".\\Flags-Angelika\\mr_IN.ico"
ms_MY	ICON	".\\Flags-Angelika\\ms_MY.ico"
nb	ICON	".\\Flags-Angelika\\nb_NO.ico"
nb_NO	ICON	".\\Flags-Angelika\\nb_NO.ico"
ne_NP	ICON	".\\Flags-Angelika\\ne_NP.ico"
nl	ICON	".\\Flags-Angelika\\nl_NL.ico"
nl_NL	ICON	".\\Flags-Angelika\\nl_NL.ico"
nn_NO	ICON	".\\Flags-Angelika\\nn_NO.ico"
no	ICON	".\\Flags-Angelika\\nb_NO.ico"
nr_ZA	ICON	".\\Flags-Angelika\\nr_ZA.ico"
ns_ZA	ICON	".\\Flags-Angelika\\ns_ZA.ico"
or_IN	ICON	".\\Flags-Angelika\\or_IN.ico"
pl	ICON	".\\Flags-Angelika\\pl_PL.ico"
pl_PL	ICON	".\\Flags-Angelika\\pl_PL.ico"
pt	ICON	".\\Flags-Angelika\\pt_PT.ico"
pt_BR	ICON	".\\Flags-Angelika\\pt_BR.ico"
pt_PT	ICON	".\\Flags-Angelika\\pt_PT.ico"
qu_BO	ICON	".\\Flags-Angelika\\qu_BO.ico"
ro	ICON	".\\Flags-Angelika\\ro_RO.ico"
ro_RO	ICON	".\\Flags-Angelika\\ro_RO.ico"
ru	ICON	".\\Flags-Angelika\\ru_RU.ico"
ru_RU	ICON	".\\Flags-Angelika\\ru_RU.ico"
rw	ICON	".\\Flags-Angelika\\rw_RW.ico"
rw_RW	ICON	".\\Flags-Angelika\\rw_RW.ico"
sk	ICON	".\\Flags-Angelika\\sk_SK.ico"
sk_SK	ICON	".\\Flags-Angelika\\sk_SK.ico"
sl_SI	ICON	".\\Flags-Angelika\\sl_SI.ico"
ss_ZA	ICON	".\\Flags-Angelika\\ss_ZA.ico"
st_ZA	ICON	".\\Flags-Angelika\\st_ZA.ico"
sv	ICON	".\\Flags-Angelika\\sv_SE.ico"
sv_SE	ICON	".\\Flags-Angelika\\sv_SE.ico"
ta_IN	ICON	".\\Flags-Angelika\\ta_IN.ico"
tet_ID	ICON	".\\Flags-Angelika\\tet_ID.ico"
tl_PH	ICON	".\\Flags-Angelika\\tl_PH.ico"
tn_ZA	ICON	".\\Flags-Angelika\\tn_ZA.ico"
ts_ZA	ICON	".\\Flags-Angelika\\ts_ZA.ico"
uk_UA	ICON	".\\Flags-Angelika\\uk_UA.ico"
uz	ICON	".\\Flags-Angelika\\uz_UZ.ico"
uz_UZ	ICON	".\\Flags-Angelika\\uz_UZ.ico"
ve_ZA	ICON	".\\Flags-Angelika\\ve_ZA.ico"
vi	ICON	".\\Flags-Angelika\\vi_VI.ico"
vi_VI	ICON	".\\Flags-Angelika\\vi_VI.ico"
xh_ZA	ICON	".\\Flags-Angelika\\xh_ZA.ico"
zu_ZA	ICON	".\\Flags-Angelika\\zu_ZA.ico"
