#include "mr_rc.inc"

LANGUAGE 0,0

IDD_SETTING DIALOGEX 0, 0, 304, 226, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  GROUPBOX     "Add Station",-1,1,1,200,108, WS_TABSTOP
  LTEXT        "Station Name",IDC_STATIC,6,12,192,8
  EDITTEXT     IDC_STATION,4,22,194,11,ES_AUTOHSCROLL
  LTEXT        "Station URL (required)",IDC_STATIC,6,36,178,8
  PUSHBUTTON   "...", IDC_BN_URLPATH, 184,47,14,11, BS_BOTTOM
  EDITTEXT     IDC_STATIONURL,4,47,178,11,ES_AUTOHSCROLL
  LTEXT        "Genre",IDC_STATIC,6,60,192,8
  EDITTEXT     IDC_GENRE,4,71,194,11,ES_AUTOHSCROLL
  LTEXT        "Bitrate",IDC_STATIC,6,84,46,8
  EDITTEXT     IDC_BITRATE,4,94,48,11, ES_RIGHT | ES_NUMBER
  CTEXT        "Add station",IDC_STATIC,74,84,124,8
  PUSHBUTTON   "To list", IDC_ADD_LIST, 74,94,60,11
  PUSHBUTTON   "To INI" , IDC_ADD_INI , 138,94,60,11

  GROUPBOX     "Record",-1,1,114,200,34, WS_TABSTOP
  CTEXT        "Record path",IDC_STATIC,4,122,194,8,SS_CENTERIMAGE
  EDITTEXT     IDC_ED_RECPATH,4,132,178,12,ES_AUTOHSCROLL
  PUSHBUTTON   "...", IDC_BN_RECPATH, 184,132,14,12

  GROUPBOX     "Status Message",-1,1,152,200,70, WS_TABSTOP
  CONTROL      "V", IDC_HLP_VARS, "MButtonClass",WS_TABSTOP, 4,162,16,16,$18000000
  RTEXT        "Status message template",IDC_STATIC,22,170,174,10
  EDITTEXT     IDC_STATUS,4,180,194,40,
               ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN

  AUTOCHECKBOX "Shuffle playlist"          ,IDC_SHUFFLE  , 204,  4,98,22, BS_VCENTER | BS_MULTILINE
  AUTOCHECKBOX "Play from first"           ,IDC_PLAYFIRST, 204, 28,98,22, BS_VCENTER | BS_MULTILINE
  AUTOCHECKBOX "Loop single media"         ,IDC_LOOP     , 204, 52,98,22, BS_VCENTER | BS_MULTILINE
  AUTOCHECKBOX "Continuous record"         ,IDC_CONTREC  , 204, 76,98,22, BS_VCENTER | BS_MULTILINE
  AUTOCHECKBOX "Autoconnect last station"  ,IDC_CONNECT  , 204,100,98,22, BS_VCENTER | BS_MULTILINE
  AUTOCHECKBOX "Protocol depending status" ,IDC_OFFLINE  , 204,124,98,22, BS_VCENTER | BS_MULTILINE
  AUTOCHECKBOX "Mute with Miranda"         ,IDC_AUTOMUTE , 204,148,98,22, BS_VCENTER | BS_MULTILINE

  PUSHBUTTON   "Import File", IDC_IMPORT, 204,188,98,16, BS_MULTILINE
  PUSHBUTTON   "Export All" , IDC_EXPORT, 204,206,98,16, BS_MULTILINE
}

IDD_SETTING_TECH DIALOGEX 0, 0, 304, 226, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  CTEXT        "Use EAX",IDC_USEEAX,2,32,72,16,SS_CENTERIMAGE
  COMBOBOX     IDC_EAXTYPE,75,32,96,75,CBS_DROPDOWNLIST | WS_VSCROLL

  AUTOCHECKBOX "Forced Mono",IDC_MONO,2,50,169,16, BS_RIGHT | BS_VCENTER | BS_LEFTTEXT

  CONTROL      "",IDC_VOLUME,"msctls_trackbar32",TBS_NOTICKS | WS_TABSTOP|$100,19,10,129,16
  CTEXT        "min",IDC_STATIC,5,13,18,8
  CTEXT        "max",IDC_STATIC,150,13,18,8
  GROUPBOX     "Volume",-1,2,0,170,28, WS_TABSTOP

  GROUPBOX     "",-1,174,0,128,72, WS_TABSTOP
  LTEXT        "Buffer, ms (5000)",IDC_STATIC,210,6,90,16,SS_CENTERIMAGE
  EDITTEXT     IDC_BUFFER,178,8,30,12, ES_RIGHT | ES_NUMBER
  LTEXT        "PreBuf, % (75%)",IDC_STATIC,210,22,90,16,SS_CENTERIMAGE
  EDITTEXT     IDC_PREBUF,178,24,30,12, ES_RIGHT | ES_NUMBER
  LTEXT        "Timeout, ms (5000)",IDC_STATIC,210,38,90,16,SS_CENTERIMAGE
  EDITTEXT     IDC_TIMEOUT,178,40,30,12, ES_RIGHT | ES_NUMBER
  LTEXT        "Tries to connect",IDC_STATIC,210,54,90,16,SS_CENTERIMAGE
  EDITTEXT     IDC_TRIES,178,56,30,12, ES_RIGHT | ES_NUMBER

  LTEXT        "BASS library path (empty for default)",IDC_STATIC,6,73,276,14,SS_CENTERIMAGE
  EDITTEXT     IDC_BASSPATH, 2,87,284,11,ES_AUTOHSCROLL
  PUSHBUTTON   "...", IDC_BASSPTHBTN, 288,87,14,11, BS_BOTTOM
  
  COMBOBOX     IDC_DEVICE,2,101,190,75,CBS_DROPDOWNLIST | WS_VSCROLL
  LTEXT        "Device list",IDC_STATIC,194,99,106,16,SS_CENTERIMAGE

  COMBOBOX     IDC_PRESET,2,118,150,75,CBS_DROPDOWN | WS_VSCROLL
  CONTROL      "+", IDC_EQ_ADD, "MButtonClass",WS_TABSTOP, 154,116,16,16,$18000000
  CONTROL      "-", IDC_EQ_DEL, "MButtonClass",WS_TABSTOP, 174,116,16,16,$18000000
  LTEXT        "Equalizer presets",IDC_STATIC,194,116,106,16,SS_CENTERIMAGE

  PUSHBUTTON   "OFF", IDC_EQOFF,6 ,155,22,12,BS_PUSHLIKE | BS_CHECKBOX | BS_DEFPUSHBUTTON
  PUSHBUTTON   "0"  ,IDC_ZERO  ,9 ,172,14,13
  RTEXT        "15" ,IDC_STATIC,13,142,16,10
  RTEXT        "-15",IDC_STATIC,13,200,16,10

  CTEXT        "",IDC_0,34,212,16,9
  CONTROL      "",IDC_EQ00,"msctls_trackbar32",TBS_LEFT|TBS_VERT|WS_TABSTOP, 29,137,22,75
  CTEXT        "",IDC_1,61,212,16,9
  CONTROL      "",IDC_EQ01,"msctls_trackbar32",TBS_LEFT|TBS_VERT|WS_TABSTOP, 55,137,22,75
  CTEXT        "",IDC_2,87,212,16,9
  CONTROL      "",IDC_EQ02,"msctls_trackbar32",TBS_LEFT|TBS_VERT|WS_TABSTOP, 81,137,22,75
  CTEXT        "",IDC_3,113,212,16,9
  CONTROL      "",IDC_EQ03,"msctls_trackbar32",TBS_LEFT|TBS_VERT|WS_TABSTOP,107,137,22,75
  CTEXT        "",IDC_4,139,212,16,9
  CONTROL      "",IDC_EQ04,"msctls_trackbar32",TBS_LEFT|TBS_VERT|WS_TABSTOP,133,137,22,75
  CTEXT        "",IDC_5,165,212,16,9
  CONTROL      "",IDC_EQ05,"msctls_trackbar32",TBS_LEFT|TBS_VERT|WS_TABSTOP,159,137,22,75
  CTEXT        "",IDC_6,191,212,16,9
  CONTROL      "",IDC_EQ06,"msctls_trackbar32",TBS_LEFT|TBS_VERT|WS_TABSTOP,185,137,22,75
  CTEXT        "",IDC_7,217,212,16,9
  CONTROL      "",IDC_EQ07,"msctls_trackbar32",TBS_LEFT|TBS_VERT|WS_TABSTOP,211,137,22,75
  CTEXT        "",IDC_8,243,212,16,9
  CONTROL      "",IDC_EQ08,"msctls_trackbar32",TBS_LEFT|TBS_VERT|WS_TABSTOP,237,137,22,75
  CTEXT        "",IDC_9,269,212,16,9
  CONTROL      "",IDC_EQ09,"msctls_trackbar32",TBS_LEFT|TBS_VERT|WS_TABSTOP,263,137,22,75
  GROUPBOX     "Equalizer",IDC_STATIC,2,131,298,92
}
/*
IDD_INFO DIALOGEX 0, 0, 222, 132
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | DS_3DLOOK
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
BEGIN
  LTEXT    "Station",IDC_STATIC,8,1,98,8
  EDITTEXT IDC_STATION,4,11,102,12,ES_AUTOHSCROLL
  LTEXT    "URL",IDC_STATIC,8,27,98,8
  EDITTEXT IDC_STATIONURL,4,37,102,12,ES_AUTOHSCROLL
  LTEXT    "Genre",IDC_STATIC,8,53,98,8
  EDITTEXT IDC_GENRE,4,63,102,12,ES_AUTOHSCROLL
  LTEXT    "Bitrate",IDC_STATIC,8,79,72,8
  EDITTEXT IDC_BITRATE,4,89,76,12, ES_RIGHT | ES_NUMBER
END
*/
IDD_SEARCH DIALOGEX 0, 0, 110, 140
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
BEGIN
  LTEXT    "Station",IDC_STATIC,8,1,98,8
  EDITTEXT IDC_STATION,4,11,102,12,ES_AUTOHSCROLL
  LTEXT    "URL",IDC_STATIC,8,27,98,8
  EDITTEXT IDC_STATIONURL,4,37,102,12,ES_AUTOHSCROLL
  LTEXT    "Genre",IDC_STATIC,8,53,98,8
  EDITTEXT IDC_GENRE,4,63,102,12,ES_AUTOHSCROLL
  LTEXT    "Bitrate",IDC_STATIC,8,79,72,8
  EDITTEXT IDC_BITRATE,4,89,76,12, ES_RIGHT | ES_NUMBER

  AUTORADIOBUTTON "<",IDC_LT,86,80,20,10
  AUTORADIOBUTTON "=",IDC_EQ,86,91,20,10
  AUTORADIOBUTTON ">",IDC_GT,86,102,20,10

  LTEXT    "Custom INI file",IDC_STATIC,8,112,98,8
  EDITTEXT IDC_CUSTOMINI,4,122,84,12,ES_AUTOHSCROLL
  PUSHBUTTON   "...",IDC_BN_INIPATH, 90,122,14,12
END

// just for frame API version
IDD_FRAME DIALOGEX 0, 0, 114, 16, 0
STYLE DS_SETFONT | WS_CHILD | DS_FIXEDSYS | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
BEGIN
  PUSHBUTTON "*" ,IDC_RADIO_OPEN, 2,1,12,12, BS_OWNERDRAW
  CONTROL "" ,IDC_RADIO_VOL ,"msctls_trackbar32", TBS_BOTTOM|TBS_NOTICKS|$100,16,2,82,11
  PUSHBUTTON "*" ,IDC_RADIO_MUTE, 100,1,12,12, BS_OWNERDRAW
END


IDI_MAIN  ICON "ico\mradio.ico"
IDI_ON    ICON "ico\on.ico"
IDI_OFF   ICON "ico\off.ico"
IDI_ADD   ICON "ico\new.ico"
IDI_DEL   ICON "ico\delete.ico"
IDI_OPEN  ICON "ico\open.ico"
BTN_RECUP ICON "ico\recon.ico"
BTN_RECDN ICON "ico\recoff.ico"
/*
LANGUAGE 0,0 
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,0,2,2
 PRODUCTVERSION 0,0,8,0
 FILEFLAGSMASK $3F
 FILEOS 4 
 FILETYPE 2 
 FILESUBTYPE 0 
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "000004b0"
    BEGIN
      VALUE "CompanyName",""0 
      VALUE "Comments", "Plugin to play Internet radio"0 
      VALUE "FileDescription", "mRadio Mod plugin for Miranda NG"0 
      VALUE "FileVersion", "0, 0, 2, 2 "0 
      VALUE "InternalName", "mRadio Mod"0 
      VALUE "OriginalFilename", "mradio.dll"0 
      VALUE "ProductName", "mRadio Mod Dynamic Link Library (DLL)"0 
      VALUE "ProductVersion", "0, 0, 8, 0 "0 
      VALUE "SpecialBuild", "10.05.2012 "0 
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
      VALUE "Translation",0,1200 
  END
END
*/