1 Icon res\historypp_contact.ico
2 Icon res\historypp_search.ico
3 Icon res\historypp_session_div.ico
4 Icon res\sess_session.ico
5 Icon res\sess_summer.ico
6 Icon res\sess_autumn.ico
7 Icon res\sess_winter.ico
8 Icon res\sess_spring.ico
9 Icon res\sess_year.ico
10 Icon res\historypp_hotfilter.ico
11 Icon res\historypp_hotfilterwait.ico
12 Icon res\historypp_search_allresults.ico
13 Icon res\toolbar_saveall.ico
14 Icon res\historypp_hotsearch.ico
15 Icon res\historypp_searchup.ico
16 Icon res\historypp_searchdown.ico
17 Icon res\toolbar_deleteall.ico
18 Icon res\toolbar_delete.ico
19 Icon res\toolbar_sessions.ico
20 Icon res\toolbar_save.ico
21 Icon res\toolbar_copy.ico
22 Icon res\search_endofpage.ico
23 Icon res\search_notfound.ico
24 Icon res\historypp_hotfilterclear.ico
25 Icon res\historypp_session_hide.ico
26 Icon res\toolbar_eventsfilter.ico
27 Icon res\historypp_contactdetails.ico
28 Icon res\historypp_contactmenu.ico
29 Icon res\historypp_bookmark.ico
30 Icon res\historypp_bookmark_on.ico
31 Icon res\historypp_bookmark_off.ico
32 Icon res\gsearch_advanced.ico
33 Icon res\gsearch_limitrange.ico
34 Icon res\gsearch_searchprotected.ico
35 Icon res\event_incoming.ico
36 Icon res\event_outgoing.ico
37 Icon res\event_system.ico
38 Icon res\event_contacts.ico
39 Icon res\event_sms.ico
40 Icon res\event_webpager.ico
41 Icon res\event_eexpress.ico
42 Icon res\event_status.ico
43 Icon res\event_smtpsimple.ico
44 Icon res\event_nick.ico
45 Icon res\event_avatar.ico
46 Icon res\event_watrack.ico
47 Icon res\event_statusmes.ico
48 Icon res\event_voicecall.ico
