#include "..\src\resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include <winres.h>
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEUSD)
LANGUAGE LANG_NEUTRAL, SUBLANG_SYS_DEFAULT
#pragma code_page(1251)

IDD_OPT DIALOGEX 0, 0, 309, 132
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "LibreView account",IDC_STATIC,4,2,301,94
    LTEXT           "Email:",IDC_STATIC_EMAIL,10,20,70,9,0,WS_EX_RIGHT
    EDITTEXT        IDC_EMAIL,84,18,218,12,ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    LTEXT           "Password:",IDC_STATIC_PASSWORD,10,36,70,9,0,WS_EX_RIGHT
    EDITTEXT        IDC_PASSWORD,84,34,218,12,ES_PASSWORD | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    LTEXT           "API URL:",IDC_STATIC_APIURL,10,52,70,9,0,WS_EX_RIGHT
    EDITTEXT        IDC_APIURL,84,50,218,12,ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_STATICEDGE
    LTEXT           "Update every",IDC_STATIC_INTERVAL,10,67,70,9,0,WS_EX_RIGHT
    EDITTEXT        IDC_INTERVAL,84,65,24,12,ES_NUMBER | NOT WS_BORDER,WS_EX_STATICEDGE
    LTEXT           "minutes",IDC_STATIC_MINUTES,112,67,44,9
    LTEXT           "Display units:",IDC_STATIC,10,82,70,9,0,WS_EX_RIGHT
    CONTROL         "mmol/l",IDC_UNIT_MMOL,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,84,81,58,10
    CONTROL         "mg/dL",IDC_UNIT_MGDL,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,146,81,58,10
    CONTROL         "Automatically update every interval",IDC_AUTOUPDATE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,84,110,180,10
END

IDD_USERINFO DIALOGEX 0, 0, 309, 132
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "LibreView",IDC_STATIC,4,2,301,124
    LTEXT           "Patient:",IDC_STATIC,10,18,90,9,0,WS_EX_RIGHT
    LTEXT           "",IDC_PATIENT,104,18,198,9
    LTEXT           "Current glucose:",IDC_STATIC,10,34,90,9,0,WS_EX_RIGHT
    LTEXT           "",IDC_CURRENT,104,34,198,9
    LTEXT           "Sensor activation:",IDC_STATIC,10,50,90,9,0,WS_EX_RIGHT
    LTEXT           "",IDC_SENSOR_ACTIVATION,104,50,198,9
    LTEXT           "Sensor remaining:",IDC_STATIC,10,66,90,9,0,WS_EX_RIGHT
    LTEXT           "",IDC_SENSOR_REMAINING,104,66,198,9
    LTEXT           "Target low:",IDC_STATIC,10,82,90,9,0,WS_EX_RIGHT
    LTEXT           "",IDC_TARGET_LOW,104,82,198,9
    LTEXT           "Target high:",IDC_STATIC,10,98,90,9,0,WS_EX_RIGHT
    LTEXT           "",IDC_TARGET_HIGH,104,98,198,9
    LTEXT           "Last update:",IDC_STATIC,10,114,90,9,0,WS_EX_RIGHT
    LTEXT           "",IDC_LAST_UPDATE,104,114,198,9
END

#endif
