#include "i_text_const.inc"

LANGUAGE 0,0

IDD_EDITCONTROL DIALOGEX 0, 0, 226,184, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_VISIBLE | WS_THICKFRAME
CAPTION "Text Editor"
EXSTYLE  WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
//  COMBOBOX IDC_TYPE, 4, 4, 140, 56, CBS_DROPDOWNLIST | WS_VSCROLL
  AUTOCHECKBOX "Script"   , IDC_TEXT_SCRIPT, 4, 23, 142, 14
  CONTROL "Help"  ,IDC_SCRIPT_HELP  ,"MButtonClass",WS_TABSTOP,206,22,16,16,$18000000 | WS_GROUP

  EDITTEXT IDC_TEXT_EDIT_NW , 4, 40, 218, 124, 
           ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_HSCROLL | WS_VSCROLL
  EDITTEXT IDC_TEXT_EDIT_W, 4, 40, 218, 124, 
           ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL
  AUTOCHECKBOX "Wrap Text", IDC_TEXT_WRAP, 4, 168, 116, 14

  PUSHBUTTON "&OK"    , IDOK    , 124, 168,  46, 14
  PUSHBUTTON "C&ancel", IDCANCEL, 176, 168,  46, 14
}

//IDI_TEXT   ICON "ico\text.ico"
//IDI_SCRIPT ICON "ico\script.ico"
