#include "i_card_const.inc"

LANGUAGE 0,0

IDD_MAPIHELP DIALOGEX 0, 0, 256, 174, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE  WS_EX_CONTROLPARENT
CAPTION "Service help"
FONT 8, "MS Shell Dlg", 0, 0
{
  DEFPUSHBUTTON "OK", IDOK,  4, 126,  26, 16

  RTEXT "Name", -1        ,  4,  4,  60, 14, SS_CENTERIMAGE
  EDITTEXT IDC_HLP_SERVICE, 70,  5, 180, 12, ES_READONLY

  RTEXT "Alias", -1       ,  4, 20,  60, 14, SS_CENTERIMAGE
  EDITTEXT IDC_HLP_ALIAS  , 70, 21, 180, 12, ES_READONLY

  RTEXT "Plugin", -1      ,  4, 36,  60, 14, SS_CENTERIMAGE
  EDITTEXT IDC_HLP_PLUGIN , 70, 37, 180, 12, ES_READONLY

  RTEXT "wParam", -1      ,  4, 52,  60, 14, SS_CENTERIMAGE
  EDITTEXT IDC_HLP_WPARAM , 70, 53, 180, 12, ES_READONLY
  COMBOBOX IDC_HLP_WPARAML, 70, 53, 180, 76, CBS_DROPDOWNLIST | WS_VSCROLL | CBS_AUTOHSCROLL

  RTEXT "lParam", -1      ,  4, 68,  60, 14, SS_CENTERIMAGE
  EDITTEXT IDC_HLP_LPARAM , 70, 69, 180, 12, ES_READONLY
  COMBOBOX IDC_HLP_LPARAML, 70, 69, 180, 76, CBS_DROPDOWNLIST | WS_VSCROLL | CBS_AUTOHSCROLL

  RTEXT "Return", -1      ,  4, 84,  60, 14, SS_CENTERIMAGE
  EDITTEXT IDC_HLP_RETURN , 70, 85, 180, 12, ES_READONLY | ES_AUTOHSCROLL

 	RTEXT "Effect", -1      ,  4, 100,  60, 14, SS_CENTERIMAGE
  EDITTEXT IDC_HLP_EFFECT , 70, 100, 180, 42, ES_MULTILINE | ES_READONLY | ES_AUTOVSCROLL

  CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 2, 146, 252, 2
  LTEXT "'<proto>' in service name will be replaced by protocol name for contact handle in parameter",
     IDC_HLP_NOTE, 4, 149, 248, 22
}
