#include "i_struct_const.inc"

LANGUAGE 0,0

IDD_STRUCTURE DIALOGEX 0, 0, 348,184, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_VISIBLE | WS_THICKFRAME
CAPTION "Structure editor"
EXSTYLE  WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  CONTROL ""      , IDC_DATA_FULL, "SysListView32",
                    WS_BORDER | WS_TABSTOP |
                    LVS_SHOWSELALWAYS | LVS_EDITLABELS | // LVS_NOCOLUMNHEADER |
                    LVS_SINGLESEL | LVS_REPORT,
                    2,  2, 160, 162, WS_EX_CONTROLPARENT
  COMBOBOX IDC_DATA_TMPL , 2, 168, 140, 56, CBS_DROPDOWNLIST | WS_VSCROLL

#ifdef Miranda
  CONTROL "New"   ,IDC_DATA_NEW   ,"MButtonClass",WS_TABSTOP,166,  2,16,16,$18000000// | WS_GROUP
  CONTROL "Up"    ,IDC_DATA_UP    ,"MButtonClass",WS_TABSTOP,166, 22,16,16,$18000000
  CONTROL "Down"  ,IDC_DATA_DOWN  ,"MButtonClass",WS_TABSTOP,166, 40,16,16,$18000000
  CONTROL "Delete",IDC_DATA_DELETE,"MButtonClass",WS_TABSTOP,166, 60,16,16,$18000000

  CONTROL "?"     ,IDC_DATA_INFO  ,"MButtonClass",WS_TABSTOP,146,167,16,16,$18000000
  CONTROL "!"     ,IDC_DATA_PASTE ,"MButtonClass",WS_TABSTOP,166,167,16,16,$18000000
#else
  PUSHBUTTON "New"   ,IDC_DATA_NEW   ,166,  2,16,16, BS_ICON | BS_FLAT
  PUSHBUTTON "Up"    ,IDC_DATA_UP    ,166, 22,16,16, BS_ICON | BS_FLAT
  PUSHBUTTON "Down"  ,IDC_DATA_DOWN  ,166, 40,16,16, BS_ICON | BS_FLAT
  PUSHBUTTON "Delete",IDC_DATA_DELETE,166, 60,16,16, BS_ICON | BS_FLAT

  PUSHBUTTON "?"     ,IDC_DATA_INFO  ,146,167,16,16, BS_ICON | BS_FLAT
  PUSHBUTTON "!"     ,IDC_DATA_PASTE ,166,167,16,16, BS_ICON | BS_FLAT
#endif

  RTEXT    "Data align",IDC_DATA_SALGN, 186, 2, 86, 14, SS_CENTERIMAGE
  COMBOBOX IDC_DATA_ALIGN , 274, 2, 72, 56, CBS_DROPDOWNLIST | WS_VSCROLL
  CONTROL  "", IDC_DATA_SEP, "STATIC", SS_ETCHEDHORZ, 186, 20, 160, 2

  COMBOBOX                      IDC_DATA_TYPE, 186,  24, 160, 96, CBS_DROPDOWNLIST | WS_VSCROLL
  EDITTEXT                      IDC_DATA_LEN , 186,  40,  40, 11
  LTEXT        "Data length"  , IDC_DATA_SLEN, 230,  40, 116, 11, SS_CENTERIMAGE
  EDITTEXT                      IDC_DATA_EDIT, 186,  55, 160, 82, 
                                ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN
  EDITTEXT                      IDC_DATA_EDTN, 186,  55, 160, 11
#ifdef Miranda
  CONTROL "V"  ,IDC_VAR_HELP   ,"MButtonClass",WS_TABSTOP,328,137,16,16,$18000000
  AUTOCHECKBOX "Use Variables", IDC_DATA_VARS , 186, 138, 142, 14
  AUTOCHECKBOX "Use MMI"      , IDC_DATA_MMI  , 186, 153, 160, 14
#endif
  AUTOCHECKBOX "Structure size", IDC_DATA_SIZE, 186, 153, 160, 14

  DEFPUSHBUTTON   "&Change", IDC_DATA_CHANGE, 186, 168,  46, 14//, WS_GROUP
  PUSHBUTTON      "&OK"    , IDOK           , 250, 168,  46, 14
  PUSHBUTTON      "C&ancel", IDCANCEL       , 300, 168,  46, 14

}

IDD_STRUCTHELP DIALOGEX 0, 0, 256, 174, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE  WS_EX_CONTROLPARENT
CAPTION "Structure help"
FONT 8, "MS Shell Dlg", 0, 0
{
  DEFPUSHBUTTON "OK", IDOK,  4, 154,  26, 16

  RTEXT "Name", -1     ,  4,  4,  60, 14, SS_CENTERIMAGE
  EDITTEXT IDC_HLP_NAME, 70,  5, 180, 12, ES_READONLY

  RTEXT "Plugin", -1      ,  4, 20,  60, 14, SS_CENTERIMAGE
  EDITTEXT IDC_HLP_PLUGIN , 70, 21, 180, 12, ES_READONLY

 	RTEXT "Description", -1      ,  4, 36,  60, 14, SS_CENTERIMAGE
  EDITTEXT IDC_HLP_DESCR , 70, 36, 180, 42, ES_MULTILINE | ES_READONLY | ES_AUTOVSCROLL

  CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 2, 80, 252, 2

  EDITTEXT IDC_HLP_STRUCT , 70, 84, 180, 88, ES_MULTILINE | ES_READONLY | ES_AUTOVSCROLL
}

IDI_NEW     ICON "ico\new.ico"
IDI_UP      ICON "ico\up.ico"
IDI_DOWN    ICON "ico\down.ico"
IDI_DELETE  ICON "ico\delete.ico"
