
#include <windows.h>
#include "version.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION __FILEVERSION_STRING
 PRODUCTVERSION __FILEVERSION_STRING
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Author", "Krzysztof Kral"
			VALUE "CompanyName", "Krzysztof Kral"
            VALUE "FileDescription", __DESCRIPTION
            VALUE "FileVersion", __VERSION_STRING
            VALUE "InternalName", __INTERNAL_NAME
            VALUE "LegalCopyright", __COPYRIGHT
			VALUE "OriginalFilename", __FILENAME
            VALUE "ProductName", __PLUGIN_NAME
            VALUE "ProductVersion", __VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
