// Microsoft Visual C++ generated resource script.
//
#ifdef APSTUDIO_INVOKED
#error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED

#include "..\src\version.h"

#include "..\..\build\Version.rc"
