#include "i_tmpl_rc.inc"
#include "resource.inc"

LANGUAGE 0,0

IDD_OPT_FORMAT DIALOGEX 0, 0, 304, 226, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
 GROUPBOX     "Options", -1, 2, 2, 188, 161, WS_TABSTOP
 AUTOCHECKBOX "Replace underlines with spaces", IDC_REPLACESPC, 6, 12, 182, 14, BS_VCENTER | BS_MULTILINE | BS_NOTIFY

 EDITTEXT        IDC_PRECISION, 192, 60, 20, 12, ES_RIGHT | ES_NUMBER
 GROUPBOX        "File size", -1, 192, 2, 64, 54
 AUTORADIOBUTTON "Bytes"    , IDC_FSIZEBYTE, 196, 14, 50, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Kilobytes", IDC_FSIZEKILO, 196, 28, 50, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Megabytes", IDC_FSIZEMEGA, 196, 42, 50, 10, NOT WS_TABSTOP
 LTEXT           "Precision", -1, 216, 62, 84, 12
 GROUPBOX        "Postfix", -1, 258, 2, 42, 54
 AUTORADIOBUTTON "none", IDC_POSTNONE , 262, 12, 30, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "kb"  , IDC_POSTSMALL, 262, 23, 30, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Kb"  , IDC_POSTMIX  , 262, 34, 30, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "KB"  , IDC_POSTLARGE, 262, 45, 30, 10, NOT WS_TABSTOP
// CONTROL         "", -1, "STATIC", SS_ETCHEDHORZ, 192, 77, 108, 2
 GROUPBOX        "VBR macro", -1, 192, 77, 108, 34
 AUTORADIOBUTTON "VBR or empty", IDC_WRITECBR1, 198, 87, 96, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "VBR or CBR"  , IDC_WRITECBR2, 198, 99, 96, 10, NOT WS_TABSTOP
 GROUPBOX        "Player name letters", -1, 192, 115, 108, 48
 RADIOBUTTON     "All uppercase", IDC_ALLCAP  , 198, 127, 96, 10, NOT WS_TABSTOP
 RADIOBUTTON     "Do not change", IDC_MIXCAP  , 198, 139, 96, 10, NOT WS_TABSTOP
 RADIOBUTTON     "All lowercase", IDC_SMALLCAP, 198, 151, 96, 10, NOT WS_TABSTOP

 AUTOCHECKBOX    "lowercase %type%", IDC_LOCASE, 193,164, 108, 14

 LTEXT           "Export text template",-1, 6, 164 ,142, 14, SS_CENTERIMAGE
 EDITTEXT        IDC_EXPORT_TEXT, 4, 180, 296, 42,
                 ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN
// PUSHBUTTON      "V", IDC_VAR_HELP  ,154,163,16,16
// PUSHBUTTON      "M", IDC_MACRO_HELP,172,163,16,16
  CONTROL "V"  ,IDC_VAR_HELP   ,"MButtonClass",WS_TABSTOP,154,163,16,16,$18000000
  CONTROL "M"  ,IDC_MACRO_HELP ,"MButtonClass",WS_TABSTOP,172,163,16,16,$18000000
}

MACRO DIALOGEX 0, 0, 240, 176, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_SIZEBOX
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "WATrack Macro Info"
FONT 8, "MS Shell Dlg", 0, 0
{
 CONTROL "", IDC_MACROHELP, "SysListView32", WS_BORDER | WS_TABSTOP | LVS_NOCOLUMNHEADER | LVS_EDITLABELS | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT, 6, 6, 228, 164, WS_EX_CONTROLPARENT
}
