#include "resource.inc"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDD_FRAME DIALOGEX 0, 0, 114, 16, 0
STYLE DS_SETFONT | WS_CHILD | DS_FIXEDSYS | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  PUSHBUTTON "*", IDC_FRAME_OPEN,  2, 2, 12, 12, BS_ICON
  EDITTEXT        IDC_FRAME_EDIT, 16, 2, 96, 12
//  PUSHBUTTON "<", IDC_FRAME_PREV, 80, 2, 15, 12
//  PUSHBUTTON ">", IDC_FRAME_NEXT, 97, 2, 15, 12
}

/*
IDD_SCRIPT DIALOGEX 0, 0, 256, 82, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_VISIBLE | WS_THICKFRAME
CAPTION "Script Editor"
//EXSTYLE  WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  EDITTEXT        IDC_EDIT_SCRIPT           , 4, 4, 248, 56,
                  ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL
  PUSHBUTTON      "&OK"    , IDOK           , 106, 64,  46, 14
  PUSHBUTTON      "&Help"  , IDHELP         , 156, 64,  46, 14
  PUSHBUTTON      "C&ancel", IDCANCEL       , 206, 64,  46, 14
}
*/
IDD_DIALOG1 DIALOGEX 0, 0, 314, 250
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE | WS_BORDER
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg",0,0
{
  CONTROL "Reload" ,IDC_RELOAD ,"MButtonClass",WS_TABSTOP,  2,148,16,16,$18000000
  CONTROL "New"    ,IDC_NEW    ,"MButtonClass",WS_TABSTOP, 32,148,16,16,$18000000
  CONTROL "Up"     ,IDC_UP     ,"MButtonClass",WS_TABSTOP, 62,148,16,16,$18000000
  CONTROL "Down"   ,IDC_DN     ,"MButtonClass",WS_TABSTOP, 80,148,16,16,$18000000
  CONTROL "Delete" ,IDC_DELETE ,"MButtonClass",WS_TABSTOP,112,148,16,16,$18000000
  CONTROL "Default",IDC_DEFAULT,"MButtonClass",WS_TABSTOP,142,148,16,16,$18000000

  CONTROL    "List2",IDC_LIST,"SysListView32",LVS_REPORT |
             LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER |
             WS_BORDER | WS_TABSTOP,0,2,158,144

  CONTROL    ">>",IDC_B_RESIZE,"Button", BS_FLAT | WS_TABSTOP,160,2,10,246

  // Common header
  CTEXT      "Settings",IDC_S_COLSETTING,172,2,139,12, SS_CENTERIMAGE
  CONTROL    "", IDC_S_LINE, "STATIC", SS_ETCHEDHORZ, 172,14,139,2

  LTEXT      "Title:",IDC_S_TITLE,174,16,137,12, SS_CENTERIMAGE
  EDITTEXT            IDC_E_TITLE,172,28,139,14, ES_AUTOHSCROLL | WS_TABSTOP

  // TYPE
  LTEXT      "Type:",IDC_S_VARTYPE,174,44,137,12, SS_CENTERIMAGE
  COMBOBOX           IDC_C_VARTYPE,172,56,139,80, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL |
                                                  WS_VSCROLL | WS_TABSTOP

  // SETTING
  LTEXT      "Data type:" ,IDC_S_DATATYPE, 174,72,137,12, SS_CENTERIMAGE
  COMBOBOX                 IDC_C_DATATYPE, 172,84,139,80, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL |
                                                          WS_VSCROLL | WS_TABSTOP

  LTEXT      "Module:",  IDC_S_MODULE, 174,104,137,12, SS_CENTERIMAGE
  EDITTEXT               IDC_E_MODULE, 172,116,139,14, ES_AUTOHSCROLL | WS_TABSTOP

  LTEXT      "Setting:", IDC_S_SETTING, 174,132,137,12, SS_CENTERIMAGE
  EDITTEXT               IDC_E_SETTING, 172,144,139,14, ES_AUTOHSCROLL | WS_TABSTOP

  // CONTACTINFO
  LTEXT      "InfoType:",IDC_S_CNFTYPE, 174,72,137,12, SS_CENTERIMAGE
  COMBOBOX               IDC_C_CNFTYPE, 172,84,139,80, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL |
                                                       WS_VSCROLL | WS_TABSTOP

  // SERVICE

  // SCRIPT
  EDITTEXT   IDC_E_SCRIPT, 172,72,139,14, ES_AUTOHSCROLL | WS_TABSTOP

  // -- NO PARAM --
  COMBOBOX   IDC_C_OTHER, 172,72,139,150, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP


  PUSHBUTTON "Save", IDC_SETITEM, 259,234,52,14, WS_TABSTOP

  CONTROL  "Tool Window Style",IDC_CH_USETOOLSTYLE,"Button",
           BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,3,176,152,12
  CONTROL  "Draw Grid",IDC_CH_DRAWGRID,"Button",
           BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,3,188,152,12
  CONTROL  "Save search pattern",IDC_CH_SAVEPATTERN,"Button",
           BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,3,200,152,12
  CONTROL  "Auto Close mode",IDC_CH_AUTOCLOSE,"Button",
           BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,3,212,152,12
  CONTROL  "Sort by Status",IDC_CH_SORTSTATUS,"Button",
           BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,3,224,152,12
  CONTROL  "Show Client Icons",IDC_CH_CLIENTICONS,"Button",
           BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,3,236,152,12
  GROUPBOX "Additional Options",IDC_CH_GROUP,0,168,158,82
}

IDI_QS      ICON DISCARDABLE "ico\qs.ico"

IDI_NEW     ICON DISCARDABLE "ico\new.ico"
IDI_UP      ICON DISCARDABLE "ico\up.ico"
IDI_DOWN    ICON DISCARDABLE "ico\down.ico"
IDI_DELETE  ICON DISCARDABLE "ico\delete.ico"
IDI_DEFAULT ICON DISCARDABLE "ico\default.ico"
IDI_RELOAD  ICON DISCARDABLE "ico\reload.ico"

IDI_MALE    ICON DISCARDABLE "ico\male.ico"
IDI_FEMALE  ICON DISCARDABLE "ico\female.ico"

IDD_MAIN DIALOGEX 40, 40, 520, 240
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CAPTION | WS_VISIBLE | WS_BORDER | WS_SYSMENU |
      WS_DLGFRAME | WS_OVERLAPPED | WS_MAXIMIZEBOX | WS_MINIMIZEBOX | WS_THICKFRAME
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg",0,0
{
  EDITTEXT   IDC_E_SEARCHTEXT, 180,8,276,14, WS_TABSTOP// | ES_LOWERCASE
  PUSHBUTTON "Close"  , IDCANCEL   , 462, 0,52,14, WS_TABSTOP
  PUSHBUTTON "Refresh", IDC_REFRESH, 462,16,52,14, WS_TABSTOP

  CONTROL    "Show Offline contacts",IDC_CH_SHOWOFFLINE,"Button",
             BS_AUTOCHECKBOX | BS_FLAT | BS_MULTILINE | BS_VCENTER | WS_TABSTOP,2,0,96,20
  CONTROL    "Colorize",IDC_CH_COLORIZE,"Button",
             BS_AUTOCHECKBOX | BS_FLAT | BS_MULTILINE | BS_VCENTER | WS_TABSTOP,2,20,96,10
//  LTEXT      "Search for:",-1, 4,4,52,14, SS_CENTERIMAGE
  COMBOBOX   IDC_CB_PROTOCOLS,100,8,76,80, CBS_DROPDOWNLIST |
             CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
  CONTROL    "", IDC_LIST, "SysListView32", WS_BORDER | WS_TABSTOP | // LVS_SHAREIMAGELISTS | // LVS_EX_SUBITEMIMAGES |
             LVS_SHOWSELALWAYS | LVS_REPORT | LVS_NOLABELWRAP,
             2, 32, 516, 194 //, WS_EX_CONTROLPARENT

  CONTROL    "", IDC_STATUSBAR, "msctls_statusbar32",
             CCS_BOTTOM | 0x0900, // SBT_TOOLTIPS | SBARS_SIZEGRIP
             0,226,520,14
}
/*
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,4,2,0
 PRODUCTVERSION 1,4,0,0
 FILEFLAGSMASK $3F
 FILEOS 4
 FILETYPE 2
 FILESUBTYPE 0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "000004b0"
    BEGIN
      VALUE "CompanyName",""
      VALUE "Comments", "Plugin to quick search for nickname, firstname, lastname, email, uin in your contact list"0
      VALUE "FileDescription", "Quick info search plugin for Miranda NG"0
      VALUE "FileVersion", "1, 4, 2, 0 "0
      VALUE "InternalName", "QuickSearch"0
      VALUE "OriginalFilename", "quicksearch.dll"0
      VALUE "ProductName", "QuickSearch Dynamic Link Library (DLL)"0
      VALUE "ProductVersion", "1, 4, 2, 0 "0
      VALUE "SpecialBuild", "12.09.2012 "0
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
      VALUE "Translation",0,1200
  END
END
*/