#include "resource.inc"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDD_FRAME DIALOGEX 0, 0, 114, 16, 0
STYLE DS_SETFONT | WS_CHILD | DS_FIXEDSYS | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  PUSHBUTTON "*", IDC_FRAME_OPEN,  2, 2, 12, 12
  EDITTEXT        IDC_FRAME_EDIT, 16, 2, 62, 12
  PUSHBUTTON "<", IDC_FRAME_PREV, 80, 2, 15, 12
  PUSHBUTTON ">", IDC_FRAME_NEXT, 97, 2, 15, 12
}

IDD_SCRIPT DIALOGEX 0, 0, 256, 82, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_VISIBLE | WS_THICKFRAME
CAPTION "Script Editor"
//EXSTYLE  WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  EDITTEXT        IDC_EDIT_SCRIPT           , 4, 4, 248, 56,
                  ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL
  PUSHBUTTON      "&OK"    , IDOK           , 106, 64,  46, 14
  PUSHBUTTON      "&Help"  , IDHELP         , 156, 64,  46, 14
  PUSHBUTTON      "C&ancel", IDCANCEL       , 206, 64,  46, 14
}

IDD_DIALOG1 DIALOGEX 40, 40, 314, 240
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE | WS_BORDER
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg",0,0
{
  CONTROL "New"    ,IDC_NEW    ,"MButtonClass",WS_TABSTOP,216, 46,16,16,$18000000
  CONTROL "Save"   ,IDC_SETITEM,"MButtonClass",WS_TABSTOP,216, 64,16,16,$18000000
  CONTROL "Up"     ,IDC_UP     ,"MButtonClass",WS_TABSTOP,216, 82,16,16,$18000000
  CONTROL "Down"   ,IDC_DN     ,"MButtonClass",WS_TABSTOP,216,100,16,16,$18000000
  CONTROL "Delete" ,IDC_DELETE ,"MButtonClass",WS_TABSTOP,216,118,16,16,$18000000
  CONTROL "Default",IDC_DEFAULT,"MButtonClass",WS_TABSTOP,216,136,16,16,$18000000
  CONTROL "Reload" ,IDC_RELOAD ,"MButtonClass",WS_TABSTOP,216,  2,16,16,$18000000

  CONTROL    "List2",IDC_LIST,"SysListView32",LVS_REPORT |
             LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER |
             WS_BORDER | WS_TABSTOP,0,2,213,150

  CTEXT      "Settings",-1 ,234, 2,77,12, SS_CENTERIMAGE
  CONTROL    "", -1, "STATIC", SS_ETCHEDHORZ, 234, 14, 77, 2

  LTEXT      "Title:",-1   ,236, 16,75,12, SS_CENTERIMAGE
  EDITTEXT   IDC_E_TITLE   ,234, 28,77,14, ES_AUTOHSCROLL | WS_TABSTOP

  LTEXT      "Type:",-1    ,236, 44,75,12, SS_CENTERIMAGE
  COMBOBOX   IDC_C_VARTYPE ,234, 56,77,110, CBS_DROPDOWNLIST |
             CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP

  LTEXT      "InfoType:",IDC_STAT_VARTYPE,236, 72,75,12, SS_CENTERIMAGE
  COMBOBOX   IDC_C_CNFTYPE ,234, 84,77,150, CBS_DROPDOWNLIST |
             CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
  COMBOBOX   IDC_C_RESULT  ,234, 84,77,80, CBS_DROPDOWNLIST |
             CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
  PUSHBUTTON "Script",IDC_SCRIPT, 234, 84, 77, 12

  LTEXT      "Service:",IDC_STAT_SERVICE ,236,100,75,12, SS_CENTERIMAGE
  LTEXT      "Module:" ,IDC_STAT_MODULE  ,236,100,75,12, SS_CENTERIMAGE
  EDITTEXT   IDC_E_MODULE  ,234,112,77,14, ES_AUTOHSCROLL | WS_TABSTOP

  LTEXT      "wParam:",IDC_STAT_WPAR     ,236,128,75,12, SS_CENTERIMAGE
  LTEXT      "Setting:",IDC_STAT_SETTING ,236,128,75,12, SS_CENTERIMAGE
  EDITTEXT   IDC_E_VAR ,234,140,77,14, ES_AUTOHSCROLL | WS_TABSTOP

  LTEXT      "wParam type:",-1,236,156,75,12, SS_CENTERIMAGE
  COMBOBOX   IDC_C_WPAR    ,234,168,77,80, CBS_DROPDOWNLIST |
             CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP

  LTEXT      "lParam:",-1,236,184,75,12, SS_CENTERIMAGE
  EDITTEXT   IDC_E_LPAR  ,234,196,77,14, ES_AUTOHSCROLL | WS_TABSTOP

  LTEXT      "lParam type:",-1 ,236,212,75,12, SS_CENTERIMAGE
  COMBOBOX   IDC_C_LPAR    ,234,224,77,80, CBS_DROPDOWNLIST |
             CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP

  CONTROL    "Sort by Status",IDC_CH_SORTSTATUS,"Button",
             BS_MULTILINE | BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,5,166,109,10
  CONTROL    "Only Users in List",IDC_CH_SHOWONLYUSERS,"Button",
             BS_MULTILINE | BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,5,178,109,10
  CONTROL    "Auto Close mode",IDC_CH_AUTOCLOSE,"Button",
             BS_MULTILINE | BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,5,190,109,10
  CONTROL    "Draw Grid",IDC_CH_DRAWGRID,"Button",
             BS_MULTILINE | BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,5,202,109,10
  CONTROL    "Show Client Icons",IDC_CH_SHOWCLIENTICONS,"Button",
             BS_MULTILINE | BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,5,214,109,10
  CONTROL    "Save search pattern",IDC_CH_SAVEPATTERN,"Button",
             BS_MULTILINE | BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,5,226,109,10
  GROUPBOX   "",-1,0,154,116,84

  CONTROL    "Item in Main Menu",IDC_CH_SHOWINMENU,"Button",
             BS_MULTILINE | BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,121,166,109,10
  CONTROL    "Button on TopToolBar",IDC_CH_ADDTOTOPTOOLBAR,"Button",
             BS_MULTILINE | BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,121,178,109,10
  CONTROL    "Tool Window Style",IDC_CH_USETOOLSTYLE,"Button",
             BS_MULTILINE | BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,121,190,109,10
  CONTROL    "Copy line to CSV",IDC_CH_SINGLECSV,"Button",
             BS_MULTILINE | BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,121,202,109,10
  CONTROL    "CSV with headers",IDC_CH_EXPORTHEADERS,"Button",
             BS_MULTILINE | BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,121,214,109,10
  CONTROL    "Skip minimized columns",IDC_CH_SKIPMINIMIZED,"Button",
             BS_MULTILINE | BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,121,226,109,10
  GROUPBOX   "",-1,118,154,114,84
  GROUPBOX   "Additional Options",-1,0,154,232,84
}

IDI_QS      ICON DISCARDABLE "ico\qs.ico"

IDI_NEW     ICON DISCARDABLE "ico\new.ico"
IDI_ITEM    ICON DISCARDABLE "ico\item.ico"
IDI_UP      ICON DISCARDABLE "ico\up.ico"
IDI_DOWN    ICON DISCARDABLE "ico\down.ico"
IDI_DELETE  ICON DISCARDABLE "ico\delete.ico"
IDI_DEFAULT ICON DISCARDABLE "ico\default.ico"
IDI_RELOAD  ICON DISCARDABLE "ico\reload.ico"

IDI_MALE    ICON DISCARDABLE "ico\male.ico"
IDI_FEMALE  ICON DISCARDABLE "ico\female.ico"

IDD_MAIN DIALOGEX 40, 40, 520, 240
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CAPTION | WS_VISIBLE | WS_BORDER | WS_SYSMENU |
      WS_DLGFRAME | WS_OVERLAPPED | WS_MAXIMIZEBOX | WS_MINIMIZEBOX | WS_THICKFRAME
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg",0,0
{
  EDITTEXT   IDC_E_SEARCHTEXT, 180,8,276,14, WS_TABSTOP// | ES_LOWERCASE
  PUSHBUTTON "Close"  , IDCANCEL   , 462, 0,52,14, WS_TABSTOP
  PUSHBUTTON "Refresh", IDC_REFRESH, 462,16,52,14, WS_TABSTOP

  CONTROL    "Show Offline contacts",IDC_CH_SHOWOFFLINE,"Button",
             BS_AUTOCHECKBOX | BS_FLAT | BS_MULTILINE | BS_VCENTER | WS_TABSTOP,2,0,96,20
  CONTROL    "Colorize",IDC_CH_COLORIZE,"Button",
             BS_AUTOCHECKBOX | BS_FLAT | BS_MULTILINE | BS_VCENTER | WS_TABSTOP,2,20,96,10
//  LTEXT      "Search for:",-1, 4,4,52,14, SS_CENTERIMAGE
  COMBOBOX   IDC_CB_PROTOCOLS,100,8,76,80, CBS_DROPDOWNLIST |
             CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
  CONTROL    "", IDC_LIST, "SysListView32", WS_BORDER | WS_TABSTOP | // LVS_SHAREIMAGELISTS | // LVS_EX_SUBITEMIMAGES |
             LVS_SHOWSELALWAYS | LVS_REPORT | LVS_NOLABELWRAP,
             2, 32, 516, 194 //, WS_EX_CONTROLPARENT

  CONTROL    "", IDC_STATUSBAR, "msctls_statusbar32",
             CCS_BOTTOM | 0x0900, // SBT_TOOLTIPS | SBARS_SIZEGRIP
             0,226,520,14
}

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,4,1,18
 PRODUCTVERSION 0,8,0,0
 FILEFLAGSMASK $3F
 FILEOS 4
 FILETYPE 2
 FILESUBTYPE 0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "000004b0"
    BEGIN
      VALUE "CompanyName",""
      VALUE "Comments", "Plugin to quick search for nickname, firstname, lastname, email, uin in your contact list"0
      VALUE "FileDescription", "Quick info search plugin for Miranda NG"0
      VALUE "FileVersion", "1, 4, 1, 19 "0
      VALUE "InternalName", "QuickSearch"0
      VALUE "OriginalFilename", "quicksearch.dll"0
      VALUE "ProductName", "QuickSearch Dynamic Link Library (DLL)"0
      VALUE "ProductVersion", "0, 8, 0, 0 "0
      VALUE "SpecialBuild", "12.09.2012 "0
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
      VALUE "Translation",0,1200
  END
END
