#include "i_cnst_chain.inc"

LANGUAGE 0,0

IDD_ACTCHAIN DIALOGEX 0, 0, 168, 200, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE  WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  RTEXT    "Other Action groups",-1, 0, 2, 160, 10
  COMBOBOX                       IDC_MACRO_LIST, 1, 13, 166, 128,
                                 CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL
  AUTOCHECKBOX "Keep old result"            , IDC_MACRO_KEEPOLD   , 1, 31, 166, 11
  AUTOCHECKBOX "Same thread"                , IDC_MACRO_SAMETHREAD, 1, 44, 166, 11
  AUTOCHECKBOX "Do not wait until the end of execution", IDC_MACRO_NOWAIT    , 1, 57, 166, 11
}

IDI_CHAIN   ICON "ico\chain.ico"
