#include "i_cnst_storage.inc"

LANGUAGE 0,0

IDD_ACTSTORAGE DIALOGEX 0, 0, 168, 200, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE  WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  AUTORADIOBUTTON "LastResult to " , IDC_FLAG_TO   , 1,  2, 166, 11, WS_GROUP
  AUTORADIOBUTTON "LastResult from", IDC_FLAG_FROM , 1, 15, 166, 11

  COMBOBOX        IDC_STORAGELIST, 19, 30, 148, 128, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
}

IDI_STORAGE ICON "ico\storage.ico"
