#include "i_cnst_jump.inc"

LANGUAGE 0,0

IDD_ACTJUMP DIALOGEX 0, 0, 168, 200, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE  WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  GROUPBOX        "Condition", -1           ,  1,  2, 166, 144

  AUTORADIOBUTTON "NOP"      , IDC_FLAG_NOP ,  4,  11, 160, 11, WS_GROUP
  AUTORADIOBUTTON "Math"     , IDC_FLAG_MATH,  4,  24, 160, 11
  AUTORADIOBUTTON "Text"     , IDC_FLAG_TEXT,  4,  53, 160, 11
  
  COMBOBOX                     IDC_JMP_MATH , 12,  37, 152, 96, CBS_DROPDOWNLIST | WS_VSCROLL | CBS_AUTOHSCROLL

  AUTOCHECKBOX    "Case sensitive", IDC_FLAG_CASE,  4,  66, 160, 11
  AUTOCHECKBOX    "Opposite order", IDC_FLAG_BACK,  4,  78, 160, 11
  COMBOBOX                         IDC_JMP_TEXT  , 12,  92, 152, 96, CBS_DROPDOWNLIST | WS_VSCROLL | CBS_AUTOHSCROLL

  AUTOCHECKBOX    "NOT"      , IDC_FLAG_NOT ,  4, 118,  32, 11
  RTEXT           "Value"    , -1           , 86, 118,  78, 11, SS_CENTERIMAGE
  EDITTEXT                     IDC_JMP_VALUE,  4, 132, 160, 11, ES_AUTOHSCROLL

  GROUPBOX        "Operation", -1             ,  1, 152, 166, 39, WS_GROUP
  AUTORADIOBUTTON "BREAK"    , IDC_FLAG_BREAK ,  4, 161,  62, 12
  AUTORADIOBUTTON "JUMP"     , IDC_FLAG_JUMP  ,  4, 174,  62, 12
  COMBOBOX                     IDC_JMP_ACTLIST, 66, 174,  99, 96, CBS_DROPDOWNLIST | WS_VSCROLL | CBS_AUTOHSCROLL
}

IDI_JUMP   ICON "ico\jump.ico"
