#include "i_cnst_database.inc"

LANGUAGE 0,0

IDD_ACTDATABASE DIALOGEX 0, 0, 168, 200, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE  WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  RTEXT           "Contact type", -1,  1, 0, 160,  8, SS_CENTERIMAGE
  COMBOBOX        IDC_CONTACTTYPE   , 18, 9, 148, 60, CBS_DROPDOWNLIST | WS_VSCROLL

  CONTROL         "Refresh",IDC_CNT_REFRESH,"MButtonClass",WS_TABSTOP,1,23,16,16,$18000000
  COMBOBOX        IDC_CONTACTLIST, 18, 25, 148, 128, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL

  RTEXT           "Module"      , -1,             1, 43, 160,  8, SS_CENTERIMAGE
  EDITTEXT                        IDC_RW_MODULE , 1, 52, 166, 12, ES_AUTOHSCROLL
  RTEXT           "Setting"     , -1,             1, 67, 160,  8, SS_CENTERIMAGE
  EDITTEXT                        IDC_RW_SETTING, 1, 76, 166, 12, ES_AUTOHSCROLL

  GROUPBOX        "Operation"   , -1,               1,  92, 166, 23, WS_GROUP
  AUTORADIOBUTTON "Read"        , IDC_RW_READ   ,   4, 101,  52, 11
  AUTORADIOBUTTON "Write"       , IDC_RW_WRITE  ,  57, 101,  52, 11
  AUTORADIOBUTTON "Delete"      , IDC_RW_DELETE , 110, 101,  52, 11

  GROUPBOX        "Value"       , -1, 1, 116, 166, 64, WS_GROUP

  COMBOBOX        IDC_RW_DATATYPE, 86, 125, 79, 96, CBS_DROPDOWNLIST | WS_VSCROLL

  AUTOCHECKBOX    "Last result" , IDC_RW_LAST , 6, 142, 156, 11, BS_RIGHT | BS_LEFTTEXT
  EDITTEXT                        IDC_RW_VALUE, 4, 154, 160, 11, ES_AUTOHSCROLL
  AUTOCHECKBOX    "Save value"  , IDC_RW_SAVE , 6, 166, 156, 11, BS_RIGHT | BS_LEFTTEXT
}

IDI_DATABASE   ICON "ico\rw.ico"
