
LANGUAGE 0,0

IDD_ACTSERVICE DIALOGEX 0, 0, 168, 200, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE  WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
}

IDI_SERVICE ICON "ico\service.ico"
