#include "i_const.inc"

LANGUAGE 0,0

IDD_ACTION DIALOGEX 0, 0, 304, 226, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE  WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  CONTROL "New"   ,IDC_GROUP_NEW   ,"MButtonClass",WS_TABSTOP,114,  1,16,16,$18000000 | WS_GROUP
  CONTROL "Up"    ,IDC_GROUP_UP    ,"MButtonClass",WS_TABSTOP,114, 18,16,16,$18000000
  CONTROL "Down"  ,IDC_GROUP_DOWN  ,"MButtonClass",WS_TABSTOP,114, 34,16,16,$18000000
  CONTROL "Delete",IDC_GROUP_DELETE,"MButtonClass",WS_TABSTOP,114, 68,16,16,$18000000
  CONTROL "Test"  ,IDC_GROUP_TEST  ,"MButtonClass",WS_TABSTOP,114, 85,16,16,$18000000
//  CONTROL "Export",IDC_GROUP_EXPORT,"MButtonClass",WS_TABSTOP,114,102,16,16,$18000000
//  CONTROL "Import",IDC_GROUP_IMPORT,"MButtonClass",WS_TABSTOP,114,119,16,16,$18000000

  CONTROL  "", IDC_MACRO_LIST, "SysListView32",
           WS_BORDER | WS_TABSTOP |
           LVS_NOCOLUMNHEADER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_EDITLABELS,// | LVS_SINGLESEL,
           0, 2, 110, 132, WS_EX_CONTROLPARENT

  CONTROL  "", IDC_ACTION_LIST, "SysListView32",
           WS_BORDER | WS_TABSTOP |
           LVS_NOCOLUMNHEADER | LVS_SHOWSELALWAYS| LVS_REPORT | LVS_EDITLABELS,// | LVS_SINGLESEL 
           0, 138, 110, 86, WS_EX_CONTROLPARENT

  CONTROL "Help"  ,IDC_ACTION_HELP  ,"MButtonClass",WS_TABSTOP,114,138,16,16,$18000000 | WS_GROUP
  CONTROL "New"   ,IDC_ACTION_NEW   ,"MButtonClass",WS_TABSTOP,114,156,16,16,$18000000
  CONTROL "Up"    ,IDC_ACTION_UP    ,"MButtonClass",WS_TABSTOP,114,174,16,16,$18000000
  CONTROL "Down"  ,IDC_ACTION_DOWN  ,"MButtonClass",WS_TABSTOP,114,190,16,16,$18000000
  CONTROL "Delete",IDC_ACTION_DELETE,"MButtonClass",WS_TABSTOP,114,208,16,16,$18000000

//  PUSHBUTTON      "Reset",  IDC_RESET, 264, 2, 40, 12
  GROUPBOX "" , -1, 132, 0, 172, 226

  RTEXT    "Action",IDC_STAT_ACTION, 135, 6, 63, 12, SS_CENTERIMAGE
  CONTROL  "", IDC_ACTION_TYPE, "ComboBoxEx32",
    WS_TABSTOP | WS_VSCROLL | CBS_AUTOHSCROLL | CBS_DROPDOWNLIST, 200, 6, 101, 96
}
/*
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,3,0,1
 PRODUCTVERSION 0,3,0,1
 FILEFLAGSMASK $3F
 FILEOS 4
 FILETYPE 2
 FILESUBTYPE 0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "000004b0"
    BEGIN
      VALUE "CompanyName",""
      VALUE "Comments", "Plugin for managing different Miranda actions "0
      VALUE "FileDescription", "Action manager for Miranda NG"0
      VALUE "FileVersion", "0, 3, 0, 1 "0
      VALUE "InternalName", "ActManager"0
      VALUE "OriginalFilename", "actman.dll"0
      VALUE "ProductName", "Action Manager Dynamic Link Library (DLL)"0
      VALUE "ProductVersion", "0, 3, 0, 1 "0
      VALUE "SpecialBuild", "18.11.2012 "0
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
      VALUE "Translation",0,1200
  END
END
*/