#include "resource.h"


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.

IDI_ONLINE              ICON    DISCARDABLE     "../resources/iconeutral.ico"
IDI_ICOYAMN1            ICON    DISCARDABLE     "icoyamn1.ico"
IDI_ICOYAMN2            ICON    DISCARDABLE     "icoyamn2.ico"
IDI_ICOTTBUP            ICON    DISCARDABLE     "iconttbup.ico"

IDI_OFFLINE             ICON    DISCARDABLE     "../resources/icooffline.ico"
IDI_NA                  ICON    DISCARDABLE     "../resources/icoyamn3.ico"
IDI_OCCUPIED            ICON    DISCARDABLE     "../resources/iconttbdown.ico"
