#include "..\src\version.h"

///////////////////////////////////////////////////////////////////////////// 
//                                                                            
// Version                                                                    
//                                                                            
                                                                              
VS_VERSION_INFO VERSIONINFO
 FILEVERSION FILE_VERSION
 PRODUCTVERSION FILE_VERSION
 FILEFLAGSMASK 0x0L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "Licensed under the terms of the GNU General Public License"
            VALUE "FileDescription", "AutoShutdown Plugin for Miranda IM"
            VALUE "FileVersion", FILE_VERSION_STR
            VALUE "InternalName", "AutoShutdown"
            VALUE "LegalCopyright", "Copyright © 2004-2007 H. Herkenrath"
            VALUE "OriginalFilename", "shutdown.dll"
            VALUE "ProductName", "Automatic Shutdown"
            VALUE "ProductVersion", FILE_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
                                   
                                                                        
                               
                                                                              
