////////////////////////////////////////////////////////////////////////////////
// Gadu-Gadu Plugin for Miranda NG
//
// Copyright (c) 2003-2006 Adam Strzelecki <ono+miranda@java.pl>
//
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; either version 2
// of the License, or (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
////////////////////////////////////////////////////////////////////////////////

#include <windows.h>
#include "..\src\resource.h"

IDI_GG					ICON		"gg.ico"
IDI_IMPORT_SERVER		ICON		"import_list_from_server.ico"
IDI_IMPORT_TEXT 		ICON		"import_list_from_txt_file.ico"
IDI_REMOVE_SERVER		ICON		"remove_list_from_server.ico"
IDI_EXPORT_SERVER		ICON		"export_list_to_server.ico"
IDI_EXPORT_TEXT 		ICON		"export_list_to_txt_file.ico"
IDI_SETTINGS			ICON		"settings.ico"
IDI_LIST				ICON		"list.ico"
IDI_BLOCK				ICON		"block.ico"
IDI_PREV				ICON		"previous.ico"
IDI_NEXT				ICON		"next.ico"
IDI_IMAGE				ICON		"image.ico"
IDI_SAVE				ICON		"save.ico"
IDI_DELETE				ICON		"delete.ico"
IDI_CONFERENCE			ICON		"conference.ico"
IDI_CLEAR_CONFERENCE	ICON		"clear_ignored_conference.ico"
IDI_SESSIONS			ICON		"sessions.ico"

IDD_OPT_GG_GENERAL DIALOGEX 0, 0, 304, 207
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Gadu-Gadu User Details",IDC_STATIC,4,2,298,71
    RTEXT           "Gadu-Gadu Number:",IDC_STATIC,10,18,63,8
    RTEXT           "Password:",IDC_STATIC,10,37,63,8
    RTEXT           "E-mail:",IDC_STATIC,10,56,63,8
    EDITTEXT        IDC_UIN,84,16,85,12,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_PASSWORD,84,35,85,12,ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT        IDC_EMAIL,84,54,85,12,ES_AUTOHSCROLL
    CONTROL         "Create new account",IDC_CREATEACCOUNT,"Hyperlink",WS_TABSTOP,175,18,90,8
    CONTROL         "Remove account",IDC_REMOVEACCOUNT,"Hyperlink",WS_TABSTOP,175,18,90,8
    CONTROL         "Change password",IDC_CHPASS,"Hyperlink",WS_TABSTOP,175,31,90,8
    CONTROL         "Retrieve password",IDC_LOSTPASS,"Hyperlink",WS_TABSTOP,175,44,90,8
//		CONTROL 		"Change e-mail",IDC_CHEMAIL,"Hyperlink",WS_TABSTOP,175,62,90,8
    GROUPBOX        "Options",IDC_STATIC,4,75,298,106
    CONTROL         "Friends only",IDC_FRIENDSONLY,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,90,284,10
    CONTROL         "Show offline users with status message as invisible in contact list",IDC_SHOWINVISIBLE,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,105,284,10
    CONTROL         "After disconnection leave away message of status:",IDC_LEAVESTATUSMSG,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,120,197,10
    COMBOBOX        IDC_LEAVESTATUS,210,118,84,90,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Receive image and after image is received use:",IDC_IMGRECEIVE,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,135,177,10
//		CONTROL 		"Ignore incoming conference messages",IDC_IGNORECONF,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,12,145,255,10
    COMBOBOX        IDC_IMGMETHOD,190,133,104,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Show links from unknown contacts",IDC_SHOWLINKS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,150,284,10
    CONTROL         "Enable avatars",IDC_ENABLEAVATARS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,165,284,10
    CTEXT           "You will need to reconnect for the changes you have made on this page to take effect.",IDC_RELOADREQD,10,186,284,8,NOT WS_VISIBLE
END

IDD_OPT_GG_CONFERENCE DIALOGEX 0, 0, 304, 75
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Conference policy",IDC_STATIC,4,2,298,66
    LTEXT           "if total participant count greater than:",IDC_STATIC,85,18,143,8
    COMBOBOX        IDC_GC_POLICY_TOTAL,11,15,70,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "if unknown participant count greater than:",IDC_STATIC,85,34,143,8
    EDITTEXT        IDC_GC_COUNT_TOTAL,234,16,35,13,ES_AUTOHSCROLL | ES_NUMBER
    COMBOBOX        IDC_GC_POLICY_UNKNOWN,11,31,70,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "in other case",IDC_STATIC,85,50,143,8
    EDITTEXT        IDC_GC_COUNT_UNKNOWN,234,32,35,13,ES_AUTOHSCROLL | ES_NUMBER
    COMBOBOX        IDC_GC_POLICY_DEFAULT,11,47,70,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_OPT_GG_ADVANCED DIALOGEX 0, 0, 304, 230
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Advanced Configuration",IDC_STATIC,4,2,298,146
    CONTROL         "Keep connection alive",IDC_KEEPALIVE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,17,286,10
    CONTROL         "Show connection errors",IDC_SHOWCERRORS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,32,286,10
    CONTROL         "Automatically reconnect after unintentional disconnection",IDC_ARECONNECT,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,47,286,10
    CONTROL         "Send messages slower, but with full acknowledgment",IDC_MSGACK,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,62,286,10
    CONTROL         "Manually specify connection servers' hosts",IDC_MANUALHOST,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,77,286,10
//		LTEXT					"Host:",IDC_STATIC,31,97,26,8
    EDITTEXT        IDC_HOST,22,91,144,36,ES_MULTILINE | ES_AUTOHSCROLL | ES_WANTRETURN | WS_DISABLED | WS_VSCROLL
//		LTEXT					"Port:",IDC_STATIC,161,97,21,8
//		EDITTEXT				IDC_PORT,186,96,31,12,ES_AUTOHSCROLL|WS_DISABLED|WS_TABSTOP|ES_NUMBER
    LTEXT           "* new line is separator\n** hostname:port format",IDC_STATIC,174,92,119,32
    CONTROL         "Use SSL secure connection",IDC_SSLCONN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,132,286,10
    GROUPBOX        "File Transfer",IDC_STATIC,4,150,297,72
    CONTROL         "Use direct connections",IDC_DIRECTCONNS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,165,153,10
    LTEXT           "Port:",IDC_STATIC,161,164,21,8
    EDITTEXT        IDC_DIRECTPORT,186,165,31,12,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
    CONTROL         "Use forwarding",IDC_FORWARDING,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,178,286,10
    LTEXT           "Host:",IDC_STATIC,31,192,26,8
    EDITTEXT        IDC_FORWARDHOST,62,191,90,12,ES_AUTOHSCROLL | WS_DISABLED
    LTEXT           "Port:",IDC_STATIC,161,192,21,8
    EDITTEXT        IDC_FORWARDPORT,186,191,31,12,ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
    CTEXT           "You will need to reconnect for the changes you have made on this page to take effect.",IDC_RELOADREQD,7,209,286,8,NOT WS_VISIBLE
END

IDD_INFO_GG DIALOGEX 0, 0, 222, 132
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Number:",IDC_STATIC,5,5,61,8
    EDITTEXT        IDC_UIN,74,5,60,8,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_TABSTOP
//	LTEXT			"Version:",IDC_STATIC,144,5,56,8
//	EDITTEXT		IDC_VERSION,175,5,60,8,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT           "Internal IP:",IDC_STATIC,5,18,61,8
    EDITTEXT        IDC_REALIP,74,18,60,8,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_TABSTOP
    LTEXT           "Port:",IDC_STATIC,144,18,56,8
    EDITTEXT        IDC_PORT,175,18,60,8,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_TABSTOP
    LTEXT           "First name:",IDC_STATIC,5,31,61,8
    EDITTEXT        IDC_FIRSTNAME,74,31,161,8,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_TABSTOP
    LTEXT           "Last name:",IDC_STATIC,5,44,61,8
    EDITTEXT        IDC_LASTNAME,74,44,161,8,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_TABSTOP
    LTEXT           "Family name:",IDC_STATIC,5,57,61,8
    EDITTEXT        IDC_FAMILYNAME,74,57,161,8,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_TABSTOP
    LTEXT           "Nickname:",IDC_STATIC,5,70,61,8
    EDITTEXT        IDC_NICKNAME,74,70,60,8,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_TABSTOP
    LTEXT           "Gender:",IDC_STATIC,144,70,56,8
    EDITTEXT        IDC_GENDER,165,70,60,8,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_TABSTOP
    LTEXT           "City:",IDC_STATIC,5,83,61,8
    EDITTEXT        IDC_CITY,74,83,161,8,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_TABSTOP
    LTEXT           "Origin city:",IDC_STATIC,5,96,61,8
    EDITTEXT        IDC_CITYORIGIN,74,96,161,8,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_TABSTOP
    LTEXT           "Birth year:",IDC_STATIC,5,109,61,8
    EDITTEXT        IDC_BIRTHYEAR,74,109,161,8,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_TABSTOP
    LTEXT           "Description:",IDC_STATIC,5,122,61,8
    EDITTEXT        IDC_STATUSDESCR,74,122,161,8,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_TABSTOP
END

IDD_CHINFO_GG DIALOGEX 0, 0, 222, 132
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "First name:",IDC_STATIC,5,7,51,8
    EDITTEXT        IDC_FIRSTNAME,64,5,100,12,ES_AUTOHSCROLL
    LTEXT           "Last name:",IDC_STATIC,5,22,51,8
    EDITTEXT        IDC_LASTNAME,64,20,100,12,ES_AUTOHSCROLL
    LTEXT           "Family name:",IDC_STATIC,5,37,51,8
    EDITTEXT        IDC_FAMILYNAME,64,35,100,12,ES_AUTOHSCROLL
    LTEXT           "Nickname:",IDC_STATIC,5,52,51,8
    EDITTEXT        IDC_NICKNAME,64,50,100,12,ES_AUTOHSCROLL
    LTEXT           "Gender:",IDC_STATIC,5,67,51,8
    COMBOBOX        IDC_GENDER,64,65,80,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "City:",IDC_STATIC,5,82,51,8
    EDITTEXT        IDC_CITY,64,80,100,12,ES_AUTOHSCROLL
    LTEXT           "Origin city:",IDC_STATIC,5,97,51,8
    EDITTEXT        IDC_CITYORIGIN,64,95,100,12,ES_AUTOHSCROLL
    LTEXT           "Birth year:",IDC_STATIC,5,112,51,8
    EDITTEXT        IDC_BIRTHYEAR,64,110,50,12,ES_AUTOHSCROLL | ES_NUMBER
    PUSHBUTTON      "&Save changes",IDC_SAVE,135,115,80,13,WS_DISABLED
END

IDD_TOKEN DIALOGEX 0, 0, 130, 75
STYLE DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Enter token to continue"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "",IDC_WHITERECT,0,0,130,26,NOT WS_VISIBLE
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,0,26,130,1
    EDITTEXT        IDC_TOKEN,25,35,80,12,ES_AUTOHSCROLL
    PUSHBUTTON      "OK",IDOK,10,53,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,70,53,50,14
END

IDD_CREATEACCOUNT DIALOGEX 0, 0, 238, 104
STYLE DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Create Gadu-Gadu account"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "Create Gadu-Gadu account\nThis will create new Gadu-Gadu account",IDC_HEADERBAR,
                    "MHeaderbarCtrl",0x0,0,0,238,25
    RTEXT           "New password:",IDC_STATIC,7,33,81,8
    EDITTEXT        IDC_PASSWORD,95,32,79,12,ES_PASSWORD | ES_AUTOHSCROLL
    RTEXT           "Confirm password:",IDC_STATIC,7,47,81,8
    EDITTEXT        IDC_CPASSWORD,95,46,79,12,ES_PASSWORD | ES_AUTOHSCROLL
    RTEXT           "New e-mail:",IDC_STATIC,7,61,81,8
    EDITTEXT        IDC_EMAIL,95,60,99,12,ES_AUTOHSCROLL
    PUSHBUTTON      "&Create",IDOK,125,82,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,181,82,50,14
END

IDD_REMOVEACCOUNT DIALOGEX 0, 0, 238, 104
STYLE DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Remove Gadu-Gadu account"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "Remove Gadu-Gadu account\nThis will remove your Gadu-Gadu account",IDC_HEADERBAR,
                    "MHeaderbarCtrl",0x0,0,0,238,25
    RTEXT           "Password:",IDC_STATIC,7,32,81,8
    EDITTEXT        IDC_PASSWORD,95,31,79,12,ES_PASSWORD | ES_AUTOHSCROLL
    RTEXT           "Confirm password:",IDC_STATIC,7,46,81,8
    EDITTEXT        IDC_CPASSWORD,95,45,79,12,ES_PASSWORD | ES_AUTOHSCROLL
    CONTROL         "Yes, I want to remove my account",IDC_CONFIRM,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,32,64,150,10
    PUSHBUTTON      "Remove",IDOK,125,82,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,181,82,50,14
END

IDD_CHPASS DIALOGEX 0, 0, 238, 104
STYLE DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Change Gadu-Gadu password"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "Change Gadu-Gadu password\nChanges current Gadu-Gadu user password",IDC_HEADERBAR,
                    "MHeaderbarCtrl",0x0,0,0,238,25
    RTEXT           "New password:",IDC_STATIC,7,42,81,8
    EDITTEXT        IDC_PASSWORD,95,41,79,12,ES_PASSWORD | ES_AUTOHSCROLL
    RTEXT           "Confirm password:",IDC_STATIC,7,56,81,8
    EDITTEXT        IDC_CPASSWORD,95,55,79,12,ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON      "OK",IDOK,125,82,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,181,82,50,14
END

IDD_CHEMAIL DIALOGEX 0, 0, 238, 104
STYLE DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Change Gadu-Gadu e-mail"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "Change Gadu-Gadu e-mail\nChanges current Gadu-Gadu user e-mail",IDC_HEADERBAR,
                    "MHeaderbarCtrl",0x0,0,0,238,25
    RTEXT           "New e-mail:",IDC_STATIC,7,47,81,8
    EDITTEXT        IDC_EMAIL,95,46,79,12,ES_AUTOHSCROLL
    PUSHBUTTON      "OK",IDOK,125,82,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,181,82,50,14
END

IDD_GGADVANCEDSEARCH DIALOGEX 0, 0, 285, 75
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_BORDER
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    RTEXT           "First name:",IDC_STATIC,5,7,50,8
    EDITTEXT        IDC_FIRSTNAME,60,5,80,12,ES_AUTOHSCROLL
    RTEXT           "Last name:",IDC_STATIC,145,7,50,8
    EDITTEXT        IDC_LASTNAME,200,5,80,12,ES_AUTOHSCROLL
    RTEXT           "Nickname:",IDC_STATIC,5,22,50,8
    EDITTEXT        IDC_NICKNAME,60,20,80,12,ES_AUTOHSCROLL
    RTEXT           "Gender:",IDC_STATIC,145,22,50,8
    COMBOBOX        IDC_GENDER,200,20,80,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    RTEXT           "Age from:",IDC_STATIC,5,37,50,8
    EDITTEXT        IDC_AGEFROM,60,35,30,12,ES_AUTOHSCROLL
    RTEXT           "to:",IDC_STATIC,91,37,18,8
    EDITTEXT        IDC_AGETO,110,35,30,12,ES_AUTOHSCROLL
    RTEXT           "City:",IDC_STATIC,145,37,50,8
    EDITTEXT        IDC_CITY,200,35,80,12,ES_AUTOHSCROLL
    CONTROL         "Search online users only",IDC_ONLYCONNECTED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,60,270,8
END

IDD_IMAGE_RECV DIALOGEX 0, 0, 226, 148
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "",IDC_IMG_NAME,3,7,140,8
    CONTROL         "",IDC_IMG_PREV,"MButtonClass",WS_TABSTOP,147,4,16,14,WS_EX_NOACTIVATE | 0x10000000L
    CONTROL         "",IDC_IMG_NEXT,"MButtonClass",WS_TABSTOP,167,4,16,14,WS_EX_NOACTIVATE | 0x10000000L
    CONTROL         "",IDC_IMG_DELETE,"MButtonClass",WS_TABSTOP,187,4,16,14,WS_EX_NOACTIVATE | 0x10000000L
    CONTROL         "",IDC_IMG_SAVE,"MButtonClass",WS_TABSTOP,207,4,16,15,WS_EX_NOACTIVATE | 0x10000000L
//	  CONTROL		  "",IDC_IMG_SCALE,"MButtonClass",WS_TABSTOP,207,4,16,15,0x18000000L
//	  LTEXT 		  "",IDC_IMG_IMAGE,3,22,220,103,WS_BORDER
    CONTROL         "",IDC_IMG_IMAGE,"Static",SS_GRAYFRAME,3,22,220,103
    PUSHBUTTON      "&Close",IDC_IMG_CANCEL,171,130,50,14
END

IDD_IMAGE_SEND DIALOGEX 0, 0, 226, 148
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "",IDC_IMG_NAME,3,7,200,8
/*
	CONTROL 		"",IDC_IMG_SAVE,"MButtonClass",WS_TABSTOP,187,4,16,15,0x18000000L
	CONTROL 		"",IDC_IMG_SCALE,"MButtonClass",WS_TABSTOP,207,4,16,15,0x18000000L
*/
//	  LTEXT 		  "",IDC_IMG_IMAGE,3,22,220,103,WS_BORDER
    CONTROL         "",IDC_IMG_IMAGE,"Static",SS_GRAYFRAME,3,22,220,103
    DEFPUSHBUTTON   "&Send",IDC_IMG_SEND,117,130,50,14
    PUSHBUTTON      "&Close",IDC_IMG_CANCEL,171,130,50,14
END

IDD_CONFERENCE DIALOGEX 0, 0, 162, 198
STYLE DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Open new conference"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "Open new conference\nSelect conference participants",IDC_HEADERBAR,
                    "MHeaderbarCtrl",0x0,0,0,162,25
    CONTROL         "",IDC_CLIST,"CListControl",WS_TABSTOP | 0x2c8,7,32,148,140,WS_EX_CLIENTEDGE
    PUSHBUTTON      "Open",IDOK,50,177,50,14,WS_DISABLED
    PUSHBUTTON      "Cancel",IDCANCEL,105,177,50,14
END

IDD_ACCMGRUI DIALOGEX 0, 0, 186, 134
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    RTEXT           "Gadu-Gadu Number:",IDC_STATIC,0,14,70,12,SS_CENTERIMAGE
    EDITTEXT        IDC_UIN,77,14,108,12,ES_AUTOHSCROLL
    RTEXT           "Password:",IDC_STATIC,0,30,70,12,SS_CENTERIMAGE
    EDITTEXT        IDC_PASSWORD,77,30,108,12,ES_PASSWORD | ES_AUTOHSCROLL
    RTEXT           "E-mail:",IDC_STATIC,0,50,70,8
    EDITTEXT        IDC_EMAIL,77,46,108,12,ES_AUTOHSCROLL
    CONTROL         "Create new account",IDC_CREATEACCOUNT,"Hyperlink",WS_TABSTOP,0,76,90,8
END

IDD_SESSIONS DIALOGEX 0, 0, 414, 136
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Concurrent Sessions"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "Concurrent %s Login Sessions\nView information on active concurrent sessions",IDC_HEADERBAR,"MHeaderbarCtrl",0x0,0,0,414,25
    CONTROL         "",IDC_SESSIONS,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SORTASCENDING | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP,5,30,403,81
    PUSHBUTTON      "Sign out all sessions",IDC_SIGNOUTALL,317,116,91,15,WS_DISABLED
END
