#include "resource.h"
#include "../commons.h"
#ifdef __MINGW32__
	#define WINVER 0x500
	#define _WIN32_IE 0x500
	#include <windows.h>
	#ifndef IDC_STATIC
	#define IDC_STATIC (-1)
#endif
#else
//	  #define APSTUDIO_READONLY_SYMBOLS
//    #include "winres.h"
//    #undef APSTUDIO_READONLY_SYMBOLS
    #include <windows.h>
	#ifndef IDC_STATIC
	#define IDC_STATIC (-1)
    #endif
#endif
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif
#ifdef APSTUDIO_INVOKED

1 TEXTINCLUDE DISCARDABLE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE DISCARDABLE
BEGIN
    "#include ""winres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE DISCARDABLE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

IDR_CHATOPTIONS MENU DISCARDABLE
BEGIN
    POPUP "", MENUBREAK
    BEGIN
        POPUP "Log Appearance"
        BEGIN
            MENUITEM "Show Nicknames",              ID_OPTIONMENU_SHOWNICKNAMES
            MENUITEM "Show Message On A New Line",    ID_OPTIONMENU_MSGINNEWLINE
        END
        POPUP "Timestamp Settings"
        BEGIN
            MENUITEM "Show Date",                   ID_OPTIONMENU_SHOWDATE
            MENUITEM "Show Timestamp",              ID_OPTIONMENU_SHOWTIMESTAMP
            MENUITEM "Show Seconds",                ID_OPTIONMENU_SHOWSECONDS
            MENUITEM "Use Long Date Format",        ID_OPTIONMENU_USELONGDATE

        END
        POPUP "Text Formatting Filter"
        BEGIN
            MENUITEM "Font Name",                   ID_OPTIONMENU_FORMATFONT
            MENUITEM "Font Size",                   ID_OPTIONMENU_FORMATSIZE
            MENUITEM "Font Style",                  ID_OPTIONMENU_FORMATSTYLE
            MENUITEM "Font Color",                  ID_OPTIONMENU_FORMATCOLOR
        END
        POPUP "Event Filter"
        BEGIN
            MENUITEM "Messages",                    ID_OPTIONMENU_LOGMESSAGES
            MENUITEM "User Has Joined",             ID_OPTIONMENU_LOGJOINED
            MENUITEM "User Has Left",               ID_OPTIONMENU_LOGLEFT
            MENUITEM "Topic Changes",               ID_OPTIONMENU_LOGTOPIC
        END
        POPUP "Window Flashing"
        BEGIN
            MENUITEM "Messages",                    ID_OPTIONMENU_FLASHMESSAGES
            MENUITEM "User Has Joined",             ID_OPTIONMENU_FLASHJOINED
            MENUITEM "User Has Left",               ID_OPTIONMENU_FLASHLEFT
            MENUITEM "Topic Changes",               ID_OPTIONMENU_FLASHTOPIC
        END
        MENUITEM SEPARATOR
        MENUITEM "Save Settings As Default",             	ID_OPTIONMENU_SAVEDEFAULT
        MENUITEM SEPARATOR
        MENUITEM "User Administration",        		ID_ADMINMENU_ADMIN, GRAYED
        MENUITEM "Destroy Chat Room",           	ID_ADMINMENU_DESTROY, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Save Log",           				ID_ADMINMENU_SAVELOG
    END
    POPUP "", MENUBREAK
    BEGIN
        MENUITEM "Message",                     ID_USERMENU_MESSAGE
        MENUITEM SEPARATOR
        POPUP "Kick && Ban", GRAYED
        BEGIN
            MENUITEM "No Ban",                      ID_USERMENU_KICK_NO_BAN
            MENUITEM "Ban For 1 Minute",            ID_USERMENU_KICK_BAN_1_MIN
            MENUITEM "Ban For 5 Minutes",           ID_USERMENU_KICK_BAN_5_MIN
            MENUITEM "Ban For 15 Minutes",          ID_USERMENU_KICK_BAN_15_MIN
            MENUITEM "Ban For 30 Minutes",          ID_USERMENU_KICK_BAN_15_MIN
            MENUITEM "Ban For 1 Hour",              ID_USERMENU_KICK_BAN_1_H
            MENUITEM "Ban For 6 Hours",             ID_USERMENU_KICK_BAN_6_H
            MENUITEM "Ban For 1 Day",               ID_USERMENU_KICK_BAN_1_D
            MENUITEM "Ban For 3 Days",              ID_USERMENU_KICK_BAN_3_D
            MENUITEM "Ban For 1 Week",              ID_USERMENU_KICK_BAN_1_W
            MENUITEM "Ban For 2 Weeks",             ID_USERMENU_KICK_BAN_2_W
            MENUITEM "Ban For 4 Weeks",             ID_USERMENU_KICK_BAN_4_W
        END
        POPUP "Change User Role", GRAYED
        BEGIN
            MENUITEM "No Role",                     ID_USERMENU_RIGHTS_NO
            MENUITEM "Member",                      ID_USERMENU_RIGHTS_MEMBER

            MENUITEM "Admin",                       ID_USERMENU_RIGHTS_ADMIN
        END
        MENUITEM "User Administration",             ID_USERMENU_ADMINISTRATION, GRAYED
    END
    POPUP "", MENUBREAK
    BEGIN
        MENUITEM "Unban",        					ID_USERMENU_UNBAN
    END
END

IDR_CONTEXT MENU DISCARDABLE
BEGIN
    POPUP "Log"
    BEGIN
        MENUITEM "&Copy",                       IDM_COPY
        MENUITEM "Co&py All",                   IDM_COPYALL
        MENUITEM SEPARATOR
        MENUITEM "Select &All",                 IDM_SELECTALL
        MENUITEM SEPARATOR
        MENUITEM "C&lear Log",                  IDM_CLEAR
    END
    POPUP "LogLink"
    BEGIN
        MENUITEM "Open in &new window",         IDM_OPENNEW
        MENUITEM "&Open in existing window",    IDM_OPENEXISTING
        MENUITEM "&Copy link",                  IDM_COPYLINK
    END
    POPUP "Message"
    BEGIN
        MENUITEM "Undo",                        IDM_UNDO
        MENUITEM "Redo",                        IDM_REDO
        MENUITEM SEPARATOR
        MENUITEM "Cut",                         IDM_CUT
        MENUITEM "Copy",                        IDM_COPY
        MENUITEM "Paste",                       IDM_PASTE
        MENUITEM "Delete",                      IDM_DELETE
        MENUITEM SEPARATOR
        MENUITEM "Select &All",                 IDM_SELECTALL
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_OPTIONS DIALOGEX 0, 0, 320, 260
STYLE DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Fonts",IDC_FONTSGB,169,10,143,182
    LTEXT           "Background color",IDC_STATIC,175,23,100,8
    CONTROL         "",IDC_COLORBKG,"ColourPicker",WS_TABSTOP,277,21,29,12
    LTEXT           "Input area background",IDC_STATIC,175,38,100,8
    CONTROL         "",IDC_COLORINPUT,"ColourPicker",WS_TABSTOP,277,36,29,12
    LTEXT           "User list background",IDC_STATIC,175,53,100,8
    CONTROL         "",IDC_COLORLIST,"ColourPicker",WS_TABSTOP,277,51,29,12
    LISTBOX         IDC_FONTLIST,175,69,131,95,LBS_OWNERDRAWVARIABLE |
                    LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_VSCROLL |
                    WS_TABSTOP
    CONTROL         "",IDC_COLORTXT,"ColourPicker",WS_TABSTOP,175,170,55,15
    PUSHBUTTON      "Choose font",IDC_CHOOSEFONT,251,170,55,15
    GROUPBOX        "Options",IDC_OPTIONSGB,5,10,158,182
    CONTROL         "",IDC_TREELIST,"SysTreeView32",TVS_HASBUTTONS |
                    TVS_HASLINES | TVS_LINESATROOT | TVS_DISABLEDRAGDROP,11,
                    23,146,162,WS_EX_STATICEDGE
    GROUPBOX        "Other",IDC_SIMPLE,5,193,310,57
    CONTROL         "Use tabbed mode",IDC_USETABS,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,13,206,140,10
    CONTROL         "Enable IEView",IDC_ENABLEIEVIEW,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,13,219,140,10
    CONTROL         "Send message on 'Enter'",IDC_SENDONENTER,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,13,232,140,10
    LTEXT           "Limit log history to (events):",IDC_STATIC,153,234,110,8
    EDITTEXT        IDC_LOGLIMIT,263,232,40,14,ES_RIGHT | ES_NUMBER
    CONTROL         "",IDC_LOGLIMITSPIN,"msctls_updown32",UDS_SETBUDDYINT |
                    UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS |
                    UDS_NOTHOUSANDS | UDS_HOTTRACK,390,218,11,14
END

IDD_CHATMANAGER DIALOGEX 0, 0, 473, 234
STYLE DS_SETFOREGROUND | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER |
    WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU |
    WS_THICKFRAME
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Chats"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "Tab1",IDC_TABS,"SysTabControl32",TCS_BUTTONS |
                    TCS_FIXEDWIDTH | 0x8,214,7,252,20
    PUSHBUTTON      "Close",IDCLOSE,416,215,50,14
    CONTROL         "Tree1",IDC_GROUP,"SysTreeView32",TVS_HASBUTTONS |
                    TVS_HASLINES | TVS_LINESATROOT | TVS_DISABLEDRAGDROP |
                    TVS_SHOWSELALWAYS | TVS_NOTOOLTIPS,5,20,203,209,
                    WS_EX_STATICEDGE
    LTEXT           "Groups",IDC_STATIC,7,9,24,8
END

IDD_GROUPCHAT_CONTAINER DIALOGEX 0, 0, 300, 200
STYLE DS_SETFOREGROUND | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER |
    WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU |
    WS_THICKFRAME
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Tlen Group Chat"
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL         "",IDC_TABS,"SysTabControl32", WS_CLIPSIBLINGS  | TCS_MULTILINE | TCS_FOCUSNEVER | 0x8,0,0,300,200
END

IDD_GROUPCHAT_LOG DIALOGEX 0, 0, 294, 178
STYLE DS_FIXEDSYS | WS_CHILD | WS_VISIBLE | WS_CLIPCHILDREN
/*
STYLE DS_SETFOREGROUND | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER |
    WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU |
    WS_THICKFRAME
	*/
//EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "",IDC_VSPLIT,"Static",SS_ENHMETAFILE,237,20,3,117
    CONTROL         "",IDC_HSPLIT,"Static",SS_ENHMETAFILE,156,285,2,0
    CONTROL         "",IDC_LOG,"RichEdit20A",WS_VSCROLL | WS_TABSTOP | WS_CLIPSIBLINGS | 0x844,
                    3,21,233,117,WS_EX_STATICEDGE
    CONTROL         "",IDC_TREELIST,"SysTreeView32",TVS_DISABLEDRAGDROP |
                    TVS_SHOWSELALWAYS | TVS_NOTOOLTIPS | TVS_NONEVENHEIGHT,5,
                    20,203,209,WS_EX_STATICEDGE
    EDITTEXT        IDC_EDIT,3,158,285,13,ES_MULTILINE | ES_AUTOVSCROLL |
                    NOT WS_BORDER | WS_VSCROLL | ES_WANTRETURN,WS_EX_STATICEDGE
    CONTROL         "Topic",IDC_TOPIC_BUTTON,"MButtonClass",WS_DISABLED |
                    WS_TABSTOP,3,3,34,12,0x18000000L
    CONTROL         "",IDC_BOLD,"MButtonClass",WS_TABSTOP,3,140,16,16,
                    0x18000000L
    CONTROL         "",IDC_ITALIC,"MButtonClass",WS_TABSTOP,21,140,16,16,
                    0x18000000L
    CONTROL         "",IDC_UNDERLINE,"MButtonClass",WS_TABSTOP,39,140,16,16,
                    0x18000000L
    CONTROL         "",IDC_COLOR,"ColourPicker",WS_TABSTOP,57,140,16,16
    COMBOBOX        IDC_FONTSIZE,154,142,27,80,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    CONTROL         "",IDC_SMILEYBTN,"MButtonClass", WS_TABSTOP,185,140,16,16,
					0x18000000L
    CONTROL         "Invite",IDC_INVITE,"MButtonClass",WS_TABSTOP,259,141,16,
                    16,0x18000000L
    EDITTEXT        IDC_TOPIC,70,19,86,12,ES_AUTOHSCROLL | ES_READONLY | NOT
                    WS_BORDER
    CONTROL         "",IDC_OPTIONS,"MButtonClass",WS_TABSTOP,208,140,16,16,
                    0x18000000L
    COMBOBOX        IDC_FONT,77,142,74,90,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
	PUSHBUTTON      "Close",IDCANCEL,0,0,20,20,NOT WS_VISIBLE
	//,NOT WS_VISIBLE
END

IDD_HELPER_JOIN DIALOGEX 0, 0, 186, 79
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER |
    WS_POPUP | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Join Tlen Multi-User Conference Room"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Room:",IDC_ROOM_LABEL,10,13,43,8
    EDITTEXT        IDC_ROOM,54,12,119,12,ES_AUTOHSCROLL
    LTEXT           "Nickname:",IDC_NICK_LABEL,10,30,40,8
    EDITTEXT        IDC_NICK,54,29,119,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "&Join",IDOK,75,59,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,129,59,50,14
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,7,50,172,4
END

IDD_HELPER_INVITE DIALOG DISCARDABLE  0, 0, 186, 79
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_FIXEDSYS | DS_CENTER | WS_POPUP |
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Invite a User"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "User:",IDC_STATIC,10,13,43,8
    COMBOBOX        IDC_USER,54,10,119,120,CBS_DROPDOWN | CBS_AUTOHSCROLL |
                    CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Reason:",IDC_STATIC,10,30,40,8
    EDITTEXT        IDC_REASON,54,29,119,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "&Invite",IDC_INVITE,75,59,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,129,59,50,14
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,7,50,172,4
END

IDD_HELPER_INVITE_ACCEPT DIALOG DISCARDABLE  0, 0, 232, 112
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_FIXEDSYS | DS_CENTER | WS_POPUP |
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Multi-User Conference Invitation"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "&Accept",IDC_ACCEPT,124,93,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,178,93,50,14
    LTEXT           "From:",IDC_STATIC,33,24,63,8
    LTEXT           "Room:",IDC_STATIC,33,38,63,8
    LTEXT           "Reason:",IDC_STATIC,33,52,63,8
    LTEXT           "Nickname:",IDC_STATIC,33,76,62,8
    LTEXT           "The following invitation to join a multi-user conference is received.",
                    IDC_STATIC,3,4,225,8
    EDITTEXT        IDC_FROM,99,22,105,12,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_ROOM,99,36,105,12,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_REASON,99,50,105,12,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_NICK,99,74,105,12,ES_AUTOHSCROLL
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,3,65,225,4
END

IDD_HELPER_TOPIC DIALOGEX 0, 0, 223, 44
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP |
    WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Change Chat Room Topic"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "New topic:",IDC_STATIC,10,8,43,8
    EDITTEXT        IDC_TOPIC,54,7,160,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,108,26,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,164,26,50,14
END

IDD_USER_ADMIN DIALOG DISCARDABLE  0, 0, 300, 180
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP |
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Chat Room Administration"
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL         "Tab1",IDC_TABS,"SysTabControl32",TCS_BUTTONS |
                    TCS_FIXEDWIDTH | 0x8,0,5,220,20
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,0,20,300,4
    PUSHBUTTON      "Close",IDCANCEL,230,162,60,16

END

IDD_USER_KICK DIALOGEX 0, 30, 300, 130
STYLE WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Nickname:",IDC_STATIC,30,6,70,10
    EDITTEXT        IDC_NICK,100,6,100,12,ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "Ban for:",IDC_STATIC,30,35,70,10
	COMBOBOX        IDC_KICK_OPTIONS,100,35,90,150,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    LTEXT           "Reason:",IDC_STATIC,30,51,70,10
    EDITTEXT        IDC_REASON,100,51,100,12,ES_AUTOHSCROLL | WS_TABSTOP
    CONTROL         "Kick && Ban",IDOK,"MButtonClass",WS_TABSTOP,210,65,60,16

	LTEXT           "User role:",IDC_STATIC,30,90,70,10
	COMBOBOX        IDC_ROLE_OPTIONS,100,90,90,60,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    CONTROL         "Set Role",IDC_SET_ROLE,"MButtonClass",WS_TABSTOP,210,104,60,16

	CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,0,128,300,4
END

IDD_USER_ROLE DIALOGEX 0, 30, 300, 130
STYLE WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Nickname:",IDC_STATIC,30,25,70,10
    EDITTEXT        IDC_NICK,100,25,100,12,ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "User role:",IDC_STATIC,30,41,70,10
	COMBOBOX        IDC_OPTIONS,100,41,90,60,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    CONTROL         "Set Role",IDOK,"MButtonClass",WS_TABSTOP,120,90,60,16
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,0,128,300,4
END

IDD_USER_BROWSER DIALOGEX 0, 30, 300, 130
STYLE WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
	COMBOBOX        IDC_OPTIONS,50,0,90,60,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    CONTROL         "Show",IDC_SHOW,"MButtonClass",WS_TABSTOP,160,0,50,14
	CONTROL         "List1",IDC_LIST,"SysListView32",LVS_REPORT |
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_AUTOARRANGE |
                    LVS_OWNERDRAWFIXED | WS_TABSTOP,0,20,299,110,
                    WS_EX_CLIENTEDGE
END

IDD_OPT_POPUPS DIALOG DISCARDABLE  0, 0, 317, 141
STYLE WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Delay",IDC_STATIC,160,46,137,55
    CONTROL         "&From PopUp plugin",IDC_DELAY_POPUP,"Button",
                    BS_AUTORADIOBUTTON,167,60,125,10
    CONTROL         "&Custom",IDC_DELAY_CUSTOM,"Button",BS_AUTORADIOBUTTON,
                    167,73,98,10
    CONTROL         "P&ermanent",IDC_DELAY_PERMANENT,"Button",
                    BS_AUTORADIOBUTTON,167,87,123,10
    EDITTEXT        IDC_DELAY,270,71,21,14,ES_AUTOHSCROLL | ES_NUMBER
    GROUPBOX        "Colours",IDC_STATIC,15,46,137,55
    LTEXT           "Background",IDC_STATIC,53,63,95,8
    LTEXT           "Text",IDC_STATIC,53,82,96,8
    CONTROL         "",IDC_COLORBKG,"ColourPicker",WS_TABSTOP,23,61,24,12
    GROUPBOX        "General Options",IDC_STATIC,15,15,282,26
    CONTROL         "",IDC_COLORTXT,"ColourPicker",WS_TABSTOP,23,79,24,12
    PUSHBUTTON      "Preview",IDC_PREVIEW,132,112,50,14
    CONTROL         "Enable incoming mail notification",IDC_ENABLEPOPUP,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,23,26,130,10
END

IDD_TAB_CHATROOMS DIALOGEX 216, 28, 247, 180
STYLE WS_CHILD
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    CONTROL         "List1",IDC_ROOM,"SysListView32",LVS_REPORT |
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_AUTOARRANGE |
                    LVS_OWNERDRAWFIXED | WS_TABSTOP,0,26,247,154,
                    WS_EX_CLIENTEDGE
    CONTROL         "prev",IDC_PREV,"MButtonClass",WS_TABSTOP,5,6,20,16
    CONTROL         "next",IDC_NEXT,"MButtonClass",WS_TABSTOP,35,6,20,16
    CONTROL         "find",IDC_SEARCH,"MButtonClass",WS_TABSTOP,65,6,20,16
END

IDD_TAB_MYROOMS DIALOGEX 216, 28, 244, 180
STYLE WS_CHILD
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    CONTROL         "Create",IDC_REGISTER,"MButtonClass",WS_TABSTOP,186,62,
                    50,14,0x18000000L
    EDITTEXT        IDC_NAME,84,20,149,14,ES_AUTOHSCROLL
    LTEXT           "Room name:",IDC_STATIC,14,23,60,8
    CONTROL         "Permanent",IDC_CHECK_PERMANENT,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,111,40,89,10
    CONTROL         "Nicknames",IDC_CHECK_NICKNAMES,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,13,52,89,10
    CONTROL         "Public",IDC_CHECK_PUBLIC,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,13,40,89,10
    CONTROL         "Members only",IDC_CHECK_MEMBERS,"Button",
                    BS_AUTOCHECKBOX,111,52,89,10
    LTEXT           "Chat rooms:",IDC_STATIC,2,90,100,8
	/*
    CONTROL         "Tree1",IDC_LIST,"SysTreeView32",TVS_DISABLEDRAGDROP |
                    TVS_SHOWSELALWAYS | TVS_NOTOOLTIPS | TVS_FULLROWSELECT |
                    TVS_NONEVENHEIGHT,0,100,177,80,WS_EX_STATICEDGE
					*/
    CONTROL         "Refresh",IDC_REFRESH,"MButtonClass",WS_TABSTOP,186,160,
                    50,14,0x18000000L
    GROUPBOX        "New chat room",IDC_STATIC,0,5,244,78
    CONTROL         "List1",IDC_LIST,"SysListView32",LVS_REPORT |
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_AUTOARRANGE |
                    LVS_NOCOLUMNHEADER | LVS_OWNERDRAWFIXED | WS_TABSTOP,0,100,177,80,
                    WS_EX_CLIENTEDGE
END

IDD_TAB_MYNICKNAMES DIALOG DISCARDABLE  216, 28, 244, 180
STYLE WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "Register",IDC_REGISTER,"MButtonClass",WS_TABSTOP,186,62,
                    50,14,0x18000000L
    EDITTEXT        IDC_NICK,84,20,149,14,ES_AUTOHSCROLL
    LTEXT           "Nickname:",IDC_STATIC,14,23,60,8
    LTEXT           "Nicknames:",IDC_STATIC,2,90,100,8
    CONTROL         "Remove",IDC_REMOVE,"MButtonClass",WS_TABSTOP,186,110,50,
                    14,0x18000000L
    CONTROL         "Refresh",IDC_REFRESH,"MButtonClass",WS_TABSTOP,186,160,
                    50,14,0x18000000L
    GROUPBOX        "New nickname",IDC_STATIC,0,5,244,78
    CONTROL         "List1",IDC_LIST,"SysListView32",LVS_REPORT |
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_AUTOARRANGE |
                    LVS_NOCOLUMNHEADER | LVS_OWNERDRAWFIXED | WS_TABSTOP,0,100,177,80,
                    WS_EX_CLIENTEDGE
					/*
    CONTROL         "Tree1",IDC_LIST,"SysTreeView32",TVS_DISABLEDRAGDROP |
                    TVS_SHOWSELALWAYS | TVS_NOTOOLTIPS | TVS_FULLROWSELECT |
                    TVS_NONEVENHEIGHT,0,100,177,80,WS_EX_STATICEDGE
					*/
END


#ifndef _MAC
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION MUCC_FILEVERSION_STRING
 PRODUCTVERSION MUCC_FILEVERSION_STRING
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041504e3"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "http://mtlen.berlios.de\0"
            VALUE "FileDescription", "Group Chats GUI Plugin for Miranda NG\0"
            VALUE "FileVersion", MUCC_VERSION_STRING
            VALUE "InternalName", "tlen_chat\0"
            VALUE "LegalCopyright", "Copyright (c) 2004-2006 Piotr Piastucki\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "tlen_chat.dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "Tlen Chat Plugin\0"
            VALUE "ProductVersion", MUCC_VERSION_STRING
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x415, 1251
    END
END

#endif    // !_MAC


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_CHAT                ICON    DISCARDABLE     "icos\\chat.ico"
IDI_BLANK               ICON    DISCARDABLE     "icos\\blank.ico"
IDI_ITALIC              ICON    DISCARDABLE     "icos\\italic.ico"
IDI_BOLD                ICON    DISCARDABLE     "icos\\bold.ico"
IDI_UNDERLINE           ICON    DISCARDABLE     "icos\\underline.ico"
IDI_OPTIONS             ICON    DISCARDABLE     "icos\\options.ico"
IDI_OWNER               ICON    DISCARDABLE     "icos\\owner.ico"
IDI_GLOBALOWNER         ICON    DISCARDABLE     "icos\\glowner.ico"
IDI_ADMIN               ICON    DISCARDABLE     "icos\\admin.ico"
IDI_REGISTERED          ICON    DISCARDABLE     "icos\\registered.ico"
IDI_R_MODERATED         ICON    DISCARDABLE     "icos\\r_mod.ico"
IDI_R_MEMBERS           ICON    DISCARDABLE     "icos\\r_memb.ico"
IDI_R_ANONYMOUS         ICON    DISCARDABLE     "icos\\r_anon.ico"
IDI_SEARCH              ICON    DISCARDABLE     "icos\\search.ico"
IDI_PREV                ICON    DISCARDABLE     "icos\\prev.ico"
IDI_NEXT                ICON    DISCARDABLE     "icos\\next.ico"
IDI_INVITE              ICON    DISCARDABLE     "icos\\invite.ico"
IDI_ADMINISTRATION      ICON    DISCARDABLE     "icos\\administration.ico"
IDI_SMILEY				ICON    DISCARDABLE     "icos\\smile.ico"
IDI_MESSAGE				ICON    DISCARDABLE     "icos\\message.ico"
#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

