#include "i_uconst.inc"

LANGUAGE 0,0

IDD_UA DIALOGEX 0, 0, 304, 226, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE  WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  CTEXT    "Action list",-1, 2,2,132,10, SS_CENTERIMAGE
  CONTROL  "", IDC_UA_ACTIONLIST, "SysListView32",
           WS_BORDER | WS_TABSTOP |
           LVS_NOCOLUMNHEADER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SINGLESEL,
           2, 12, 132, 212, WS_EX_CONTROLPARENT

  CTEXT    "Where to use",-1, 138,2,160,10, SS_CENTERIMAGE
  CONTROL  "", IDC_UA_PLACELIST, "SysListView32",
           WS_BORDER | WS_TABSTOP |
           LVS_NOCOLUMNHEADER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SINGLESEL,
           138, 12, 160, 74, WS_EX_CONTROLPARENT

  GROUPBOX     "Common"                , IDC_UA_COMMON  , 138, 88,160,38
  AUTOCHECKBOX "2 state button/item"   , IDC_UA_TWOSTATE, 140, 96,156,14, BS_LEFTTEXT | BS_RIGHT
  AUTOCHECKBOX "Save button/item state", IDC_UA_SAVSTATE, 140,110,156,14, BS_LEFTTEXT | BS_RIGHT

  AUTOCHECKBOX "Contact related", IDC_UA_GLOBAL, 138,128,160,14, BS_LEFTTEXT | BS_RIGHT

  // Buttons settings block
  RTEXT        "Normal button tooltip",IDC_UA_TTNORMALT, 138,148,160,8
  EDITTEXT     IDC_UA_TTNORMALV, 138,158,160,12, ES_AUTOHSCROLL

  RTEXT        "Pressed button tooltip",IDC_UA_TTPRESSEDT, 138,172,160,8
  EDITTEXT     IDC_UA_TTPRESSEDV, 138,182,160,12, ES_AUTOHSCROLL

  // Menu settings block
  AUTOCHECKBOX "Separated",IDC_UA_SEPARATE, 138,142,160,14, BS_LEFTTEXT | BS_RIGHT

  RTEXT        "Root popup:",IDC_UA_POPUPT,138,158,80,12, SS_CENTERIMAGE
  EDITTEXT     IDC_UA_POPUPV, 218,158,80,12, ES_AUTOHSCROLL

  RTEXT        "Menu item name:",IDC_UA_VARNAMEST, 138,172,140,8
  EDITTEXT     IDC_UA_VARNAMESV, 138,182,140,12, ES_AUTOHSCROLL
  CONTROL      "V",IDC_UA_VARNAMESH,"MButtonClass",WS_TABSTOP, 282,180,16,16, $18000000

  RTEXT        "Show only if variables return 1",IDC_UA_SHOWVART, 138,200,140,8
  EDITTEXT     IDC_UA_SHOWVARV,138,210,140,12,ES_AUTOHSCROLL
  CONTROL      "V",IDC_UA_SHOWVARH,"MButtonClass",WS_TABSTOP, 282,208,16,16, $18000000

}

IDI_ACTION ICON "action.ico"
