#define IDC_STC23 1002
#define IDC_EDT1 1006
#define IDC_GRP9 1002
#define IDC_CHK1 1001
#define IDC_EDT2 1004
#define IDC_SCANUPDATE 1003
#define IDC_STC40 1010
#define IDC_STC41 1011
#define IDC_EDT3 1009
#define IDC_EDT4 1006
#define IDC_STC22 1001
#define IDC_GRP12 1009
#define IDC_GRP13 1004
#define IDC_GRP14 1003
#define IDC_STC25 1001
#define IDC_STC26 1002
#define IDC_STC33 1004
#define IDC_STC9 1001
#define IDC_STC19 1002
#define IDC_STC20 1003
#define IDC_STC21 1004
#define IDC_STC24 1005
#define IDC_STC28 1002
#define IDC_STC29 1003
#define IDC_STC30 1005
#define IDC_STC31 1001
#define IDC_STC32 1004
#define IDC_GRP10 1001
#define IDC_STC27 1002
#define IDC_GRP11 1005
#define IDC_STC15 1003
#define IDC_STC34 1001
#define IDC_IMG2 1002
#define IDC_STC35 1003
#define IDC_STC14 1001
#define IDC_STC36 1001
#define IDC_STC37 1003
#define IDC_STC38 1005
#define IDC_STC39 1008
#define IDC_STC42 1002
#define IDC_STC43 1004
#define IDC_STC44 1006
#define IDC_IMG1 1002

#include "resource.h"
#include "windows.h"

ID_OP ICON DISCARDABLE "x_fire16x16.ico"
IDI_TM ICON DISCARDABLE "d_xfire.ico"
IDI_ONLINE ICON DISCARDABLE "xfire online.ico"
IDI_OFFLINE ICON DISCARDABLE "xfire offline.ico"
IDI_AWAY ICON DISCARDABLE "xfire away.ico"

IDD_OPT DIALOGEX 0,0,318,252
FONT 8,"MS Shell Dlg",0,0,1
STYLE WS_CHILD|WS_VISIBLE|DS_FIXEDSYS
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
  CONTROL "",IDC_OPTIONSTAB,"SysTabControl32",WS_VISIBLE|WS_TABSTOP,1,1,316,250
END

IDD_OPTLOGIN DIALOGEX 0,0,304,235
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_CHILD|WS_VISIBLE|DS_FIXEDSYS
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
  CONTROL "",IDC_LOGIN,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,66,12,100,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_PASSWORD,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL|ES_PASSWORD,66,31,100,13,WS_EX_CLIENTEDGE
  CONTROL "Password:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|SS_RIGHT,8,33,56,9
  CONTROL "Loginname:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|SS_RIGHT,16,14,48,9
  CONTROL "XFire",IDC_GROUPMAIN,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|BS_GROUPBOX,2,1,300,46
  CONTROL "Nick:",IDC_STC1,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|SS_RIGHT,8,88,58,9
  CONTROL "",IDC_NICK,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,68,86,100,13,WS_EX_CLIENTEDGE
  CONTROL "Current Protocolversion:",IDC_STC16,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_RIGHT|0x00000800,178,217,94,11
  CONTROL "",IDC_PVER,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY,274,217,24,11,WS_EX_CLIENTEDGE
  CONTROL "",IDC_LASTGAME,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL|ES_CENTER,2,51,298,11
  CONTROL "Note: You can only change these settings, if you are connected to Xfire.",IDC_STC22,"Static",WS_CHILD|WS_VISIBLE,6,73,290,11
  CONTROL "Create a new Xfire account on website",IDC_URLNEWACC,"Hyperlink",WS_CHILD|WS_VISIBLE|WS_TABSTOP,170,14,126,9
  CONTROL "Lost Password?",IDC_LOSTPW,"Hyperlink",WS_CHILD|WS_VISIBLE|WS_TABSTOP,170,33,124,9
  CONTROL "Account options",IDC_GRP12,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,62,300,170
  CONTROL "Show my friends",IDC_KONFIG_1,"Button",WS_CHILD|WS_VISIBLE|WS_DISABLED|WS_TABSTOP|BS_AUTOCHECKBOX,10,114,282,9
  CONTROL "Game Status",IDC_GRP13,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,6,103,292,57
  CONTROL "Show on my profile and miniprofile",IDC_KONFIG_2,"Button",WS_CHILD|WS_VISIBLE|WS_DISABLED|WS_TABSTOP|BS_AUTOCHECKBOX,10,125,282,9
  CONTROL "Show my game server data",IDC_KONFIG_3,"Button",WS_CHILD|WS_VISIBLE|WS_DISABLED|WS_TABSTOP|BS_AUTOCHECKBOX,10,136,282,9
  CONTROL "Other Activity",IDC_GRP14,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,6,162,292,35
  CONTROL "Show my voice chat server to my friends",IDC_KONFIG_5,"Button",WS_CHILD|WS_VISIBLE|WS_DISABLED|WS_TABSTOP|BS_AUTOCHECKBOX,10,173,282,9
  CONTROL "Show people when I type to them",IDC_KONFIG_6,"Button",WS_CHILD|WS_VISIBLE|WS_DISABLED|WS_TABSTOP|BS_AUTOCHECKBOX,10,184,282,9
  CONTROL "Show nicknames when available",IDC_KONFIG_4,"Button",WS_CHILD|WS_VISIBLE|WS_DISABLED|WS_TABSTOP|BS_AUTOCHECKBOX,170,88,128,9
  CONTROL "Show friends of my friends",IDC_KONFIG_7,"Button",WS_CHILD|WS_VISIBLE|WS_DISABLED|WS_TABSTOP|BS_AUTOCHECKBOX,10,147,282,9
END

IDD_OPTFEAT DIALOGEX 0,0,304,235
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_CHILD|WS_VISIBLE|DS_FIXEDSYS
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
  CONTROL "Options",IDC_GRP1,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,1,300,133
  CONTROL "More options",IDC_GRP5,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,136,300,98
  CONTROL "Gameicon:",IDC_STC6,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_RIGHT,4,203,144,11
  CONTROL "",IDC_CBGICO,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,152,203,106,301
  CONTROL "Voiceicon:",IDC_STC8,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_RIGHT,4,217,144,11
  CONTROL "",IDC_CBVICO,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,152,217,106,301
  CONTROL "Display Error and Infomessage:",IDC_STC12,"Static",WS_CHILD|WS_VISIBLE|SS_RIGHT,4,190,144,9
  CONTROL "",IDC_NOMSG,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,152,188,106,61
  CONTROL "Tree1",IDC_TREE,"SysTreeView32",WS_VISIBLE|WS_BORDER|WS_TABSTOP|TVS_FULLROWSELECT|TVS_SHOWSELALWAYS|TVS_DISABLEDRAGDROP|TVS_LINESATROOT|TVS_HASLINES|TVS_HASBUTTONS,6,11,292,120
  CONTROL "Main group for clan groups:",IDC_STC25,"Static",WS_CHILD|WS_VISIBLE|SS_RIGHT,4,175,144,9
  CONTROL "",IDC_CLANGROUP,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,152,173,106,61
  CONTROL "Automatically scan for games:",IDC_STC26,"Static",WS_CHILD|WS_VISIBLE|SS_RIGHT,4,145,144,9
  CONTROL "",IDC_SCANUPDATECB,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,152,144,106,61
  CONTROL "",IDC_FOFGROUP,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,152,158,106,61
  CONTROL "Main group for Friends of Friends:",IDC_STC33,"Static",WS_CHILD|WS_VISIBLE|SS_RIGHT,4,160,144,9
END

IDD_OPTFEAT2 DIALOGEX 0,0,304,242
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_CHILD|WS_VISIBLE|DS_FIXEDSYS
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
  CONTROL "Files",IDC_GRP6,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,94,300,102
  CONTROL "xfire_games.ini",IDC_CHKG,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,8,105,80,9
  CONTROL "icons.dll",IDC_CHKI,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,8,136,80,9
  CONTROL "Blocked User List",IDC_GRP8,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,1,300,91
  CONTROL "",IDC_BLOCKUSER,"ListBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_NOTIFY,6,11,128,78,WS_EX_CLIENTEDGE
  CONTROL "",IDC_REMUSER,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|0x00000040,138,42,16,15
  CONTROL "This list contains all your blocked Xfire users. You can remove one, if you wanna allow him to send you a friend request.",IDC_STC9,"Static",WS_CHILD|WS_VISIBLE,160,12,136,74
  CONTROL "You can simply block someone, if you right click on his friend request in clist and choose Block User ...",IDC_STC19,"Static",WS_CHILD|WS_VISIBLE,160,48,130,39
  CONTROL "This file is used for the game search, game detection and gameid resolving. It contains all xfire supported games.",IDC_STC20,"Static",WS_CHILD|WS_VISIBLE,92,105,206,28
  CONTROL "This file contains all original game icons. You can also activate the option for icon downloading, if you don't have it.",IDC_STC21,"Static",WS_CHILD|WS_VISIBLE,92,136,206,26
  CONTROL "Be sure you put these files in following folder:",IDC_STC24,"Static",WS_CHILD|WS_VISIBLE,8,168,290,9
  CONTROL "",IDC_FILESSHOULDBE,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY,8,179,290,13,WS_EX_CLIENTEDGE
END

IDD_OPTFEAT3 DIALOGEX 0,0,304,235
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_CHILD|WS_VISIBLE|DS_FIXEDSYS
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
  CONTROL "Status Message",IDC_GRP1,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,1,300,214
  CONTROL "Enable",IDC_ENABLESTSMSG,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,10,14,132,9
  CONTROL "With this feature, following status message will be set on your other protocol plugins, if you are ingame. So your other buddy's can also see what you play. It will also change the status to occupied, if this option is enabled.",IDC_STC28,"Static",WS_CHILD|WS_VISIBLE,10,38,286,24
  CONTROL "Following Variables are available: %myxfiregame%, %myxfirevoice%, %myxfireserverip%, %myxfirevoiceip%",IDC_STC29,"Static",WS_CHILD|WS_VISIBLE,10,96,286,19
  CONTROL "",IDC_STATUSMSG,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_MULTILINE,8,131,286,70,WS_EX_CLIENTEDGE
  CONTROL "Status message:",IDC_STC30,"Static",WS_CHILD|WS_VISIBLE,10,118,94,9
  CONTROL "",IDC_STC31,"Static",WS_CHILD|WS_VISIBLE,6,203,134,9
  CONTROL "Change the status to occupied or dnd",IDC_CHGSTATUS,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,142,14,154,9
  CONTROL "The status message and status will be reset, if you close the game.",IDC_STC32,"Static",WS_CHILD|WS_VISIBLE,10,72,286,20
  CONTROL "Prefer dnd when it is available",IDC_DNDFIRST,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,142,25,154,9
END

IDD_OPTFEAT4 DIALOGEX 0,0,304,235
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_CHILD|WS_VISIBLE|DS_FIXEDSYS
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
  CONTROL "",IDC_LGAMELIST,"ListBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_SORT|LBS_NOTIFY,6,11,128,200,WS_EX_CLIENTEDGE
  CONTROL "Games",IDC_GRP10,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,0,300,233
  CONTROL "Game:",IDC_STC27,"Static",WS_CHILD|WS_VISIBLE,162,11,136,9
  CONTROL "",IDC_GAMENAME,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,162,20,136,11
  CONTROL "Don't detect this game as running",IDC_DONTDETECT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,142,55,152,9
  CONTROL "",IDC_GAMEICO,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,138,11,22,19
  CONTROL "Options",IDC_GRP11,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,138,40,160,187
  CONTROL "Apply",IDC_APPLY,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,142,206,72,17
  CONTROL "Don't set status message for other protocols",IDC_NOSTATUSMSG,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,142,68,152,9
  CONTROL "",IDC_TEXTSTATUS,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL|ES_CENTER,142,192,152,11
  CONTROL "Add new game",IDC_ADDGAME,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,6,212,66,15
  CONTROL "Remove",IDC_REMOVE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,74,212,60,15
  CONTROL "Don't show in start menu",IDC_NOTINSTARTMENU,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,142,81,152,9
  CONTROL "(manual added)",IDC_MANADDED,"Static",NOT WS_VISIBLE|WS_CHILD,162,31,134,9
  CONTROL "Extra Command Line Parameters:",IDC_STC15,"Static",WS_CHILD|WS_VISIBLE,142,99,150,9
  CONTROL "",IDC_EXTRAPARAMS,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,142,110,152,13,WS_EX_CLIENTEDGE
  CONTROL "Edit ...",IDC_EDITGAME,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,222,206,72,17
END

IDD_UD DIALOGEX 0,0,223,159
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_CHILD|WS_VISIBLE|DS_FIXEDSYS
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
  CONTROL "Username:",IDC_STC2,"Static",WS_CHILD|WS_VISIBLE,8,18,36,9
  CONTROL "Nick:",IDC_STC3,"Static",WS_CHILD|WS_VISIBLE,8,9,32,9
  CONTROL "Game",IDC_GRP2,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,44,220,32
  CONTROL "Voicechat",IDC_GRP3,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,77,220,33
  CONTROL "Name:",IDC_STC4,"Static",WS_CHILD|WS_VISIBLE,30,53,36,9
  CONTROL "Unreal Tournament 2004",IDC_GAME,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,54,53,134,9
  CONTROL "IP:",IDC_STC5,"Static",WS_CHILD|WS_VISIBLE,30,64,18,9
  CONTROL "255.255.255.255",IDC_GIP,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,54,64,54,9
  CONTROL "Port:",IDC_STC7,"Static",WS_CHILD|WS_VISIBLE,134,64,16,9
  CONTROL "27770",IDC_GPORT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,150,64,70,9
  CONTROL "Unreal Tournament 2004",IDC_VNAME,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,54,88,132,9
  CONTROL "Name:",IDC_STC10,"Static",WS_CHILD|WS_VISIBLE,30,88,22,9
  CONTROL "IP:",IDC_STC11,"Static",WS_CHILD|WS_VISIBLE,30,99,18,9
  CONTROL "255.255.255.255",IDC_VIP,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,54,99,54,9
  CONTROL "Port:",IDC_STC13,"Static",WS_CHILD|WS_VISIBLE,134,99,16,9
  CONTROL "27770",IDC_VPORT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,150,99,70,9
  CONTROL "Userdetails",IDC_GRP4,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,2,0,112,44
  CONTROL "dufte",IDC_DNICK,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,46,9,64,9
  CONTROL "dufte",IDC_DUSERNAME,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,46,18,66,9
  CONTROL "",IDC_GAMEICO,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,6,53,22,19
  CONTROL "",IDC_VOICEICO,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,6,88,22,19
  CONTROL "Copy",IDC_COPYGAME,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,190,49,30,11
  CONTROL "Copy",IDC_COPYVOICE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,190,83,30,11
  CONTROL "",IDC_PROFILIMG,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_BITMAP,0,112,222,44
  CONTROL "",IDC_GAMEINFOLIST,"SysListView32",WS_CHILD|WS_VISIBLE|LVS_REPORT,116,1,106,43,WS_EX_CLIENTEDGE
END

IDD_PWDLG DIALOGEX 6,5,204,38
CAPTION "Enter Password"
FONT 8,"MS Sans Serif",0,0,1
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_MODALFRAME|DS_SETFONT|DS_FIXEDSYS
EXSTYLE WS_EX_TOPMOST
BEGIN
  CONTROL "Password:",IDC_STC17,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_RIGHT,0,12,34,11
  CONTROL "",IDC_PWNICK,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,38,0,166,11,WS_EX_CLIENTEDGE
  CONTROL "",IDC_PWSTRING,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,38,12,166,11,WS_EX_CLIENTEDGE
  CONTROL "Join",IDC_BTN4,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,144,25,60,11
  CONTROL "Nick:",IDC_STC18,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_RIGHT,0,0,34,11
END

IDD_SETNICKNAME DIALOGEX 0,0,187,42
CAPTION "Set Nickname"
FONT 8,"MS Sans Serif",0,0,1
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_MODALFRAME|DS_SETFONT|DS_FIXEDSYS
BEGIN
  CONTROL "",IDC_NICKNAME,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,5,5,177,12,WS_EX_CLIENTEDGE
  CONTROL "OK",IDOK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,36,23,50,14
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,102,23,50,14
END

IDD_UPDATE DIALOGEX 0,0,188,107
CAPTION "New xfire_games.ini"
FONT 8,"MS Sans Serif",0,0,1
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_MODALFRAME|DS_SETFONT|DS_FIXEDSYS
BEGIN
  CONTROL "There is a new XFire Gamelist online, do you want to update now?",IDC_STC34,"Static",WS_CHILD|WS_VISIBLE,30,5,154,19
  CONTROL 14,IDC_IMG2,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,4,3,22,19
  CONTROL "New supported Games:",IDC_STC35,"Static",WS_CHILD|WS_VISIBLE,6,29,124,9
  CONTROL "Update",IDOK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,36,88,50,15
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,102,88,50,15
  CONTROL "",IDC_UPDATEGAMES,"Edit",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|ES_READONLY|ES_AUTOVSCROLL|ES_MULTILINE,6,40,178,44,WS_EX_CLIENTEDGE
END

IDD_ADDGAME DIALOGEX 0,0,196,205
FONT 8,"MS Sans Serif",0,0,1
STYLE WS_CHILD|WS_VISIBLE|DS_FIXEDSYS
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
  CONTROL "Add Game",IDOK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,4,186,50,15
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,142,186,50,15
  CONTROL "",IDC_GAMELIST,"ListBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_SORT|LBS_NOTIFY,4,33,186,148,WS_EX_CLIENTEDGE
  CONTROL "",IDC_PROGRESS,"msctls_progress32",WS_CHILD|WS_VISIBLE,6,96,184,13
  CONTROL "",IDC_SEARCH,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,4,14,186,13,WS_EX_CLIENTEDGE
  CONTROL "Search:",IDC_STC14,"Static",WS_CHILD|WS_VISIBLE,4,3,186,9
  CONTROL "Custom ...",IDC_CUSTOM,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,56,186,50,15
END

IDD_ADDGAME2 DIALOGEX 0,0,196,205
FONT 8,"MS Sans Serif",0,0,1
STYLE WS_CHILD|WS_VISIBLE|DS_FIXEDSYS
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
  CONTROL "Add Game",IDOK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,4,186,50,15
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,142,186,50,15
  CONTROL "Game name:",IDC_STC36,"Static",WS_CHILD|WS_VISIBLE,4,3,188,9
  CONTROL "",IDC_ADD_NAME,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,4,14,186,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_ADD_DETECTEXE,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,4,42,136,13,WS_EX_CLIENTEDGE
  CONTROL "Game exe:",IDC_STC37,"Static",WS_CHILD|WS_VISIBLE,4,31,188,9
  CONTROL "Browse ...",IDC_ADD_BROWSEDETECT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,144,42,48,14
  CONTROL "Launcher exe (optional):",IDC_STC38,"Static",WS_CHILD|WS_VISIBLE,4,59,188,9
  CONTROL "",IDC_ADD_LAUNCHEREXE,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,4,70,136,13,WS_EX_CLIENTEDGE
  CONTROL "Browse ...",IDC_ADD_BROWSELAUNCHER,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,144,70,48,14
  CONTROL "Game id:",IDC_STC39,"Static",WS_CHILD|WS_VISIBLE,4,86,52,9
  CONTROL "",IDC_ADD_ID,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,4,97,36,13,WS_EX_CLIENTEDGE
  CONTROL "?",IDC_GAMEIDHELP,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,42,97,14,13
  CONTROL "Send game id:",IDC_STC42,"Static",WS_CHILD|WS_VISIBLE,60,86,50,9
  CONTROL "",IDC_ADD_SENDID,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,60,97,36,13,WS_EX_CLIENTEDGE
  CONTROL "?",IDC_SENDIDHELP,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,98,97,14,13
  CONTROL "Statusmessage for Xfire, if this game will be started:",IDC_STC43,"Static",WS_CHILD|WS_VISIBLE,4,114,188,9
  CONTROL "",IDC_ADD_STATUSMSG,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL|ES_MULTILINE,4,125,188,56,WS_EX_CLIENTEDGE
  CONTROL "Parameter:",IDC_STC44,"Static",WS_CHILD|WS_VISIBLE,116,86,74,9
  CONTROL "",IDC_ADD_CUSTOMPARAMS,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,116,97,76,13,WS_EX_CLIENTEDGE
END

IDD_ADDGAMEMAIN DIALOGEX 0,0,199,219
CAPTION "Add a new game"
FONT 8,"MS Shell Dlg",0,0,1
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_MODALFRAME|DS_SETFONT|DS_FIXEDSYS
BEGIN
  CONTROL "",IDC_OPTIONSTAB,"SysTabControl32",WS_VISIBLE|WS_TABSTOP,1,1,198,218
END

IDD_SEARCHING DIALOGEX 6,5,198,41
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_BORDER|DS_CENTER
EXSTYLE WS_EX_TOPMOST
BEGIN
  CONTROL "Searching games ...",IDC_SEARCHINGLABL,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,0,0,196,41
  CONTROL 14,IDC_IMG1,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,2,1,46,37
  CONTROL "",IDC_CURRENTGAME,"Static",WS_CHILD|WS_VISIBLE,44,29,150,9
END

