// Microsoft Visual C++ generated resource script.
//

#define IDC_STC23 1002
#define IDC_EDT1 1006
#define IDC_GRP9 1002
#define IDC_CHK1 1001
#define IDC_EDT2 1004
#define IDC_SCANUPDATE 1003
#define IDC_STC40 1010
#define IDC_STC41 1011
#define IDC_EDT3 1009
#define IDC_EDT4 1006
#define IDC_STC22 1001
#define IDC_GRP12 1009
#define IDC_GRP13 1004
#define IDC_GRP14 1003
#define IDC_STC25 1001
#define IDC_STC26 1002
#define IDC_STC33 1004
#define IDC_STC9 1001
#define IDC_STC19 1002
#define IDC_STC20 1003
#define IDC_STC21 1004
#define IDC_STC24 1005
#define IDC_STC28 1002
#define IDC_STC29 1003
#define IDC_STC30 1005
#define IDC_STC31 1001
#define IDC_STC32 1004
#define IDC_GRP10 1001
#define IDC_STC27 1002
#define IDC_GRP11 1005
#define IDC_STC34 1001
#define IDC_IMG2 1002
#define IDC_STC35 1003
#define IDC_STC36 1001
#define IDC_STC37 1003
#define IDC_STC38 1005
#define IDC_STC39 1008
#define IDC_STC42 1002
#define IDC_STC43 1004
#define IDC_STC44 1006
#define IDC_IMG1 1002


#include "..\src\resource.h"
#include "windows.h"
/////////////////////////////////////////////////////////////////////////////
// German (Germany) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_DEU)
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
ID_OP                   ICON                    "x_fire16x16.ico"
IDI_TM                  ICON                    "d_xfire.ico"
IDI_ONLINE              ICON                    "xfire online.ico"
IDI_OFFLINE             ICON                    "xfire offline.ico"
IDI_AWAY                ICON                    "xfire away.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_OPTLOGIN DIALOGEX 0, 0, 304, 227
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    EDITTEXT        IDC_LOGIN,66,12,100,13,ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_CLIENTEDGE
    EDITTEXT        IDC_PASSWORD,66,31,100,13,ES_PASSWORD | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_CLIENTEDGE
    RTEXT           "Password:",IDC_STATIC,8,33,56,9
    RTEXT           "Login name:",IDC_STATIC,8,14,56,9
    GROUPBOX        "XFire",IDC_GROUPMAIN,2,1,300,46,WS_GROUP
    RTEXT           "Nick:",IDC_STC1,8,88,58,9
    EDITTEXT        IDC_NICK,68,86,100,13,ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_CLIENTEDGE
    RTEXT           "Current protocol version:",IDC_STC16,178,206,94,11,SS_CENTERIMAGE | SS_REALSIZEIMAGE | NOT WS_GROUP
    EDITTEXT        IDC_PVER,274,207,24,12,ES_READONLY | NOT WS_BORDER,WS_EX_CLIENTEDGE
    EDITTEXT        IDC_LASTGAME,2,51,298,12,ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    LTEXT           "Note: You can only change these settings if you are connected to Xfire.",IDC_STC22,6,73,290,11,NOT WS_GROUP
    CONTROL         "Create a new Xfire account on website",IDC_URLNEWACC,
                    "Hyperlink",WS_TABSTOP,170,14,126,9
    CONTROL         "Lost password?",IDC_LOSTPW,"Hyperlink",WS_TABSTOP,170,33,124,9
    GROUPBOX        "Account options",IDC_GRP12,2,62,300,160
    CONTROL         "Show my friends",IDC_KONFIG_1,"Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,10,114,282,9
    GROUPBOX        "Game Status",IDC_GRP13,6,103,292,57
    CONTROL         "Show on my profile and miniprofile",IDC_KONFIG_2,"Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,10,125,282,9
    CONTROL         "Show my game server data",IDC_KONFIG_3,"Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,10,136,282,9
    GROUPBOX        "Other Activity",IDC_GRP14,6,162,292,35
    CONTROL         "Show my voice chat server to my friends",IDC_KONFIG_5,
                    "Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,10,173,282,9
    CONTROL         "Show people when I type to them",IDC_KONFIG_6,"Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,10,184,282,9
    CONTROL         "Show nicknames when available",IDC_KONFIG_4,"Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,170,88,128,9
    CONTROL         "Show friends of my friends",IDC_KONFIG_7,"Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,10,147,282,9
END

IDD_OPTFEAT DIALOGEX 0, 0, 304, 230
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Options",IDC_GRP1,2,1,300,152
    GROUPBOX        "More options",IDC_GRP5,2,155,300,71
    RTEXT           "Display Error and Info message:",IDC_STC12,4,209,144,9,NOT WS_GROUP
    COMBOBOX        IDC_NOMSG,152,207,142,61,CBS_DROPDOWNLIST | WS_TABSTOP
    CONTROL         "Tree1",IDC_TREE,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_DISABLEDRAGDROP | TVS_SHOWSELALWAYS | TVS_FULLROWSELECT | WS_BORDER | WS_HSCROLL | WS_TABSTOP,6,11,292,138
    RTEXT           "Main group for clan groups:",IDC_STC25,4,194,144,9,NOT WS_GROUP
    COMBOBOX        IDC_CLANGROUP,152,193,142,61,CBS_DROPDOWNLIST | WS_TABSTOP
    RTEXT           "Automatically scan for games:",IDC_STC26,4,166,144,9,NOT WS_GROUP
    COMBOBOX        IDC_SCANUPDATECB,152,164,142,61,CBS_DROPDOWNLIST | WS_TABSTOP
    COMBOBOX        IDC_FOFGROUP,152,179,142,61,CBS_DROPDOWNLIST | WS_TABSTOP
    RTEXT           "Main group for Friends of Friends:",IDC_STC33,4,180,144,9,NOT WS_GROUP
END

IDD_OPTFEAT2 DIALOGEX 0, 0, 304, 210
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Files",IDC_GRP6,2,94,300,104
    CONTROL         "xfire_games.ini",IDC_CHKG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,8,105,80,9
    CONTROL         "icons.dll",IDC_CHKI,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,8,136,80,9
    GROUPBOX        "Blocked User List",IDC_GRP8,2,1,300,91
    LISTBOX         IDC_BLOCKUSER,6,11,128,78,LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | NOT WS_BORDER | WS_TABSTOP,WS_EX_CLIENTEDGE
    PUSHBUTTON      "",IDC_REMUSER,138,42,16,15,BS_ICON
    LTEXT           "This list contains all your blocked Xfire users. You can remove one if you wanna allow him to send you a friend request.",IDC_STC9,160,12,136,74,NOT WS_GROUP
    LTEXT           "You can simply block someone if you right click on his friend request in contact list and choose Block User...",IDC_STC19,160,48,130,39,NOT WS_GROUP
    LTEXT           "This file is used for the game search, game detection and game ID resolving. It contains all Xfire supported games.",IDC_STC20,92,105,206,28,NOT WS_GROUP
    LTEXT           "This file contains all original game icons. You can also activate the option for icon downloading if you don't have it.",IDC_STC21,92,136,206,30,NOT WS_GROUP
    LTEXT           "Be sure you put these files in following folder:",IDC_STC24,7,171,290,9,NOT WS_GROUP
    EDITTEXT        IDC_FILESSHOULDBE,7,183,290,13,ES_READONLY | NOT WS_BORDER,WS_EX_CLIENTEDGE
END

IDD_OPTFEAT3 DIALOGEX 0, 0, 304, 220
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Status Message",IDC_GRP1,2,1,300,214
    CONTROL         "Enable",IDC_ENABLESTSMSG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,14,132,9
    LTEXT           "With this feature, following status message will be set on your other protocol plugins if you are in game. So your other buddies can also see what you play. It will also change the status to occupied if this option is enabled.",IDC_STC28,10,38,286,24,NOT WS_GROUP
    LTEXT           "Following Variables are available: %myxfiregame%, %myxfirevoice%, %myxfireserverip%, %myxfirevoiceip%",IDC_STC29,10,96,286,19,NOT WS_GROUP
    EDITTEXT        IDC_STATUSMSG,8,131,286,70,ES_MULTILINE | NOT WS_BORDER,WS_EX_CLIENTEDGE
    LTEXT           "Status message:",IDC_STC30,10,118,94,9,NOT WS_GROUP
    LTEXT           "",IDC_STC31,6,203,134,9,NOT WS_GROUP
    CONTROL         "Change the status to occupied or dnd",IDC_CHGSTATUS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,142,14,154,9
    LTEXT           "The status message and status will be reset if you close the game.",IDC_STC32,10,72,286,20,NOT WS_GROUP
    CONTROL         "Prefer dnd when it is available",IDC_DNDFIRST,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,142,25,154,9
END

IDD_OPTFEAT4 DIALOGEX 0, 0, 304, 230
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LISTBOX         IDC_LGAMELIST,6,11,128,185,LBS_SORT | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | NOT WS_BORDER | WS_VSCROLL | WS_TABSTOP,WS_EX_CLIENTEDGE
    GROUPBOX        "Games",IDC_GRP10,2,0,300,225
    LTEXT           "Game:",IDC_STC27,162,11,136,9,NOT WS_GROUP
    EDITTEXT        IDC_GAMENAME,162,20,136,12,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    CONTROL         "Don't detect this game as running",IDC_DONTDETECT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,142,55,152,9
    ICON            "",IDC_GAMEICO,138,11,21,20,SS_CENTERIMAGE
    GROUPBOX        "Options",IDC_GRP11,138,40,160,181
    PUSHBUTTON      "Apply",IDC_APPLY,142,199,72,17
    CONTROL         "Don't set status message for other protocols",IDC_NOSTATUSMSG,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,142,68,152,9
    EDITTEXT        IDC_TEXTSTATUS,142,186,152,12,ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    PUSHBUTTON      "Add new game",IDC_ADDGAME,6,201,66,15
    PUSHBUTTON      "Remove",IDC_REMOVE,74,202,60,15
    CONTROL         "Don't show in start menu",IDC_NOTINSTARTMENU,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,142,81,152,9
    LTEXT           "(manual added)",IDC_MANADDED,162,31,134,9,NOT WS_VISIBLE | NOT WS_GROUP
    LTEXT           "Extra Command Line Parameters:",IDC_STC15,142,99,150,9,NOT WS_GROUP
    EDITTEXT        IDC_EXTRAPARAMS,142,110,152,13,ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_CLIENTEDGE
    PUSHBUTTON      "Edit...",IDC_EDITGAME,222,199,72,17
END

IDD_UD DIALOGEX 0, 0, 223, 159
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Username:",IDC_STC2,8,18,36,9,NOT WS_GROUP
    LTEXT           "Nick:",IDC_STC3,8,9,32,9,NOT WS_GROUP
    GROUPBOX        "Game",IDC_GRP2,2,44,220,32
    GROUPBOX        "Voice chat",IDC_GRP3,2,77,220,33
    LTEXT           "Name:",IDC_STC4,30,53,36,9,NOT WS_GROUP
    EDITTEXT        IDC_GAME,54,53,134,9,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    LTEXT           "IP:",IDC_STC5,30,64,18,9,NOT WS_GROUP
    EDITTEXT        IDC_GIP,54,64,54,9,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    LTEXT           "Port:",IDC_STC7,134,64,16,9,NOT WS_GROUP
    EDITTEXT        IDC_GPORT,150,64,70,9,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    EDITTEXT        IDC_VNAME,54,88,132,9,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    LTEXT           "Name:",IDC_STC10,30,88,22,9,NOT WS_GROUP
    LTEXT           "IP:",IDC_STC11,30,99,18,9,NOT WS_GROUP
    EDITTEXT        IDC_VIP,54,99,54,9,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    LTEXT           "Port:",IDC_STC13,134,99,16,9,NOT WS_GROUP
    EDITTEXT        IDC_VPORT,150,99,70,9,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    GROUPBOX        "User details",IDC_GRP4,2,0,112,44
    EDITTEXT        IDC_DNICK,46,9,64,9,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    EDITTEXT        IDC_DUSERNAME,46,18,66,9,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    ICON            "",IDC_GAMEICO,6,53,22,19,SS_CENTERIMAGE
    ICON            "",IDC_VOICEICO,6,88,22,19,SS_CENTERIMAGE
    PUSHBUTTON      "Copy",IDC_COPYGAME,190,49,30,11
    PUSHBUTTON      "Copy",IDC_COPYVOICE,190,83,30,11
    CONTROL         "",IDC_PROFILIMG,"Static",SS_BITMAP | SS_CENTERIMAGE,0,112,222,44
    CONTROL         "",IDC_GAMEINFOLIST,"SysListView32",LVS_REPORT,116,1,106,43,WS_EX_CLIENTEDGE
END

IDD_PWDLG DIALOGEX 6, 5, 204, 38
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOPMOST
CAPTION "Enter Password"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    RTEXT           "Password:",IDC_STC17,0,12,34,11,SS_CENTERIMAGE | NOT WS_GROUP
    EDITTEXT        IDC_PWNICK,38,0,166,11,NOT WS_BORDER,WS_EX_CLIENTEDGE
    EDITTEXT        IDC_PWSTRING,38,12,166,11,NOT WS_BORDER,WS_EX_CLIENTEDGE
    PUSHBUTTON      "Join",IDC_BTN4,144,25,60,11
    RTEXT           "Nick:",IDC_STC18,0,0,34,11,SS_CENTERIMAGE | NOT WS_GROUP
END

IDD_SETNICKNAME DIALOGEX 0, 0, 187, 42
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Set Nickname"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    EDITTEXT        IDC_NICKNAME,5,5,177,12,ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_CLIENTEDGE
    DEFPUSHBUTTON   "OK",IDOK,36,23,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,102,23,50,14
END

IDD_UPDATE DIALOGEX 0, 0, 188, 107
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "New xfire_games.ini"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    LTEXT           "There is a new XFire game list online, do you want to update now?",IDC_STC34,30,5,154,19,NOT WS_GROUP
    ICON            IDI_TM,IDC_IMG2,4,3,22,19,SS_CENTERIMAGE
    LTEXT           "New supported games:",IDC_STC35,6,29,124,9,NOT WS_GROUP
    DEFPUSHBUTTON   "Update",IDOK,36,88,50,15
    PUSHBUTTON      "Cancel",IDCANCEL,102,88,50,15
    EDITTEXT        IDC_UPDATEGAMES,6,40,178,44,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | NOT WS_BORDER | WS_VSCROLL,WS_EX_CLIENTEDGE
END

IDD_ADDGAME DIALOGEX 0, 0, 196, 205
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "Add game",IDOK,4,186,50,15
    PUSHBUTTON      "Cancel",IDCANCEL,142,186,50,15
    LISTBOX         IDC_GAMELIST,4,33,186,148,LBS_SORT | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | NOT WS_BORDER | WS_VSCROLL | WS_TABSTOP,WS_EX_CLIENTEDGE
    CONTROL         "",IDC_PROGRESS,"msctls_progress32",0x0,6,96,184,13
    EDITTEXT        IDC_SEARCH,4,14,186,13,NOT WS_BORDER,WS_EX_CLIENTEDGE
    LTEXT           "Search:",IDC_STC14,4,3,186,9,NOT WS_GROUP
    PUSHBUTTON      "Custom...",IDC_CUSTOM,56,186,50,15
END

IDD_ADDGAME2 DIALOGEX 0, 0, 196, 205
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Add game",IDOK,4,186,50,15
    PUSHBUTTON      "Cancel",IDCANCEL,142,186,50,15
    LTEXT           "Game name:",IDC_STC36,4,3,188,9,NOT WS_GROUP
    EDITTEXT        IDC_ADD_NAME,4,14,186,13,ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_CLIENTEDGE
    EDITTEXT        IDC_ADD_DETECTEXE,4,42,136,13,ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_CLIENTEDGE
    LTEXT           "Game exe:",IDC_STC37,4,31,188,9,NOT WS_GROUP
    PUSHBUTTON      "Browse...",IDC_ADD_BROWSEDETECT,144,42,48,14
    LTEXT           "Launcher exe (optional):",IDC_STC38,4,59,188,9,NOT WS_GROUP
    EDITTEXT        IDC_ADD_LAUNCHEREXE,4,70,136,13,ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_CLIENTEDGE
    PUSHBUTTON      "Browse...",IDC_ADD_BROWSELAUNCHER,144,70,48,14
    LTEXT           "Game ID:",IDC_STC39,4,86,52,9,NOT WS_GROUP
    EDITTEXT        IDC_ADD_ID,4,97,36,13,NOT WS_BORDER,WS_EX_CLIENTEDGE
    PUSHBUTTON      "?",IDC_GAMEIDHELP,42,97,14,13
    LTEXT           "Send game ID:",IDC_STC42,60,86,50,9,NOT WS_GROUP
    EDITTEXT        IDC_ADD_SENDID,60,97,36,13,NOT WS_BORDER,WS_EX_CLIENTEDGE
    PUSHBUTTON      "?",IDC_SENDIDHELP,98,97,14,13
    LTEXT           "Status message for Xfire if this game will be started:",IDC_STC43,4,114,188,9,NOT WS_GROUP
    EDITTEXT        IDC_ADD_STATUSMSG,4,125,188,56,ES_MULTILINE | ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_CLIENTEDGE
    LTEXT           "Parameter:",IDC_STC44,116,86,74,9,NOT WS_GROUP
    EDITTEXT        IDC_ADD_CUSTOMPARAMS,116,97,76,13,ES_AUTOHSCROLL | NOT WS_BORDER,WS_EX_CLIENTEDGE
END

IDD_ADDGAMEMAIN DIALOGEX 0, 0, 199, 219
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Add a new game"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "",IDC_OPTIONSTAB,"SysTabControl32",WS_TABSTOP,1,1,198,218
END

IDD_SEARCHING DIALOGEX 6, 5, 198, 41
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_BORDER
EXSTYLE WS_EX_TOPMOST
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CTEXT           "Searching games...",IDC_SEARCHINGLABL,0,0,196,41,SS_CENTERIMAGE | NOT WS_GROUP
    ICON            IDI_TM,IDC_IMG1,2,1,46,37,SS_CENTERIMAGE
    LTEXT           "",IDC_CURRENTGAME,44,29,150,9,NOT WS_GROUP
END
#endif