#include "resources.h"
#include "winres.h"
#include "m_utils.h"

IDD_MAILSETTINGS DIALOGEX 0, 0, 304, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
{
	CONTROL "", IDC_WARNBAR, STATIC, SS_LEFT, 30, 9, 3, 26 
	CONTROL "NOTE\n\nThis will work only if this Jabber account is actually GTalk", IDC_NOTE, STATIC, SS_LEFT, 40, 9, 230, 26 
	CONTROL "Popup notifications (needs popup plugin)", IDC_POPUPSENABLED, BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP, 3, 36, 271, 14 
	CONTROL "Notify in fullscreen mode too", IDC_POPUPSINFULLSCREEN, BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP, 17, 51, 254, 15 
	CONTROL "Use this if your popup plugin does not correctly detect fullscreen mode. It will take away your keyboard focus", IDC_POPUPSINFULLSCREENLABEL, STATIC, SS_LEFT, 30, 65, 270, 22
	CONTROL "Notify in contact list", IDC_PSEUDOCONTACTENABLED, BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP, 3, 83, 271, 14 
	CONTROL "Clear pseudocontact history before adding new events", IDC_CLEARPSEUDOCONTACTLOG, BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP, 17, 97, 254, 15 	
	CONTROL "Supress foreign popups for pseudocontact", IDC_SUPRESSFOREIGN, BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP, 17, 111, 254, 15 
	CONTROL "Mark history event read when popup closed", IDC_MARKEVENTREAD, BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP, 3, 128, 300, 15 
	CONTROL "Add message snip to notification", IDC_ADDSNIP, BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP, 3, 146, 300, 15
	CONTROL "Try to login before open mailbox", IDC_AUTHONMAILBOX, BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP, 3, 164, 300, 15 
	CONTROL "This works only if password is saved in the database. Has no effect on links in pseudocontact message log", IDC_AUTHONMAILBOXLABEL, STATIC, SS_LEFT, 15, 178, 280, 26 
	CONTROL "Choose GMail view you use in web interface", IDC_MAILBOXVIEWLABEL, STATIC, SS_LEFT, 3, 200, 280, 15 
	CONTROL "I don't know", IDC_UNKNOWNVIEW, BUTTON, BS_AUTORADIOBUTTON | WS_TABSTOP, 17, 212, 50, 8 
	CONTROL "Standard view", IDC_STANDARDVIEW, BUTTON, BS_AUTORADIOBUTTON | WS_TABSTOP, 80, 212, 60, 8 
	CONTROL "Basic HTML", IDC_HTMLVIEW, BUTTON, BS_AUTORADIOBUTTON | WS_TABSTOP, 150, 212, 60, 8 
} 
   
IDD_POPUPSETTINGS DIALOGEX 0, 0, 304, 55
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT 
FONT 8, "MS Shell Dlg", 0, 0, 0x1
{
	GROUPBOX "", IDC_GROUP, 0, 0, 304, 55 
	CONTROL "Background color", IDC_BACKCOLORLABEL, STATIC, SS_LEFT, 10, 10, 60, 15
	CONTROL "", IDC_BACKCOLORPICKER, WNDCLASS_COLOURPICKER, WS_TABSTOP, 70, 10, 39, 10
	CONTROL "Text color", IDC_TEXTCOLORLABEL, STATIC, SS_LEFT, 10, 25, 50, 15
	CONTROL "", IDC_TEXTCOLORPICKER, WNDCLASS_COLOURPICKER, WS_TABSTOP, 70, 25, 39, 10
	CONTROL "Timeout", IDC_TIMEOUTLABEL, STATIC, SS_LEFT, 10, 40, 50, 13
	CONTROL "", IDC_TIMEOUTEDIT, EDIT, WS_TABSTOP | WS_BORDER | ES_NUMBER, 70, 40, 39, 10
	CONTROL "If both colors set to the same value, default colors will be used", IDC_DEFCOLORSLABEL, STATIC, SS_LEFT, 120, 10, 120, 25
	CONTROL "0 means default timeout", IDC_DEFTIMEOUTLABEL, STATIC, SS_LEFT, 120, 40, 120, 10
	CONTROL "Test", IDC_TESTBUTTON, BUTTON, WS_TABSTOP, 245, 17, 50, 25
}

LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US




VS_VERSION_INFO VERSIONINFO
 FILEVERSION PLUGIN_FILE_VERSION
 PRODUCTVERSION PLUGIN_FILE_VERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
{
    BLOCK "StringFileInfo"
	{
        BLOCK "040904b0"
		{
            VALUE "FileDescription", PLUGIN_DESCRIPTION
            VALUE "FileVersion", PLUGIN_VERSION_STRING
            VALUE "InternalName", SHORT_PLUGIN_NAME
            VALUE "LegalCopyright", COPYRIGHT_STRING
            VALUE "OriginalFilename", SHORT_PLUGIN_NAME ".dll"
            VALUE "PrivateBuild", "Yes"
            VALUE "ProductName", PLUGIN_DESCRIPTION
            VALUE "ProductVersion", PLUGIN_VERSION_STRING
		}
	}
    BLOCK "VarFileInfo"
	{
        VALUE "Translation", 0x409, 1200
	}
}

IDI_POPUP ICON "res\\PopupIcon.ico"
IDI_PSEUDOAVA PNG "res\\pseudoava.png"