/*
 * Miranda-IM Vypress Chat/quickChat plugins
 * Copyright (C) Saulius Menkevicius
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 *
 * $Id: resource.rc,v 1.20 2005/04/11 20:23:58 bobas Exp $
 */

#include "windows.h"

#include "main.h"
#include "resource.h"

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif

/* protocol icons
 */
#ifdef VYPRESSCHAT
IDI_VQCHAT_PROTO		ICON "icons/vypresschat.ico"
IDI_VQCHAT_PROTO_LARGE		ICON "icons/vypresschat_large.ico"
IDI_VQCHAT_PROTO_ONLINE		ICON "icons/vypresschat_online.ico"
IDI_VQCHAT_PROTO_OFFLINE	ICON "icons/vypresschat_offline.ico"
#endif

#ifdef QUICKCHAT
IDI_VQCHAT_PROTO		ICON "icons/quickchat.ico"
IDI_VQCHAT_PROTO_LARGE		ICON "icons/quickchat_large.ico"
IDI_VQCHAT_PROTO_ONLINE		ICON "icons/quickchat_online.ico"
IDI_VQCHAT_PROTO_OFFLINE	ICON "icons/quickchat_offline.ico"
#endif

/* contact icons
 */
IDI_CONTACT_BELL		ICON "icons/contact_bell.ico"

/* chatroom icons
 */
#ifdef VYPRESSCHAT
IDI_CHATROOM			ICON "icons/vypresschat_channel.ico"
#endif

#ifdef QUICKCHAT
IDI_CHATROOM			ICON "icons/quickchat_channel.ico"
#endif

/* user options dialog
 */
IDD_USER DIALOGEX 0, 0, 222, 141
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "User Information",IDC_STATIC,0,0,222,84
    LTEXT           "User nickname:",IDC_STATIC,6,14,50,8
    EDITTEXT        IDC_USER_EDIT_NICKNAME,60,13,96,12,ES_AUTOHSCROLL
    LTEXT           "Gender:",IDC_STATIC,6,32,30,8
    COMBOBOX        IDC_USER_COMBO_GENDER,60,30,96,32,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Unique ID:",IDC_STATIC,6,50,42,8
    EDITTEXT        IDC_USER_EDIT_UUID,60,48,156,12,ES_AUTOHSCROLL
    LTEXT           "Universally unique ID (UUID) number identifies you on the network. Keep this number intact.",
                    IDC_STATIC,60,62,156,18
    GROUPBOX        "Other options",IDC_STATIC,0,90,222,51
    CONTROL         "Write message to contact history when alert beep is received.",
                    IDC_USER_MSGONALERTBEEP,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,6,102,210,8
    CONTROL         "Append user nickname when topic is set.",
                    IDC_USER_NICKNAMEONTOPIC,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,6,114,210,10
    CONTROL         "New contacts will prefer messages instead of private chats.",
                    IDC_USER_NEWPREFERMSG,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,6,126,210,8
END

/* network connection options dialog
 */
IDD_CONN DIALOGEX 0, 0, 248, 238
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "User list refresh period:",IDC_STATIC,12,188,76,8
    EDITTEXT        IDC_CONN_EDIT_REFRESH,90,186,42,12,ES_AUTOHSCROLL
    LTEXT           " seconds",IDC_STATIC,134,188,29,8
    GROUPBOX        "Connection Type",IDC_STATIC,0,0,246,168
    LTEXT           "Network port:",IDC_STATIC,12,14,46,9
    EDITTEXT        IDC_CONN_EDIT_PORT,66,12,60,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Default",IDC_CONN_BTN_DEF_PORT,132,12,36,12
    LTEXT           "Multicast scope:",IDC_STATIC,24,42,52,8
    EDITTEXT        IDC_CONN_EDIT_SCOPE,84,41,60,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Default",IDC_CONN_BTN_DEF_MULTICAST,150,41,36,11
    LTEXT           "Multicast address:",IDC_STATIC,24,61,60,8
    CONTROL         "Use unicode (UTF-8) encoding per default",
                    IDC_CONN_CHECK_UTF8,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,12,203,150,12
    CONTROL         "Use multicast networking",IDC_CONN_RADIO_MULTICAST,
                    "Button",BS_AUTORADIOBUTTON,12,30,174,10
    CONTROL         "Use broadcast networking",IDC_CONN_RADIO_BROADCAST,
                    "Button",BS_AUTORADIOBUTTON,12,78,174,8
    CONTROL         "Use IPX networking",IDC_CONN_RADIO_IPX,"Button",
                    BS_AUTORADIOBUTTON,12,156,174,8
    GROUPBOX        "Miscellaneous Options",IDC_STATIC,0,174,246,62
    LTEXT           "This encoding will be used when communicating over channels and with clients that do not report the encoding they use.",
                    IDC_CONN_LABEL_UTF8,24,216,216,18
    CONTROL         "",IDC_CONN_IP_MULTICAST,"SysIPAddress32",WS_TABSTOP,84,
                    60,102,12
    GROUPBOX        "Broadcast masks",IDC_STATIC,24,87,192,66
    LISTBOX         IDC_CONN_BCAST_LIST,30,96,87,50,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    CONTROL         "",IDC_CONN_BCAST_INPUT,"SysIPAddress32",WS_TABSTOP,122,
                    107,88,12
    PUSHBUTTON      "&Add",IDC_CONN_BCAST_ADD,122,123,42,13
    PUSHBUTTON      "&Remove",IDC_CONN_BCAST_REMOVE,168,123,42,13
END

/* channel settings dialog
 */
IDD_CS DIALOGEX 0, 0, 264, 66
STYLE DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_SYSMENU
	| WS_VISIBLE | DS_CENTER | WS_CLIPSIBLINGS | WS_CAPTION
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Channel topic",IDC_STATIC,0,0,264,46
    LTEXT           "Channel name:",IDC_STATIC,5,11,60,8
    EDITTEXT        IDC_CS_EDIT_NAME,54,9,90,12,ES_AUTOHSCROLL | WS_DISABLED
    LTEXT           "Current topic:",IDC_STATIC,8,30,48,8
    EDITTEXT        IDC_CS_EDIT_TOPIC,54,28,162,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Set",IDC_CS_BTN_SET,222,28,36,12
    PUSHBUTTON      "OK",IDOK,204,49,57,14
END

/* join channel dialog
 */
IDD_JC DIALOGEX 0, 0, 174, 42
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | 
    WS_VISIBLE | WS_CLIPSIBLINGS | WS_CAPTION | WS_SYSMENU
CAPTION "Join channel"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "&Join",IDOK,118,24,52,14
    LTEXT           "Channel:",IDC_STATIC,6,8,30,8
    COMBOBOX        IDC_JC_COMBO_CHANNEL,36,6,134,62,CBS_DROPDOWN | CBS_SORT | 
                    WS_VSCROLL | WS_TABSTOP
END

/* set nickname dialog
 */
IDD_SN DIALOGEX 0, 0, 186, 42
STYLE DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_SYSMENU
	| WS_VISIBLE | DS_CENTER | WS_CLIPSIBLINGS | WS_CAPTION
CAPTION "Set nickname"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,78,24,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,132,24,50,14
    LTEXT           "Your nickname:",IDC_STATIC,6,8,54,8
    EDITTEXT        IDC_SN_EDIT_NICKNAME,56,6,126,12,ES_AUTOHSCROLL
END

/* "user details: basic info" property page
 */
IDD_USERINFO DIALOGEX 0, 0, 222, 132
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Computer name:",IDC_STATIC,6,6,54,8
    LTEXT           "User name:",IDC_STATIC,6,18,54,8
    LTEXT           "Workgroup:",IDC_STATIC,6,42,54,8
    LTEXT           "Platform:",IDC_STATIC,6,54,54,8
    LTEXT           "Software:",IDC_STATIC,6,66,54,8
    LTEXT           "Channels:",IDC_STATIC,6,78,48,8
    LISTBOX         IDC_USERINFO_CHANNELS,66,78,96,48,LBS_SORT | LBS_NOTIFY |
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "",IDC_USERINFO_COMPUTER,66,6,150,8
    LTEXT           "",IDC_USERINFO_USER,66,18,150,8
    LTEXT           "",IDC_USERINFO_NODE,66,30,150,8
    LTEXT           "",IDC_USERINFO_WORKGROUP,66,42,150,8
    LTEXT           "",IDC_USERINFO_PLATFORM,66,54,150,8
    LTEXT           "",IDC_USERINFO_SOFTWARE,66,66,150,8
    LTEXT           "Node address:",IDC_STATIC,6,30,54,8
END

/* "user details: <protocol> options" property page
 */
IDD_USEROPT DIALOGEX 0, 0, 222, 132
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Nickname:",IDC_STATIC,6,8,34,8
    EDITTEXT        IDC_USEROPT_NICKNAME,42,6,120,12,ES_AUTOHSCROLL
    PUSHBUTTON      "&Set",IDC_USEROPT_SET,168,6,48,12
    LTEXT           "You can override nickname for the contact. This can be useful when user changes his nickname while you are offline and you want to retain contact's history.",
                    IDC_STATIC,12,20,204,24
    GROUPBOX        "Contact options",IDC_STATIC,6,54,210,72
    CONTROL         "Do not let the nickname change when user renames.",
                    IDC_USEROPT_LOCKNICK,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,12,82,180,8
    COMBOBOX        IDC_USEROPT_PREFERS,67,66,76,46,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Contact prefers:",IDC_STATIC,12,68,54,8
END

/* dll/pe version info
 */
VS_VERSION_INFO VERSIONINFO
 FILEVERSION VQCHAT_VER_MAJ0,VQCHAT_VER_MAJ1,VQCHAT_VER_MIN0,VQCHAT_VER_MIN1
 PRODUCTVERSION VQCHAT_VER_MAJ0,VQCHAT_VER_MAJ1,VQCHAT_VER_MIN0,VQCHAT_VER_MIN1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004e4"
        BEGIN
            VALUE "Comments", "Licensed under the terms of the GNU General Public License\0"
            VALUE "CompanyName", "\0"
            VALUE "FileDescription", VQCHAT_PROTO_NAME " protocol plugin for Miranda IM\0"
            VALUE "FileVersion", VQCHAT_VER_FILEVERSION
            VALUE "InternalName", VQCHAT_PROTO_NAME " protocol plugin for Miranda IM\0"
            VALUE "LegalCopyright", VQCHAT_VER_COPYRIGHT "\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", VQCHAT_PROTO_DLL "\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "\0"
            VALUE "ProductVersion", VQCHAT_VER_FILEVERSION
#ifndef NDEBUG
            VALUE "SpecialBuild", "Debug build\0"
#else
            VALUE "SpecialBuild", "\0"
#endif
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1252
    END
END
