#include "i_uconst.inc"

LANGUAGE 0,0

IDD_UA DIALOGEX 0, 0, 304, 226, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE  WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0
{
  CTEXT    "Action list",-1, 0,2,134,11, SS_CENTERIMAGE
  CONTROL  "", IDC_UA_ACTIONLIST, "SysListView32",
           WS_BORDER | WS_TABSTOP |
           LVS_NOCOLUMNHEADER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SINGLESEL,
           0, 13, 134, 212, WS_EX_CONTROLPARENT

  CTEXT    "Where to use",-1, 138,2,160,11, SS_CENTERIMAGE
  CONTROL  "", IDC_UA_PLACELIST, "SysListView32",
           WS_BORDER | WS_TABSTOP |
           LVS_NOCOLUMNHEADER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SINGLESEL,
           138, 13, 160, 74, WS_EX_CONTROLPARENT

  GROUPBOX     "Common"                , IDC_UA_COMMON  , 138, 88,164,38
  AUTOCHECKBOX "2 state button/item"   , IDC_UA_TWOSTATE, 140, 96,160,14, BS_LEFTTEXT | BS_RIGHT
  AUTOCHECKBOX "Save button/item state", IDC_UA_SAVSTATE, 140,110,160,14, BS_LEFTTEXT | BS_RIGHT

  AUTOCHECKBOX "Contact related", IDC_UA_GLOBAL, 138,128,164,14, BS_LEFTTEXT | BS_RIGHT

  // Buttons settings block
  RTEXT        "Normal button tooltip",IDC_UA_TTNORMALT, 138,144,164,12, SS_CENTERIMAGE
  EDITTEXT                             IDC_UA_TTNORMALV, 138,157,164,12, ES_AUTOHSCROLL

  RTEXT        "Pressed button tooltip",IDC_UA_TTPRESSEDT, 138,172,164,12, SS_CENTERIMAGE
  EDITTEXT                              IDC_UA_TTPRESSEDV, 138,185,164,12, ES_AUTOHSCROLL

  PUSHBUTTON   ">"            , IDC_UA_BLOCK, 292,146, 10,52
  GROUPBOX     "Main settings", IDC_UA_MENU , 138,142,152,58

  // Block #1 (Menu data block)
  RTEXT        "Root popup:",IDC_UA_POPUPT, 140,150,146,12, SS_CENTERIMAGE
  EDITTEXT                   IDC_UA_POPUPV, 141,162,146,12, ES_AUTOHSCROLL

  RTEXT        "Menu item name:",IDC_UA_VARNAMEST, 140,174,146,12, SS_CENTERIMAGE
  EDITTEXT                       IDC_UA_VARNAMESV, 141,186,146,12, ES_AUTOHSCROLL

  // Block #2 (Menu settings block)
  AUTOCHECKBOX "Separated"       ,IDC_UA_SEPARATE   , 140,150,148,14, BS_LEFTTEXT | BS_RIGHT
  AUTOCHECKBOX "Do not translate",IDC_UA_NOTRANSLATE, 140,166,148,14, BS_LEFTTEXT | BS_RIGHT

  RTEXT        "Show only if variables return 1",IDC_UA_SHOWVART, 138,200,164,12, SS_CENTERIMAGE
  EDITTEXT                                       IDC_UA_SHOWVARV, 138,213,164,12, ES_AUTOHSCROLL

}

IDI_ACTION ICON "action.ico"
