
#include <windows.h>
#include "version.h"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION __FILEVERSION_STRING
 PRODUCTVERSION __FILEVERSION_STRING
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904b0"
        BEGIN
            VALUE "FileDescription", "Miranda IM Mmap DataBase Engine 3x"
            VALUE "FileVersion", __VERSION_STRING
            VALUE "LegalCopyright", "Copyright (C) 2000-2007"
            VALUE "OriginalFilename", "dbx_mmap.dll"
            VALUE "ProductName", "Miranda IM Mmap DataBase Engine 3x"
            VALUE "ProductVersion", __VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1200
    END
END
