#include "resource.h"
//#include "afxres.h"
#define WS_POPUP            0x80000000L
#define WS_CHILD            0x40000000L
#define BS_AUTOCHECKBOX     0x00000003L
#define WS_TABSTOP          0x00010000L
#define SS_ETCHEDHORZ       0x00000010L
#define WS_GROUP            0x00020000L
#ifndef IDC_STATIC
#define IDC_STATIC (-1)
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_SHLOPTS DIALOG DISCARDABLE  0, 0, 312, 238
STYLE WS_POPUP
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "Display contacts in their assigned groups (if any)",
                    IDC_USEGROUPS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,
                    35,281,8
    CONTROL         "Only if/when the contact list is using them",
                    IDC_CLISTGROUPS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,29,
                    50,267,8
    CONTROL         "Display hidden, ignored or temporary contacts",
                    IDC_SHOWFULL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,65,
                    281,8
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,26,21,192,1
    LTEXT           "Menus",IDC_CAPMENUS,10,17,24,8
    LTEXT           "",IDC_STATIC,214,16,10,11,NOT WS_GROUP
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,34,145,183,1
    LTEXT           "Shell Status",IDC_CAPSHLSTATUS,10,141,43,8
    LTEXT           "",IDC_STATIC,214,111,10,11,NOT WS_GROUP
    LTEXT           "...",IDC_STATUS,15,154,253,12
    GROUPBOX        "Shell context menus",IDC_STATIC,0,0,311,238
    CONTROL         "Do not display the profile name in use",IDC_NOPROF,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,80,285,8
    CONTROL         "Show contacts that you have set privacy rules for",
                    IDC_SHOWINVISIBLES,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    15,110,290,8
    PUSHBUTTON      "Remove",IDC_REMOVE,14,173,42,14
    CONTROL         "Do not show status icons in menus",IDC_USEOWNERDRAW,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,95,290,8
    LTEXT           "",IDC_STATIC,214,136,10,11,NOT WS_GROUP
    CONTROL         "Do not show contacts that are offline, even if my contact list does",IDC_HIDEOFFLINE,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,125,290,8
END

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,6,6
 PRODUCTVERSION 1,0,6,6
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "\0"
            VALUE "FileDescription", "'Click ''n'' send support from Explorer/Common dialogs/Desktop, Right click on a file/folder to be presented with all your Miranda contact lists and then select the profile/contact you want to send to.\0"
            VALUE "FileVersion", "1, 0, 6, 6\0"
            VALUE "InternalName", "shlext\0"
            VALUE "LegalCopyright", "\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "shlext.dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "\0"
            VALUE "ProductVersion", "1, 0, 6, 6\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END

