#include "..\src\resource.h"
#include <windows.h>
#ifndef IDC_STATIC
#define IDC_STATIC (-1)
#endif
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif
#ifdef APSTUDIO_INVOKED

1 TEXTINCLUDE
BEGIN
    "..\\src\\resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#include ""winres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ACCMGRUI DIALOGEX 0, 0, 186, 134
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Username:",IDC_STATIC,0,14,38,12,SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_USERNAME,65,14,115,12,ES_AUTOHSCROLL
    LTEXT           "Password:",IDC_STATIC,0,30,38,12,SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_PASSWORD,65,30,115,12,ES_PASSWORD | ES_AUTOHSCROLL
    CONTROL         "Save password",IDC_SAVEPASSWORD,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,65,46,115,10
    CONTROL         "Create new account",IDC_REGISTERACCOUNT,"Hyperlink",
                    0x0,0,62,100,8
END


IDD_OPTIONS_BASIC DIALOGEX 0, 0, 304, 200
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Tlen",IDC_TLEN,0,0,304,42
    LTEXT           "Username:",IDC_STATIC,8,12,52,8
    EDITTEXT        IDC_EDIT_USERNAME,70,10,86,12,ES_AUTOHSCROLL
    CONTROL         "Create new account",IDC_REGISTERACCOUNT,"Hyperlink",
                    0x0,170,12,100,8
    LTEXT           "Password:",IDC_STATIC,8,26,52,8
    EDITTEXT        IDC_EDIT_PASSWORD,70,24,86,12,ES_PASSWORD |
                    ES_AUTOHSCROLL
    CONTROL         "Save password",IDC_SAVEPASSWORD,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,170,26,100,10
    GROUPBOX        "Options",IDC_SIMPLE,0,44,304,156
    CONTROL         "Automatically reconnect after unintentional disconnection",
                    IDC_RECONNECT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,8, 56,239,10
    CONTROL         "Leave status message after disconnection",
                    IDC_OFFLINE_MESSAGE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,8,68,168,10
    COMBOBOX        IDC_OFFLINE_MESSAGE_OPTION,190,67,75,140,
                    CBS_DROPDOWNLIST | WS_TABSTOP
    CONTROL         "Ignore advertisements",
                    IDC_IGNORE_ADVERTISEMENTS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,8, 80,250,10
    CONTROL         "Automatically delete contacts not in my roster",
                    IDC_ROSTER_SYNC,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,8, 92,250,10
    CONTROL         "Show offline users with status messages as invisible in contact list",
                    IDC_SHOW_OFFLINE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP, 8,104,250,10
    CONTROL         "Enable avatars",
                    IDC_AVATARS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP, 8,116,250,10
    CONTROL         "Send and receive client version information",
                    IDC_VERSIONINFO,"Button",BS_AUTOCHECKBOX | WS_TABSTOP, 8,128,250,10
    LTEXT           "Alert policy",IDC_STATIC,8,140,70,8
    COMBOBOX        IDC_ALERT_POLICY,95,139,190,100,
                    CBS_DROPDOWNLIST | WS_TABSTOP
    CONTROL         "Use Nudge plugin",
                    IDC_NUDGE_SUPPORT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    24,153,120,10
    CONTROL         "Log alerts as messages",
                    IDC_LOG_ALERTS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    150,153,130,10
    LTEXT           "Group chat policy",IDC_STATIC,8,168,70,8
    COMBOBOX        IDC_MUC_POLICY,95,166,190,100,
                    CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT           "Image transfer policy",IDC_STATIC,8,183,70,8
    COMBOBOX        IDC_IMAGE_POLICY,95,181,190,100,
                    CBS_DROPDOWNLIST | WS_TABSTOP
END


IDD_OPTIONS_VOICE DIALOGEX 0, 0, 304, 200
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Voice Chats",IDC_STATIC,0,0,304,57
    LTEXT           "Voice chat policy",IDC_STATIC,8,12,70,8
    COMBOBOX        IDC_VOICE_POLICY,95,10,190,100,
                    CBS_DROPDOWNLIST | WS_TABSTOP
	LTEXT           "Recording device:",IDC_STATIC,8,26,105,8
    COMBOBOX        IDC_VOICE_DEVICE_IN,120,24,110,100,CBS_DROPDOWNLIST |
                    WS_TABSTOP
    LTEXT           "Playback device:",IDC_STATIC,8,40,105,8
    COMBOBOX        IDC_VOICE_DEVICE_OUT,120,38,110,100,CBS_DROPDOWNLIST |
                    WS_TABSTOP
END

IDD_OPTIONS_ADVANCED DIALOGEX 0, 0, 304, 200
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Expert Options",IDC_STATIC,0,0,304,74
    LTEXT           "Login server:",IDC_STATIC,8,18,75,8
    EDITTEXT        IDC_EDIT_LOGIN_SERVER,90,16,90,12,ES_AUTOHSCROLL
    LTEXT           "Connection Host:",IDC_STATIC,8,32,75,8
    EDITTEXT        IDC_HOST,90,30,90,12,ES_AUTOHSCROLL | WS_DISABLED
    LTEXT           "Port:",IDC_STATIC,194,32,35,8
    EDITTEXT        IDC_HOSTPORT,230,30,26,12,ES_AUTOHSCROLL | ES_NUMBER |
                    WS_DISABLED
    CONTROL         "Keep connection alive",IDC_KEEPALIVE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,8,47,250,10
    CONTROL         "Enable encryption",IDC_USE_SSL,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,8,60,250,10
		    
    CONTROL         "Enable Always Visible and Never Visible",
                    IDC_VISIBILITY_SUPPORT,"Button",BS_AUTOCHECKBOX | NOT WS_VISIBLE |
                    WS_TABSTOP,8,60,250,10

    GROUPBOX        "P2P Connections",IDC_STATIC,0,100,304,98
    CONTROL         "Use proxy for incoming connections",IDC_FILE_USE_PROXY,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,8,114,271,10
    LTEXT           "Proxy type:",IDC_FILE_PROXY_TYPE_LABEL,10,130,48,8,
                    WS_DISABLED
    COMBOBOX        IDC_FILE_PROXY_TYPE,68,128,80,48,CBS_DROPDOWNLIST |
                    WS_DISABLED | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Proxy server:",IDC_FILE_PROXY_HOST_LABEL,10,145,48,8,
                    WS_DISABLED
    EDITTEXT        IDC_FILE_PROXY_HOST,68,143,80,12,ES_AUTOHSCROLL |
                    WS_DISABLED | WS_GROUP
    LTEXT           "Port:",IDC_FILE_PROXY_PORT_LABEL,174,145,25,8,
                    WS_DISABLED
    EDITTEXT        IDC_FILE_PROXY_PORT,204,143,30,12,ES_AUTOHSCROLL |
                    ES_NUMBER | WS_DISABLED
    CONTROL         "Proxy requires authorization",IDC_FILE_PROXY_USE_AUTH,
                    "Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,8,
                    160,271,10
    LTEXT           "Username:",IDC_FILE_PROXY_USER_LABEL,10,176,47,8,
                    WS_DISABLED
    EDITTEXT        IDC_FILE_PROXY_USER,68,175,80,12,ES_AUTOHSCROLL |
                    WS_DISABLED
    LTEXT           "Password:",IDC_FILE_PROXY_PASSWORD_LABEL,153,176,45,8,
                    WS_DISABLED
    EDITTEXT        IDC_FILE_PROXY_PASSWORD,204,175,81,12,ES_PASSWORD |
                    ES_AUTOHSCROLL | WS_DISABLED


END

IDD_OPTIONS_POPUPS DIALOGEX DISCARDABLE  0, 0, 304, 143
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN

    GROUPBOX        "Mail Notification",IDC_STATIC,0,0,304,110
    CONTROL         "Enable incoming mail notification",IDC_ENABLEPOPUP,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,8,12,267,10
    GROUPBOX        "Colors",IDC_STATIC,8,26,140,55
    LTEXT           "Background",IDC_STATIC,47,43,95,8
    LTEXT           "Text",IDC_STATIC,47,62,96,8
    CONTROL         "",IDC_COLORBKG,"ColourPicker",WS_TABSTOP,17,41,24,12
    CONTROL         "",IDC_COLORTXT,"ColourPicker",WS_TABSTOP,17,59,24,12
    GROUPBOX        "Delay",IDC_STATIC,157,26,140,55
    CONTROL         "&From Popup plugin",IDC_DELAY_POPUP,"Button",
                    BS_AUTORADIOBUTTON,164,40,125,10
    CONTROL         "&Custom",IDC_DELAY_CUSTOM,"Button",BS_AUTORADIOBUTTON,
                    164,53,98,10
    EDITTEXT        IDC_DELAY,267,51,21,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "P&ermanent",IDC_DELAY_PERMANENT,"Button",
                    BS_AUTORADIOBUTTON,164,67,123,10
    PUSHBUTTON      "Preview",IDC_PREVIEW,119,90,70,14
END

IDD_PASSWORD DIALOG DISCARDABLE  0, 0, 151, 63
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP |
    WS_VISIBLE | WS_CAPTION
CAPTION "Tlen Password"
FONT 8, "MS Shell Dlg"
BEGIN
    EDITTEXT        IDC_JID,7,7,137,12,ES_READONLY | NOT WS_BORDER | NOT
                    WS_TABSTOP
    EDITTEXT        IDC_PASSWORD,7,22,137,12,ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,23,42,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,77,42,50,14
END

IDD_USER_VCARD DIALOGEX 0, 0, 222, 140
STYLE DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Nickname:",IDC_STATIC,5,8,51,8
    EDITTEXT        IDC_NICKNAME,58,6,102,12,ES_AUTOHSCROLL
    LTEXT           "First name:",IDC_STATIC,5,21,51,8
    EDITTEXT        IDC_FIRSTNAME,58,19,102,12,ES_AUTOHSCROLL
    LTEXT           "Last name:",IDC_STATIC,5,34,51,8
    EDITTEXT        IDC_LASTNAME,58,32,102,12,ES_AUTOHSCROLL
    LTEXT           "E-mail:",IDC_STATIC,5,47,51,8
    EDITTEXT        IDC_EMAIL,58,45,102,12,ES_AUTOHSCROLL
    LTEXT           "Gender:",IDC_STATIC,5,61,51,8
    COMBOBOX        IDC_GENDER,58,59,55,52,CBS_DROPDOWN | WS_VSCROLL |
                    WS_TABSTOP
    LTEXT           "Year of birth:",IDC_STATIC,120,61,53,8
    EDITTEXT        IDC_AGE,176,59,27,12,ES_AUTOHSCROLL
    LTEXT           "City:",IDC_STATIC,6,75,51,8
    EDITTEXT        IDC_CITY,58,73,102,12,ES_AUTOHSCROLL
    LTEXT           "School:",IDC_STATIC,5,88,51,8
    EDITTEXT        IDC_SCHOOL,58,86,102,12,ES_AUTOHSCROLL
    LTEXT           "Occupation:",IDC_STATIC,5,102,51,8
    COMBOBOX        IDC_OCCUPATION,57,100,102,96,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Looking for:",IDC_STATIC,5,116,51,8
    COMBOBOX        IDC_LOOKFOR,57,114,102,96,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    CONTROL         "Voice chats",IDC_VOICECONVERSATIONS,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,5,130,107,10
    CONTROL         "Publicly visible status",IDC_PUBLICSTATUS,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,112,130,107,10
    PUSHBUTTON      "Save changes",IDC_SAVE,164,111,53,16
END

IDD_USER_CHANGEAVATAR DIALOGEX 0, 0, 180, 80
STYLE DS_SETFONT | DS_3DLOOK | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER  | WS_POPUP | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0x1
CAPTION "Avatar"
BEGIN
    GROUPBOX        "Avatar Options",IDC_STATIC,5,2,170,55
    CONTROL         "Public avatar",IDC_PUBLICAVATAR,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,15,150,13
    PUSHBUTTON      "OK",IDOK,115,62,60,13
END


IDD_USER_INFO DIALOG DISCARDABLE  0, 0, 222, 146
STYLE DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Tlen login:",IDC_STATIC,5,2,48,8
    EDITTEXT        IDC_INFO_JID,53,2,73,12,ES_AUTOHSCROLL | ES_READONLY |
                    NOT WS_BORDER
    LTEXT           "Subscription:",IDC_STATIC,5,14,48,8,NOT WS_GROUP
    EDITTEXT        IDC_SUBSCRIPTION,53,14,131,12,ES_READONLY | NOT WS_BORDER |
                    NOT WS_TABSTOP
    LTEXT           "School:",IDC_STATIC,5,44,48,8
    EDITTEXT        IDC_SCHOOL,53,44,131,12,ES_AUTOHSCROLL | ES_READONLY |
                    NOT WS_BORDER
    LTEXT           "Occupation:",IDC_STATIC,5,56,48,8
    EDITTEXT        IDC_OCCUPATION_TEXT,53,56,135,12,ES_AUTOHSCROLL |
                    ES_READONLY | NOT WS_BORDER
    LTEXT           "Looking for:",IDC_STATIC,5,68,48,8
    EDITTEXT        IDC_LOOKFOR_TEXT,53,68,136,12,ES_AUTOHSCROLL |
                    ES_READONLY | NOT WS_BORDER
    LTEXT           "Software:",IDC_STATIC,5,100,48,8
    EDITTEXT        IDC_SOFTWARE,54,100,140,12,ES_AUTOHSCROLL | ES_READONLY |
                    NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT           "Version:",IDC_STATIC,5,112,48,8
    EDITTEXT        IDC_VERSION,54,112,140,12,ES_AUTOHSCROLL | ES_READONLY |
                    NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT           "System:",IDC_STATIC,5,124,48,8
    EDITTEXT        IDC_SYSTEM,54,124,140,12,ES_AUTOHSCROLL | ES_READONLY |
                    NOT WS_BORDER | NOT WS_TABSTOP
END

IDD_ADVSEARCH DIALOGEX 0, 0, 334, 178
STYLE DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_BORDER
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Personal Information",IDC_PERSONALGROUP,7,7,156,164
    LTEXT           "First name:",IDC_STATIC,15,22,50,8
    EDITTEXT        IDC_FIRSTNAME,65,20,91,12,ES_AUTOHSCROLL
    LTEXT           "Last name:",IDC_STATIC,15,37,50,8
    EDITTEXT        IDC_LASTNAME,65,35,91,12,ES_AUTOHSCROLL
    LTEXT           "Nickname:",IDC_STATIC,15,52,50,8
    EDITTEXT        IDC_NICK,65,50,91,12,ES_AUTOHSCROLL
    LTEXT           "E-mail:",IDC_STATIC,15,67,50,8
    EDITTEXT        IDC_EMAIL,65,65,91,12,ES_AUTOHSCROLL
    LTEXT           "Gender:",IDC_STATIC,15,85,50,8
    COMBOBOX        IDC_GENDER,65,83,91,51,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    LTEXT           "Age:",IDC_STATIC,15,100,50,8
    EDITTEXT        IDC_AGEFROM,65,98,27,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "to",IDC_STATIC,98,100,21,8
    EDITTEXT        IDC_AGETO,123,98,27,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "City:",IDC_STATIC,15,118,50,8
    EDITTEXT        IDC_CITY,65,116,91,12,ES_AUTOHSCROLL
    LTEXT           "Occupation:",IDC_STATIC,15,135,50,8
    COMBOBOX        IDC_OCCUPATION,65,133,91,93,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "School:",IDC_STATIC,15,150,50,8
    EDITTEXT        IDC_SCHOOL,65,148,91,12,ES_AUTOHSCROLL
    GROUPBOX        "Extra Search Criteria",IDC_EXTRAGROUP,171,7,156,67
    LTEXT           "Status:",IDC_STATIC,177,22,50,8
    COMBOBOX        IDC_STATUS,227,20,91,113,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    LTEXT           "Looking for:",IDC_STATIC,177,37,50,8
    COMBOBOX        IDC_LOOKFOR,227,35,91,172,CBS_DROPDOWNLIST | WS_VSCROLL |
                    WS_TABSTOP
    LTEXT           "Plan:",IDC_STATIC,177,52,50,8,WS_DISABLED
    COMBOBOX        IDC_PLAN,227,50,91,113,CBS_DROPDOWNLIST | WS_DISABLED |
                    WS_VSCROLL | WS_TABSTOP
END

IDD_VOICE DIALOG DISCARDABLE  0, 0, 151, 122
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER |
    WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Tlen Voice Chat"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "",IDC_MICROPHONE,"MButtonClass",0x0,12,7,16,16,
                    0x18000000L
    CONTROL         "",IDC_VUMETERIN,"Static",SS_OWNERDRAW,47,10,120,8
    CONTROL         "",IDC_SPEAKER,"MButtonClass",0x0,12,29,16,16,
                    0x18000000L
    CONTROL         "",IDC_VUMETEROUT,"Static",SS_OWNERDRAW,47,31,120,8
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,7,53,140,4
    LTEXT           "Quality",IDC_STATIC,10,64,45,8
    COMBOBOX        IDC_VCQUALITY,55,62,88,100,CBS_DROPDOWNLIST | WS_VSCROLL
    LTEXT           "In",IDC_STATIC,10,80,25,8
    LTEXT           "",IDC_BYTESIN,35,80,30,8
    LTEXT           "Out",IDC_STATIC,90,80,25,8
    LTEXT           "",IDC_BYTESOUT,115,80,30,8
    EDITTEXT        IDC_STATUS,10,91,131,8,ES_CENTER | ES_AUTOHSCROLL |
                    WS_DISABLED | NOT WS_BORDER
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,7,100,140,4
    PUSHBUTTON      "Finish",IDCANCEL,50,106,50,14
END

IDD_ACCEPT_VOICE DIALOG DISCARDABLE  0, 0, 210, 70
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_FIXEDSYS | DS_CENTER | WS_POPUP |
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Tlen Voice Chat Invitation"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "&Accept",IDC_ACCEPT,98,50,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,155,50,50,14
    LTEXT           "From:",IDC_STATIC,25,24,60,8
    LTEXT           "The following invitation to join a voice chat is received.",
                    IDC_STATIC,3,4,204,8
    EDITTEXT        IDC_FROM,85,20,100,12,ES_AUTOHSCROLL | ES_READONLY
    CONTROL         "",IDC_STATIC,"Static",SS_ETCHEDHORZ,3,40,203,4
END

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_TLEN               ICON         "tlen.ico"
IDI_MAIL               ICON         "mail.ico"
IDI_MUC                ICON         "groupchats.ico"
IDI_CHATS              ICON         "tlenchats.ico"
IDI_VOICE              ICON         "voicechat.ico"
IDI_MICROPHONE         ICON         "microphone.ico"
IDI_SPEAKER            ICON         "speaker.ico"
IDI_IMAGE              ICON         "image.ico"
#endif    // English (U.S.) resources



